@media (min-width: 768px) {
    .container-extenting {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container-extenting {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1396px;
    }
    .container-extenting {
        max-width: 1170px;
        width: 100%;
    }
}
@media (min-width:1300px) and (max-width:1370px) {
    .container {
        max-width:1200px;
    }
}