.post-type-archive-lp_course,
.tax-course_tag,
.tax-course_taxonomy {
    header.learn-press-courses-header {
        padding-left: 10px;
        padding-bottom: 0px;
        padding-top: 80px;
        h1 {
            // color: var(--primary-highlight-color);
            font-size: 3rem;
            font-weight: 400;
            padding: 0px;
            color: var(--color-cardCourse);
        }

        >p {
            margin-top: 32px;
            margin-bottom: 40px;
            font-size: var(--global-font-size);
            color: var(--second-color);
            font-family: var(--global-font-family);
            font-weight: 700;
        }
    }

    ul.learn-press-courses,
    ul.learn-press-courses[data-layout="list"] {

        .card-course {
            @include mobile {
                width: 100%;
            }
        }

        .load-btn {
            color: var(--second-color);
            border-color: var(--second-color);
            text-transform: inherit;
        }
    }

    &.term-atividades {
        header.learn-press-courses-header {
            h1 {
                color: var(--color-cardActivity);
            }
        }

        .courses-on-going {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

            .container:before,
            .container:after {
                display: none !important;
            }
        }
    
        div.faceted-posts-search__quick-select-field {
            button {
                color: var(--color-cardActivity);

                &:hover {
                    border-color: var(--color-cardActivity);
                }

                &.active {
                    background-color: var(--color-cardActivity);
                    border-color: var(--color-cardActivity);
                    color: white;
                }
            }
        }

        div.faceted-posts-search__posts-list {
            .card-course {
                margin-bottom: 45px;

                &:last-child {
                    margin-bottom: 0;

                    &.atividades-card {
                        .card-course--content {
                            padding-bottom: 0 !important;
                        }
                    }
                }

                &.atividades-card {
                    .card-course--content {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        padding-bottom: 45px !important;


                        .course-title {
                            a {
                                color: var(--color-cardActivity);
                            }
                        }

                        .card-course--text {
                            .side {
                                a.btn-bg-white {
                                    border-color: var(--color-cardActivity);
                                    color: var(--color-cardActivity);
                                    display: inline-block;

                                    &:hover {
                                        background-color: var(--color-cardActivity);
                                        border-color: var(--color-cardActivity);
                                        color: white;
                                    }
                                }

                                .metabox-container {
                                    .formated-date-course {
                                        color: var(--color-cardActivity);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .learn-press-pagination {
        display: none;
    }
}

/* AJUSTE NA PAGINA DE CURSOS online */
.term-cursos-online,
.term-cursos-gravados {
    
    #faceted-posts-search {
        .faceted-posts-search__quick-select-field {
            padding-left: 10px;
            margin-bottom: 64px;

            button {
                margin-bottom: 0px;
            }
        }

        .faceted-posts-search {
            .faceted-posts-search__generic-sort {
                padding-left: 0px;
                margin-right: 10px;
                .faceted-posts-search__filters{
                    padding-bottom: 0px !important;
                }
            }

            .courses-on-going {
                .container>.on-going-title {
                    color: #fc4513;

                    a {
                        color: #fc4513;
                    }
                }
            }
        }

        .courses-on-going {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

            .container:before,
            .container:after {
                display: none !important;
            }
        }
    }

    #courses-slider-on-going {
        .controls {
            button>i {
                color: #fc4513 !important;
            }
        }
    }
}

/* AJUSTES NOS CURSOS-GRAVADOS */
.term-cursos-gravados{
    .faceted-posts-search__quick-select-field{
        border-bottom-color: #9b59b6 !important;
        button{
            border:1px solid  #9b59b6;
            color:#9b59b6;
            &:hover{
                color: white;
                background-color: #9b59b6 !important;
                border: 1px solid #9b59b6 !important;
            }
            &:focus{
                color: white;
                background-color: #9b59b6 !important;
                border: 1px solid #9b59b6 !important;
            }
        }
        .active{
            color: white;
            background-color: #9b59b6 !important;
            border: 1px solid #9b59b6 !important;
            &:hover{
                color: white;
                background-color: #9b59b6 !important;

            }
            &:focus{
                color: white;
                background-color: #9b59b6 !important;
                border: 1px solid #9b59b6 !important;
            }
        }
    }
}