.post-type-archive-blog, .tax-categoria_do_blog,
.category {

    header.learn-press-courses-header {
        margin: 80px 0 40px;

        h1 {
            color: var(--primary-highlight-color);
            font-weight: 400;
            font-size: 48px;
        }
    }

    header.page-header {
        h1 {
            color: var(--primary-highlight-color);
            font-size: 3rem;
            font-weight: 400;
        }
    }

    ul.categorias-blog {
        list-style: none;
        margin: 32px 0px;
        padding: 0 !important;
        margin-bottom: 48px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            border: 1px solid transparent;

            a {
                display: inline-block;
                text-align: center;
                color: inherit;

            }

            background-color: white;
            color: var(--primary-highlight-color);
            font-size: 14px;
            padding: 8px 16px;
            margin-right: 5px;
            font-weight: 700;

            &:hover {
                color: var(--primary-highlight-color);
                border: 1px solid var(--primary-highlight-color);
            }

            &.current-cat {
                background-color: var(--primary-highlight-color);
                border-color: var(--primary-highlight-color);
                color: white !important;
            }

        }
    }


    .entry-layout {
        max-width: 441px !important;
    }

    .default-layout {
        display: flex;
        flex-wrap: wrap;
        @include mobile{
            justify-content: center;
        }
        &::before {
            display: none;
        }

        .grid-sizer {
            padding: 0;
        }

        .col-md-3 {
            position: inherit;
            min-height: 0;
            width: auto;
        }
    }

    .buddyx-post-content-wrapper {
        border: 1px solid #DDDD !important;
        max-width: 441px;
        width: 100%;
        height: 518px;

        @include mobile {
            max-width: 356px;
            width: 100%;
        }


        .entry-header {

            .post-thumbnail {

                img {
                    max-width: 441px;
                    width: 100%;
                    height: 248px;
                }
            }

            .post-categories {
                top: 260px;
            }

            .entry-title {
                margin-top: 50px;
                font-size: 32px;
                font-weight: 400;
                line-height: 41px;
                font-size: normal;
                font-family: 'Frank Ruhl Libre';
            }

            .entry-meta {

                width: 393px;

                .posted-by {
                    text-transform: capitalize;
                    font-family: 'Roboto';
                    color: #000000;
                    font-size: 18px;
                    margin-right: 10px;

                    img {
                        display: none;
                    }

                    a {
                        &:hover {
                            color: var(--color--second-color) !important;
                        }
                    }
                }

                .author {
                    text-transform: capitalize;
                    font-size: 18px;
                }



                .entry-date {
                    font-size: 18px;
                }

                .entry-cat-links {
                    display: none;
                }

                .post-edit-link {
                    display: none;
                }
            }
        }
    }

    .site-wrapper {
        #secondary {
            display: none;

            section#recent-posts-2 {
                display: none;
                width: max-content;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}