body.contact {
    .site-wrapper {
        min-height: inherit;
    }

    #primary {
        .entry-content {
            max-width: var(--container-width)!important;
            overflow: hidden;

            .wp-block-columns {
                display: flex;
                margin-bottom: 60px;

                @include mobile {
                    display: block;
                }

                .wp-block-column {
                    padding-bottom: 20px;

                    @include mobile {
                        margin-left: 0;
                    }

                    h1 {
                        @include mobile {
                            font-size: 30px;
                            line-height: 30px;
                            margin: 15px 0;
                        }
                    }

                    .card-course {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


    .contact-border {
        border: solid 1px var(--primary-highlight-color);
        background-color:#ffffff;
        height: 100%;
        margin-top: 60px;
        padding: 60px 60px 20px 60px;

        @include tablet {
            padding: 30px 30px 20px 30px;
        }

        @include small {
            padding: 15px;
        }

        .wp-block-group__inner-container {
            margin-bottom: 0;
            overflow: hidden;
        }

        .wpcf7-form-control-wrap.your-message{
            overflow:hidden;
        }

        ::-webkit-input-placeholder,
        input:-moz-placeholder,
        textarea:-moz-placeholder { font-size: 18px; }

        textarea{
            height: 100px;
            margin: 4px 0;
            padding: 16px 19.04px;
        }

        .wpcf7-not-valid-tip {
            position: relative;
            width: 400px;
            margin-bottom: -18px;
        }

        .wpcf7-response-output {
            margin: 30px 0 0;
            padding: 15px;
            border-width: 1px;
        }

        input,
        textarea {
            background-color: #ffffff;
            border: solid 1px var(--primary-highlight-color);
            color: solid 1px var(--primary-highlight-color);
            font-size: 18px;
            font-family: var(--global-font-family);
            margin-top: 10px;
            padding: 15px 20px;
            width: 100%;

            &[type="submit"] {
                margin: 20px 0 0;
                padding: 15px 50px;
                width: auto;

                &:hover {
                    background-color: var(--primary-highlight-color) !important;
                    color: #ffffff;
                }
            }
        }

    }

    .mc4wp-form {
        .newsletter-form {

            margin-top: 5.5px;
            &:not(.mc4wp-form-error) {
                // margin-bottom: 75px;
            }
            

            .card-course--content {
                width: 100%;

                h2 {
                    font-size: 48px;
                    line-height: 48px;
                    margin-top: 0;

                    @include mobile {
                        font-size: 30px;
                        line-height: 30px;
                        margin: 15px 0;
                    }
                }

                .wrapping-container {
                    border: 0;
                    display: block;
                    margin: 0;
                    padding: 0;
                }
            }

            h2 {
                color: var(--primary-highlight-color);
                font-weight: 400;
            }

            p {
                margin: 4px 0;
                @include mobile {
                    margin: 7px 0 16px;
                }
            }
        }
        .mc4wp-response {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 0;
            margin-top: -50px;
        }
    }

    .bg-contact {
        .wp-block-columns {
            margin-bottom: 0;
            margin-top: $small_spacing;

            .wp-block-column {
                margin-bottom: $small_spacing;
            }
            .wp-block-column:last-child {
                @include mobile {
                    flex-grow: 1;
                }
            }
        }
    }
}