.woocommerce-cart {
    .learn-press-cart-header {
        padding: 40px 15px;

        @include tablet-up {
            display: flex;
            justify-content: space-between;
            padding: 80px 15px 60px;
        }

        h1 {
            color: var(--primary-highlight-color);

            @include tablet-up {
                margin-bottom: 0;
            }
        }

        a.button {
            color: #fc4513;
            font-size: 18px;
            background-color: #ffffff !important;
            border: 1px solid #fc4513;
            border-radius: 0;

            &:hover {
                background-color: var(--primary-highlight-color) !important;
                color: white !important;
            }

            @include tablet-up {
                padding: 13px 30px;
            }
        }
    }

    form.woocommerce-cart-form {
        margin-bottom: 40px;

        @include tablet-up {
            margin-bottom: 80px;
        }

        .shop_table {
            border: 1px solid var(--light-gray);
            border-radius: 0;
            font-size: 16px;

            thead {
                background-color: $c_light_grey_lesson !important;
                color: var(--second-color) !important;
                th {
                    line-height: 2.1;
                }
            }

            td {
                padding: 15px;

                @include tablet-up {
                    padding: 25px 25px 25px 10px;
                }

                & > a {
                    font-weight: 400;

                    &.remove {
                        font-weight: 700;
                        padding-top: 0;

                        @include tablet-up {
                            width: auto;
                        }
                    }

                    @include mobile {
                        display: block;
                        padding-top: 15px;
                    }
                }

                .list-terms {
                    margin-bottom: 5px;

                    a {
                        color: var(--second-color);
                        font-size: 16px;
                        font-weight: 400;
                        font-family: var(--global-font-family);

                        @include tablet-up {
                            font-weight: 700;
                        }
                    }
                }

                // Thumbnail
                &.product-thumbnail {
                    img {
                        border-radius: 2px;
                    }
                }
            }

            // Coupon
            .coupon {

                input[type="text"] {
                    border-radius: 0;
                    padding: 14px 15px;
                    min-width: 210px;
                    max-height: 51px;

                    @include mobile {
                        min-width: 180px;
                    }

                    @include small {
                        float: none;
                        margin-bottom: 25px;
                        width: 100%;
                    }
                }

                button[type="submit"] {
                    font-family: var(--global-heading-font-family);
                    font-size: 18px;
                    min-width: 210px;
                    padding: 13px 30px;
                    text-align: center;
                    text-transform: lowercase;
                    width: auto;

                    @include mobile {
                        min-width: 180px;
                        padding: 13px;
                    }

                    @include small {
                        float: none;
                        width: 100%;
                    }

                    &:hover {
                        background-color: var(--primary-highlight-color) !important;
                        color: white;
                    }
                }
            }
        }
    }

    .cart-collaterals {
        .cart_totals {
            border-radius: 0;
            border: 1px solid var(--primary-highlight-color);
            box-shadow: none;
            padding: 0;

            h2 {
                background-color: var(--primary-highlight-color);
                color: white;
                font-size: 36px;
                margin-bottom: 40px;
                padding: 15px 30px;
            }

            table {
                border-color: var(--light-gray);
                border-radius: 8px;
                font-size: 16px;
                margin-bottom: 0;
                margin-left: 30px;
                width: calc(100% - 60px);
            }

            .wc-proceed-to-checkout {
                text-align: center;
                padding-bottom: 40px;
                padding-top: 40px;

                @include small-up {
                    text-align: right;
                }

                a {
                    font-family: var(--global-heading-font-family);
                    font-size: 18px;
                    min-width: 210px;
                    padding: 13px 30px;
                    text-align: center;
                    text-transform: lowercase;
                    width: auto;

                    &:hover {
                        background-color: var(--primary-highlight-color) !important;
                        color: white !important;
                    }

                    @include small-up {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}