.cultura-artistica{
   .site-sub-header{
    display: none;
   }
   h2{
    // color: #FC4513;
    color: #FC4513;
   }
   h3{
    font-size: 24px;
    color: #FC4513;
    margin-top: 40px;
   }
   p{
    color: #666;
    font-size: 18px;
   }
   .topo{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    h1{
    color: #231F20;
    font-family: "Le Jeune Deck";
    font-size: 169px;
    font-weight: 600;
    line-height: 85%;
    letter-spacing: -3.38px;
    margin-bottom: 60px;
        @media(max-width: 700px){
            font-size: 90px;
        }
    }
    h2{
        margin-top: 75px;
    }
    h3{
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .arte{
        img{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        }
        
    }
    img{
        margin-top: 50px;
        width: 100%;
    }
   }
   .grid-header{
    max-width: 1500px;
    width: 100%;
    @media(max-width: 1390px){
        max-width: 1355px;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    @media(max-width: 1370px){
        max-width: 1170px;
        width: 100%;
    }

    @media(max-width: 1299px){
        max-width: 1250px;
        width: 100%;
    }

    @media(max-width: 1255px){
        max-width: 1200px;
        width: 100%;
    }
    @media(max-width: 1199px){
        max-width: 955px;
        width: 100%;
    }
    &:nth-child(1){
        @media(max-width: 768px){
            text-align: start;
        }
    }
    .wp-block-column{
        p{
            @media(max-width: 768px){
                text-align: start;
            }
        }
    }
   
    a{
        color: #FC4513;
        font-size: 18px;
        text-decoration: underline;
        font-weight: 700;
        font-family: "Frank Ruhl Libre";
    }
   }
   .model-reduced{
    margin-bottom: 100px;
    @media(max-width: 782px){
        margin-bottom: 50px;
    }
    .card-course{
        @media(min-width: 768px){
            width: 100%;
        }
        @media(max-width: 991px){
            width: 100% !important;
        }
    }
   }
   .visite{
    margin-top: 70px;
    h2{
        max-width: 406px;
        width: 100%;
    }
    .infos-teatro{
        margin-top: 40px;
        max-width: 460px;
        width: 100%;    
        h4{
            font-size: 16px;
            color: #FC4513;
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
        }
        
    } 
   }
}
