/* #customer_details{
    #billing_persontype,
    #billing_company,
    #billing_phone_field,
    #billing_cnpj,
    #billing_cellphone{
        display: none;
    }
} */
#billing_phone_field{
    label > .optional{
        display: none !important;
    }
}
.entry-content{
    .wpmc-nav-wrapper{
        margin-bottom: 5vh;
        button{
            color: #fc4513;
            background-color: #ffffff !important;
            border: 1px solid #fc4513;
            border-radius: 0;
            &:hover{
                background-color:#fc4513 !important;
                color: white !important;
            }
        }
    }
}
.woocommerce{
    #billing_country_field,
    #billing_cellphone{
        display: none;
    }
   

    #order_review{
        margin-bottom: 36px;
        .wrap-button{
            display: none;
        }
        .title-payment{
            display: none;
        }
        
    } 
    
    .wpmc-steps-wrapper{
        #billing_country,
        #woocommerce_before_checkout_form,
        #billing_cellphone{
            display: none !important;
        }
        #billing_email_field{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
        }
    }
    #payment{
        .wc_payment_methods{
            .payment_method_bacs{
                .payment_box{
                    display: none !important;
                    p:last-child{
                        display: none;
                    }
                }
                p:last-child{
                    display: none !important;
                }
            }
            
            .payment_method_wc_piggly_pix_gateway{
                .header-wc_payment_method{
                    label{
                        span{
                            img{
                                display: none;
                            }
                        }
                    }
                }
                .payment_box{
                    display: none !important;
                    .wpgly-pix-description{
                        display: none;
                    }
                    img{
                        display: none;
                    }
                    .wpgly-pix-wrapper{
                        display: none !important;
                    }
                }
            }
            .payment_method_pagseguro{
                .header-wc_payment_method{
                    label{
                        span{
                            img{
                               
                            }
                        }
                    }

                }
            }
            .payment_method_paypal{
                .header-wc_payment_method{
                    label{
                        span{
                            img{
                                width: 10%;
                            }
                            a{
                                color:#fc4513 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

#order_comments_field{
    display: none;
}
#learn-press-checkout-form {
    background-color: white;
    border: 1px solid var(--primary-highlight-color);
    font-size: 14px;
    margin: 0 auto $large_spacing auto;
    max-width: 768px;
    width: 100%;

    .lp-checkout-form__after {
        margin: 0;
        padding: $large_spacing;
        width: 100%;
        float: none;

        #checkout-account-logged-in {
            a {
                color: var(--primary-highlight-color);
                font-size: 14px;
                line-height: 2;
            }
        }

        #checkout-account-login,
        #checkout-account-register {
            margin: 0 auto;
            max-width: 768px;
            width: 100%;

            h4 {
                color: var(--primary-highlight-color);
                font-size: 2rem;
            }

            ul.lp-form-fields {
                padding-bottom: 0;
            }

            label {
                display: block;
                font-size: 14px;
                line-height: var(--global-font-line-height);

                span.required {
                    color: red;
                    font-weight: 700;
                    border: 0 !important;
                    text-decoration: none;
                }
            }

            input {
                border-radius: 0;
                border: 0px;
                border-bottom: 1px solid var(--dark-gray);
                padding-left: 0px;
                width: 100%;

                &:focus {
                    border-color: var(--primary-color);
                    outline-color: transparent;
                }
            }

            .lp-checkout-remember {
                label {
                    cursor: pointer;
                    display: inline-block;
                    font-size: 14px !important;
                    font-weight: normal;
                    line-height: var(--global-font-line-height);

                    input {
                        border: 1px solid var(--second-color);
                        height: 19px;
                        width: 19px;
                    }
                }
            }

            .lp-checkout-sign-up-link,
            .lp-checkout-sign-in-link {
                font-size: 14px;
                line-height: var(--global-font-line-height);
                margin-top: 30px;

                a {
                    color: var(--primary-highlight-color);
                    font-size: 14px;
                    line-height: var(--global-font-line-height);
                }
            }

            a.lp-lost-password-link {
                color: var(--primary-highlight-color);
                font-size: 14px;
                font-weight: normal;
                line-height: var(--global-font-line-height);
                text-decoration: none;
            }
        }
        #checkout-payment {
            margin-bottom: 0;

            #checkout-order-action {
                button {
                    @extend .btn-bg-white;
    
                    border-radius: 0;
                    font-size: 1.2em;
                    font-weight: normal;
                    height: auto;
                    line-height: var(--global-font-line-height);
                    max-width: inherit;
                    padding: 10px 20px;
                    text-transform: lowercase;
                    width: auto;
    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        textarea.order-comments {
            border-radius: 0;
            border: 1px solid var(--dark-gray);
            width: 100%;

            &:focus {
                border-color: var(--primary-color);
                outline-color: transparent;
            }
        }
    }

    .learn-press-checkout-comment {
        display: none;
    }
}

.learn-press-form-login,
.learn-press-form-register {
    border: 0;
    border-radius: 0;
    margin-bottom: $small_spacing;
    max-width: 768px;

    h3 {
        color: var(--primary-highlight-color);
        font-size: 2rem;
        font-weight: 600;
    }

    button[type="submit"] {
        font-size: 1.2em;
        font-weight: normal;
        height: auto;
        line-height: var(--global-font-line-height);
        padding: 10px 20px;
        text-transform: lowercase;
        width: auto;
    }
}

.learnpress-checkout { // body
    @extend .simplified-header;

    .lp-archive-courses {
        #learn-press-checkout {
            margin-top: 55px;
            max-width: 800px;
            width: 100%;

            h2 {
                color: #fc4513;
                font-family: "Frank Ruhl Libre", serif;
                font-size: 48px;
                font-weight: normal;
                line-height: 1.1;
            }

            .order_details {
                text-align: left;

                @include small {
                    display: block;
                }

                tbody {
                    @include small {
                        display: block;
                        width: 100%;
                    }
                }

                tr {
                    @include small {
                        display: flex;
                        flex-direction: column;
                    }

                }
            }
        }
    }
}
#container-checkout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .woocommerce-info{
        max-width: 100%;
    }
    .woocommerce-form-coupon-toggle{
        .checkout_coupon{
            margin-top: 5vh;
            margin-bottom: 0px;

        }
        
        .woocommerce-info{
            display: none;
        }
    }
}

.woocommerce-checkout { // body

    div.woocommerce {
        padding-top: 40px;

        @include tablet-up {
            padding-top: 80px;
        }

        h1 {
            color: var(--primary-highlight-color);
        }

        form.woocommerce-form-login.login {
            display: block !important;
            max-width: 100%;
            padding: 25px !important;
            margin-top: 70px;
            > p:nth-child(2){
                display: none !important;
            }
            p {
            &.form-row-last {
                    float: left;
                    padding-left: 15px;

                    @include mobile {
                        padding-left: 0;
                        margin-bottom: 25px;
                    }
                }

                &.lost_password {
                    padding-left: 1px;
                    padding-top: 5px;

                    a {
                        color: var(--primary-highlight-color);
                        text-decoration: underline;
                    }
                }

                .woocommerce-form-login__rememberme {
                    padding-bottom: 0;
                    padding-top: 9px;

                    span {
                        font-size: 14px;
                    }
                }
            }

            label {
                font-size: 18px;
                padding-bottom: 8px;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"] {
                border: 1px solid var(--light-gray);
                border-radius: 0;
                font-size: 18px;
                padding: 14px 10px;
            }

            button[type="submit"] {
                background-color: white !important;
                border-color: var(--primary-highlight-color);
                color: var(--primary-highlight-color);
                font-family: var(--global-heading-font-family);
                font-size: 18px;
                min-width: 240px;
                padding: 13px;
                text-align: center;
                width: auto;

                &:hover {
                    background-color: var(--primary-highlight-color) !important;
                    color: white !important;
                }

                @include tablet-up {
                    padding: 13px 30px;
                }
            }
        }

        form.woocommerce-form-coupon {
            display: block !important;
            border: 1px solid var(--light-gray) !important;
            padding: 25px !important;

            p {
                margin-bottom: 0;

                &:first-child {
                    display: none;
                }

                &.form-row-first {
                    max-width: 350px;

                    @include mobile {
                        float: none;
                        margin-bottom: 25px;
                        max-width: 100%;
                        padding-left: 0;
                        width: 100%;
                    }
                }

                &.form-row-last {
                    float: left;
                    padding-left: 15px;

                    @include mobile {
                        float: none;
                        padding-left: 0;
                        text-align: right;
                        width: 100%;
                    }
                }
            }

            input[type="text"] {
                border: 1px solid var(--light-gray);
                border-radius: 0;
                font-size: 18px;
                padding: 14px 10px;

                &::placeholder {
                    text-transform: lowercase;
                }
            }

            button[type="submit"] {
                background-color: white !important;
                border-color: var(--primary-highlight-color);
                color: var(--primary-highlight-color);
                font-family: var(--global-heading-font-family);
                font-size: 18px;
                min-width: 240px;
                padding: 13px;
                text-align: center;
                width: auto;
    
                &:hover {
                    background-color: var(--primary-highlight-color) !important;
                    color: white !important;
                }
    
                @include tablet-up {
                    padding: 13px 30px;
                }
            }
        }

        form.checkout {
            border: 0;
            box-shadow: none;
            padding: 0 0 !important;

            @include tablet {
                padding: 40px 0 0 !important;
            }

            h3 {
                color:#fc4513;
                font-size: 36px;
                font-weight: 400;
            }
            label {
                font-size: 18px;
            }

            .form-row-first,
            .form-row-last,
            .form-row-first,
            .form-row-last {
                @include tablet {
                    float: none;
                    width: 100%;
                }
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"],
            textarea,
            .select2-container--default .select2-selection--single {
                border: 1px solid var(--light-gray);
                border-radius: 0;
            }

            .select2-container--default .select2-selection--single {
                @include tablet {
                    width: 100%;
                }

                .select2-selection__arrow {
                    background: url( $dir_assets + '/images/arrow-down-orange.svg' ) no-repeat center transparent;
                    right: 5px;
                    top: 7px;

                    b {
                        display: none;
                    }
                }
            }

            #billing_state_field {
                height: 80px;
            }

            .woocommerce-additional-fields {
                padding-top: 40px;

                @include tablet {
                    padding-bottom: 40px;
                }

                @include tablet-up {
                    padding-top: 60px;
                }

                .form-row.notes {
                    font-size: 18px;
                    padding: 0;

                    label {
                        margin-bottom: 10px;
                    }

                    .woocommerce-input-wrapper {
                        textarea {
                            border-radius: 0;
                            min-height: 80px;
                        }
                    }
                }
            }

            // Right side
            #order_review {

                table.shop_table {
                    border: 1px solid var(--light-gray);
                    border-radius: 0;

                    thead {
                        background-color: #F5F5F5;
                        font-size: 16px;

                        th {
                            line-height: 1;
                            padding: 25px;

                            &:last-child {
                                padding-left: 0;
                            }
                        }
                    }

                    tr {
                        td {
                            line-height: initial;

                            &:first-child {
                                padding-left: 20px;
                            }

                            &:last-child {
                                padding-right: 20px;
                                text-align: right;
                            }

                            &.product-name {
                                display: flex;

                                .product-thumb {
                                    flex-basis: 70px;
                                    overflow: hidden;
                                    height: 70px;
                                    width: 70px;

                                    img {
                                        height: 100%;
                                        object-fit: cover;
                                        width: 100%;
                                    }
                                }

                                .product-info {
                                    flex-basis: calc(100% - 90px);
                                    padding-left: 20px;

                                    .list-terms {
                                        li {
                                            color: var(--second-color);
                                            font-family: var(--global-font-family);
                                            font-size: 16px;
                                            font-weight: 700;
                                            line-height: 1;
                                        }
                                    }

                                    .course_name {
                                        color: var(--primary-highlight-color);
                                        font-weight: 400;
                                        line-height: 0.5;
                                    }
                                }
                            }

                            .woocommerce-Price-amount.amount {
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }

                    .cart-subtotal {
                        th {
                            font-size: 16px;
                            line-height: 1.7;
                        }
                    }

                    .order-total {
                        th {
                            font-size: 16px;
                            line-height: 1.7;
                        }

                        td {
                            .woocommerce-Price-amount.amount {
                                font-weight: 700;
                            }
                        }
                    }
                }

                .wrap-button {
                    margin-bottom: 50px;
                    text-align: right;

                    a.button {
                        background-color: #71B37D !important;
                        border-color: #71B37D;
                        color: white;
                        font-family: var(--global-heading-font-family);
                        font-size: 18px;
                        min-width: 240px;
                        padding: 13px;
                        text-align: center;
                        text-transform: lowercase;
                        width: auto;
            
                        &:hover {
                            background-color: white !important;
                            color: #71B37D;
                        }
            
                        @include tablet-up {
                            padding: 13px 30px;
                        }
                    }
                }

                #payment {
                    /* background-color: $c_light_grey_lesson; */
                    background-color: green;
                    ul.wc_payment_methods {
                        padding: 0;

                        li {
                            @include tablet {
                                margin: 15px 15px 30px 15px;
                            }

                            .header-wc_payment_method {
                                align-items: center;
                                display: flex;
                                position: relative;

                                label {
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    position: relative;
                                    z-index: 3;
                                    width: 100%;
                                    span {
                                        img {
                                            margin-left: 15px;
                                            max-height: 40px;
                                        }
                                        &:first-child {
                                            padding-left: 25px;
                                        }
                                    }
                                    span:last-child{
                                        img > {
                                            background-color: pink;
                                        }
                                    }
                                }

                                input[type="radio"] {
                                    position: absolute;
                                    visibility: hidden;

                                    &:checked ~ .check {
                                        border: 3px solid $c_light_grey_lesson;
                                        background-color: var(--primary-highlight-color);
                                        box-shadow: 0px 0px 0px 1px var(--second-color);
                                    }
                                }

                                .check {
                                    display: block;
                                    position: absolute;
                                    border: 1px solid #AAAAAA;
                                    border-radius: 100%;
                                    height: 15px;
                                    width: 15px;
                                    top: 12px;
                                    left: 0px;
                                    z-index: 2;
                                    transition: border .25s linear;
                                    -webkit-transition: border .25s linear;
                                }
                            }

                            .payment_box {
                                display: none !important;
                                p{
                                    display: none;
                                }
                            }

                            &.payment_method_wc_piggly_pix_gateway {
                               span{
                                img{
                                    display: none !important;
                                }
                               }
                                .payment_method_wc_piggly_pix_gateway {
                                    p.wpgly-pix-description {
                                        font-style: normal;
                                    }

                                    .wpgly-pix-step {
                                        padding-top: 15px;

                                        &::before {
                                            background-color: transparent;
                                            color: var(--second-color);
                                            font-size: 18px;
                                        }

                                        P {
                                            line-height: 1.2;
                                        }
                                    }
                                }
                            }

                            &.payment_method_pagseguro {
                                #pagseguro-payment-form {
                                    border: 1px solid #bbb3b9;
                                    padding-bottom: 15px;
                                    padding-top: 15px;
                                }

                                select {
                                    background-color: white;
                                    border: 1px solid #bbb3b9;
                                    border-radius: 0;
                                    height: 42px;
                                }
                            }

                            &.payment_method_paypal {
                                position: relative;
                                label {
                                    span {
                                        img {
                                            margin-bottom: 10px;
                                            margin-left: 0;
                                            max-height: 25px;
                                        }

                                        &:last-child {
                                            a.about_paypal {
                                                color: var(--primary-highlight-color);
                                                position: absolute;
                                                right: 0;
                                                top: -7px;

                                                &:hover {
                                                    text-decoration: underline;
                                                }

                                                @include small {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }

                                    
                                }
                                
                            }
                        }
                    }

                    .place-order {
                        padding: 30px;

                        @include tablet {
                            padding: 30px 15px 15px;
                        }

                        p {
                            background-color: red !important;
                            label {
                                font-size: 14px;
                            }

                            a {
                                color: var(--primary-highlight-color);

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    #place_order {
                        background-color: var(--primary-highlight-color) !important;
                        border-color: var(--primary-highlight-color);
                        color: white;
                        font-family: var(--global-heading-font-family);
                        font-size: 18px;
                        margin-top: 30px;
                        min-width: 240px;
                        padding: 13px;
                        text-align: center;
                        width: auto;
            
                        &:hover {
                            background-color: white !important;
                            color: var(--primary-highlight-color);
                        }
            
                        @include tablet-up {
                            padding: 13px 30px;
                        }
                    }
                }
            }
        }
    }
}