.error404 {
    .error {
        .page-header {
            .page-title {
                text-align: center;
                color: white;
                font-weight: bold;
                margin: 30px auto 0;
                font-size: 1.6rem;
            }
        }

        .page-content {
            text-align: center;
            color: white;
        }
    }
}