.page-template-template-history {

    .history-main-title {
        font-weight: normal;
        font-size: 48px;
        color: var(--primary-highlight-color);
        margin: 80px 0 40px;
    }

    .site-main {
        > .container {
            &:first-child {
                @include small {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .selectYear {
        display: block;
        margin: 0 0 36px!important;
        button {
            
            background-color: white;
            border-color: var(--primary-highlight-color);
            color: var(--primary-highlight-color);
            font-size: 14px;
            margin-bottom: 8px;
            margin-right: 8px;
            padding: 8px 16px;
            border-radius: 0;
            &.active {
                background-color: var(--primary-highlight-color);
                border-color: var(--primary-highlight-color);
                color: white
            }
            &:focus {
                box-shadow: 0 0 0 0;
                outline: 0;
            }
        }
    }

    .month {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgba(102, 102, 102, 0.2);

        &-title {
            font-weight: normal;
            font-size: 36px;
            line-height: 36px;
            color: var(--second-color);
            font-family: $f_title;
            width: 155px;
            margin-bottom: 20px;
            @media screen and (min-width: 1300px) {
                position: absolute;
                transform: rotate(-90deg);
                top: 60px;
                left: -118px;
                text-align: right;
                margin-bottom: 0!important;
            }
        }
    }

    .year {
        &-title {
            font-weight: bold;
            font-size: 2.4rem;
            color: black;
            margin-bottom: 30px;
            font-family: $f_title;

            @include mobile {
                margin-bottom: 10px;
            }
        }
    }

    .history-card {
        display: grid;
        grid-column-gap: 39px;
        margin-bottom: 40px;

        &.cursos-de-ferias{
            .title{
                a{
                    color: var(--color-cardFerias);
                }
            }
        }

        &.cursos{
            .title{
                a{
                    color: var(--color-cardCourse);
                }
            }
        }

        &.has-thumb {
            @media screen and (min-width: 1280px) {
                grid-template-columns: 788px auto;
                align-items: center;
            }
        }

        @include mobile {
            grid-template-columns: auto;
        }

        .thumbnail {
            overflow: hidden;

            img {
                width: 100%!important;
                max-width: 100%!important;
                max-height: 353.81px;
                object-fit: cover;
            }
        }
        
        .sideway{
            @include small-up {
                max-height: 353.81px;
            }
        }

        .title {
            font-family: $f_title;
            font-weight: normal;
            font-size: 30px;
            line-height: 36px;
            margin: 15px 0;

            a {
                color: var(--color-cardActivity);
            }

            @include tablet-up {
                margin: 20px 0;
            }
            
            @include medium-up {
                font-size: 36px;
                margin: 25px 0;
            }
        }

        .excerpt {
            margin: 15px 0;

            @include tablet-up {
                margin-bottom: 25px;
            }

            p {
                font-size: 14px;
                margin: 0;

                @include tablet-up {
                    font-size: 16px;
                }

                @include medium-up {
                    font-size: 18px;
                }
            }
        }

        .course-terms {
            font-weight: bold;
            font-size: 1.2em;
            margin-top: 10px;
        }
    }
}