.home {
    .banner-cultura-artistica{
        display: none;
        background-color: #f04213;
        justify-content: space-around;
        margin-bottom: 32px;
        @media(max-width: 782px){
            padding-bottom: 32px;
            padding-left: 15px;
            padding-right: 15px;
        }

        img{
            margin-top: 12px;
            margin-right: 32px;
            @media(max-width: 782px){
                margin-right: 0;
                margin-bottom: -20px;
            }
        }  
        p{
            font-family: "Frank Ruhl Libre", sans-serif;
            font-size: 24px !important;
            max-width: 547px;
            width: 100%;
            @media(max-width: 782px){
                max-width: 447px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
            }

        }
        .wp-block-buttons{
            @media(max-width: 782px){
                justify-content: center;
            }
        }
        .wp-block-button{
           margin-right: 13px;
           @media(max-width: 782px){
            margin-right: 0;
            }
            a{
                background: #71b37d;
                color: #ffffff;
                font-family: "Frank Ruhl Libre", sans-serif;
                font-size: 17px;
            }
        }  
    }

    .banner-cultura-artistica-arte{
        display: none;
        background-color: #ef4c23;
        justify-content: space-around;
        margin-bottom: 32px;
        @media(max-width: 782px){
            padding-bottom: 32px;
            padding-left: 15px;
            padding-right: 15px;
        }

        img{
            margin-top: 12px;
            margin-right: 32px;
            @media(max-width: 782px){
                margin-right: 0;
                margin-bottom: -20px;
            }
        }  
        p{
            font-family: "Frank Ruhl Libre", sans-serif;
            font-size: 24px !important;
            max-width: 547px;
            width: 100%;
            @media(max-width: 782px){
                max-width: 447px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
            }

        }
        .wp-block-buttons{
            @media(max-width: 782px){
                justify-content: center;
            }
        }
        .wp-block-button{
           margin-right: 13px;
           @media(max-width: 782px){
            margin-right: 0;
            }
            a{
                background: #71b37d;
                color: #ffffff;
                font-family: "Frank Ruhl Libre", sans-serif;
                font-size: 17px;
            }
        } 
    }
    .banner-parceria{
        @media(max-width: 781px){
            display: none;
        }
        .wp-block-cover__inner-container{
            .banner-cultura-artistica-fundo{
                justify-content: space-around;
                padding-left: 16px;
                padding-right: 12px;
                @media(max-width: 782px){
                    margin-top: 32px;
                    padding-bottom: 32px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
        
                img{
                    margin-top: 12px;
                    margin-right: 32px;
                    @media(max-width: 782px){
                        margin-right: 0;
                        margin-bottom: -20px;
                    }
                }  
                p{
                    font-family: "Frank Ruhl Libre", sans-serif;
                    font-size: 24px !important;
                    max-width: 547px;
                    width: 100%;
                    @media(max-width: 782px){
                        max-width: 447px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0;
                    }
        
                }
                .wp-block-buttons{
                    @media(max-width: 782px){
                        justify-content: center;
                    }
                }
                .wp-block-button{
                   margin-right: 13px;
                   @media(max-width: 782px){
                    margin-right: 0;
                    }
                    a{
                        background: #71b37d;
                        color: #ffffff;
                        font-family: "Frank Ruhl Libre", sans-serif;
                        font-size: 17px;
                        border: none;

                    }
                } 
            }
        }
    }

    .banner-mobile{
        @media(min-width: 782px){
            display: none;
        }
        .wp-block-cover__inner-container{
            min-height: 406px;
        }
        .wp-block-group{
            .wp-block-group__inner-container{
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        img{
            margin-right: 0;
        }  
        p{
            font-family: "Frank Ruhl Libre", sans-serif;
            font-size: 24px !important;
            max-width: 447px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            text-align: start;
            width: 100%;
            margin-bottom: 50px;
        }
        .wp-block-buttons{
            justify-content: center;
        }
        .wp-block-button{
            margin-right: 0;
            a{
                background: #71b37d;
                color: #ffffff;
                font-family: "Frank Ruhl Libre", sans-serif;
                font-size: 17px;
                border: none;

            }
        } 
    }
    
    .wp-block-separator{
        color: #E0E0E0;
        border-bottom: none;
    }
    .newsletter-form {

        .card-course--content {
            width: 100%;

            .wrapping-container {
                align-items: center;
                flex-direction: row;
                margin: 0;
                padding: 45px 65px;

                @include mobile {
                    display: block;
                    padding: 45px;
                }

                @include small {
                    padding: 20px 20px 40px;
                }

                div {
                    flex-basis: 37%;

                    @include mobile {
                        flex-basis: 100%;
                    }

                    &:first-child {
                        flex-basis: 60%;
                    }

                    input {
                        background-color: #ffffff;
                        border: solid 1px var(--primary-highlight-color);
                        color: solid 1px var(--primary-highlight-color);
                        font-size: 18px;
                        font-family: var(--global-font-family);
                        margin-top: 5px;
                        padding: 15px 20px;
                        width: 100%;

                        &[type="submit"] {
                            margin: 10px 0 0;
                            padding: 15px 50px;
                            width: auto;

                            &:hover {
                                background-color: var(--primary-highlight-color) !important;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        h2 {
            color: var(--primary-highlight-color);
            font-weight: 400;
        }


    }

    .bg-contact {
        .wp-block-columns {
            margin-bottom: 0;
            margin-top: $small_spacing;

            .wp-block-column {
                margin-bottom: $small_spacing;
            }

            .wp-block-column:last-child {
                @include mobile {
                    flex-grow: 1;
                }
            }
        }
    }

    .wp-block-column {
        >h3 {
            margin-bottom: 0;
        }
    }

    h3.has-text-color {
        margin-bottom: 0;
    }

    .laranja {
        color: var(--color-cardCourse);

        a {
            color: var(--color-cardCourse);
        }
    }

    .roxo {
        color: #9B59B6;

        a {
            color: #9B59B6;
        }
    }

    // Space block with class .line
    .wp-block-spacer {
        &.line {
            background-color: rgba(102, 102, 102, 0.2);
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    // Link to see all with class .see-all
    .see-all {
        a {
            color: var(--color-cardCourse);
            display: inline-block;
            font-family: $f_title;
            font-size: 17.6px;
            font-weight: 700;
            padding-top: 10px;
            position: relative;
            text-decoration: none;

            &::after {
                background-color: var(--color-cardCourse);
                bottom: -1px;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                overflow: hidden;
                position: absolute;
                width: 100%;
            }
        }

        &.roxo {
            a {
                color: #9B59B6;

                &::after {
                    background-color: #9B59B6;
                }
            }
        }
    }

    // Blog
    .wp-block-query.blog {
        margin-top: 30px;

        .wp-block-post {
            .wp-block-post-featured-image {
                height: 0;
                overflow: hidden;
                padding-top: 591.44px / 1127.34px * 100%;
                background: white;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .wp-block-post-date {
                time {
                    color: #000000;
                    display: block;
                    font-size: 16px;
                    margin-bottom: 10px;
                    margin-top: 5px;
                }
            }
        }
    }


    //seção blog na home
    .blog {

        .wp-block-post-featured-image {
            margin-top: 0;
        }

        ul {
            .blog {
                border: 1px solid #DDDDDD;
                border-radius: 8px;

                img {
                    height: 247px;
                }

                .wp-block-post-date {
                    padding: 0px 10px 0px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    color: #111111;
                    padding-top: 24px;
                    display: flex;

                    &::before {
                        content: '';
                        background-image: url($dir_assets + 'images/calendario.png');
                        width: 16px;
                        height: 17px;
                        background-repeat: no-repeat;
                        padding-right: 20px;
                        margin-top: 3px;
                    }
                }

                .wp-block-post-title {
                    font-family: 'Frank Ruhl Libre';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 100%;
                    color: #000000;
                    padding: 0px 10px 0px;
                    word-break: break-word;
                }
            }
        }
    }


}