body.woocommerce-account {
    .woocommerce-notices-wrapper:empty {
        display:none;
    }
    h1 {
        font-family: var(--global-heading-font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 100%;
        color: var(--primary-highlight-color);
        margin: 40px 0;
    }
    .woocommerce-MyAccount-navigation {
        @media (min-width:1200px) and (max-width:1370px) {
            width:23%;
        }
        li.woocommerce-MyAccount-navigation-link a {
            font-family: var(--global-font-family);
            font-weight: bold;
            color:var(--second-color);
        }
        li.woocommerce-MyAccount-navigation-link.is-active a,
        li.woocommerce-MyAccount-navigation-link a:hover {
            color: var(--primary-highlight-color);
        }
    }
    div.woocommerce-MyAccount-content {
        padding: 32px;
        @media (min-width:1200px) and (max-width:1370px) {
            width:74%;
        }
        @include mobile {
            clear: both;
            display: block;
            float: left;        
        }
        * {
            color:var(--second-color);
        }

        p {
            a {
                font-weight: bold;
            }
        }
        h3 {
            font-family: var(--global-heading-font-family);
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            width:100%;
            display: inline-block;
            clear:both;
            color:var(--second-color);
            margin-bottom: 32px;
        }
        h4 {
            font-family: var(--global-font-family);
            font-weight: normal;
            color:var(--second-color);
            font-size:18px;
            width:100%;
            display: inline-block;
            clear:both;
        }
        .lp-archive-courses .learn-press-courses[data-layout="grid"]{
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            gap: 0px 50px; 
            grid-template-areas: 
              ". . ."
              ". . ."
              ". . .";
            @include mobile {
                grid-template-areas: inherit;
                grid-template-columns: 1fr;
            } 
            .course {
                margin-bottom:0;
                &.course_tag-curso .course-item .course-content .course-categories {
                    a {
                        background:$c_course__default;
                    }
                }
                &.course_tag-cursos-de-ferias .course-item .course-content .course-categories {
                    a {
                        background:$c_course__vacation;
                    }
                }
                &.course_tag-atividades .course-item .course-content .course-categories {
                    a {
                        background:$c_course__activity;
                    }
                }
                width:inherit;
                padding:0;
                border:none;
                box-shadow:none;
                .course-content {
                    border: 1px solid $c_medium_grey_lesson_active;
                    margin-top:5px;
                    .course-categories {
                        a {
                            clip-path: none;
                            padding: 5px 10px 5px 10px;
                            color: #FFFFFF;
                        }
                        top:-45px;
                        font-weight: bold;
                        font-family: var(--global-font-family);
                        font-size:12px;
                        color:white;
                    }
                    .course-instructor {
                        text-transform: none;
                    }
                    .course-info {
                        border:none;
                        right:  0;
                        height: 32px;
                        padding: 0; 
                        margin-top: -16px !important;
                        .course-footer {
                            border:none !important;
                            padding: 0;
                            .price {
                                margin-right: 16px !important;
                                font-family: var(--global-font-family);
                                font-size:12px;
                                color:var(--second-color);
                                &.free {
                                    text-transform: lowercase;
                                    font-style: italic;
                                }   
                            }
                        }
                    }
                    a.course-permalink {
                        height:auto;
                        h3 {
                            text-align:left;
                            font-family: var(--global-heading-font-family);
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 100%;
                            color:var(--second-color);
                        }
                    }                   
                }
                .course-item:hover {
                    box-shadow:none;
                }
            }
            
        }

        .profile-courses-list li.course {
            .course-thumbnail {
                &::before {
                    content: none!important;
                }
            }
        }

        // certificates
        .profile-certificates li.course {
            @include mobile {
                width:100%;
            }
            &:hover {
                box-shadow:none;
            }
            .course-thumbnail {
                border:none;
            }
            h4.course-title {
                margin-top:10px;
                text-align:left;
                font-family: var(--global-heading-font-family);
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 100%;
                color:var(--second-color);
                padding-left:20px;
                padding-right:20px;
                padding-top:20px;
            }
        }
        form {
            margin-bottom: 20px;
            label {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color:var(--second-color);
                padding-bottom:10px;
            }
            .woocommerce-form-row {
                padding-top:20px;
                span em {
                    padding-top:7px;
                    display: inline-block;
                }
            }
            fieldset {
                margin: 20px 0 0;
                border-color: $c_medium_grey_lesson_active;
                border-width:1px;
                border-style:solid;
            }
            input,
            .select2-container--default .select2-selection--single,
            select {
                border: 1px solid $c_medium_grey_lesson_active !important;
            }
            button[type="submit"] {
                margin: 20px 0 0;
                font-family: var(--global-heading-font-family);
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color:var(--primary-highlight-color);
                transition: all 0.2s ease;
                &:hover {
                    background-color: var(--primary-highlight-color) !important;
                    color: white;
                }
            }
        }
        .addresses {
            h3 {
                margin: 20px 0 20px;
                font-size: 33px;
            }
            .edit {
                position: absolute;
                margin-left: -65px;
            }
        }
    }
    h3.dashboard-hello {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 100%;
        color:var(--second-color);
    }

}