.woocommerce-order-received {
    .title-thankyou {
        color: var(--primary-highlight-color);
        font-size: 48px;
        margin-bottom: 25px;
    }

    ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details{
        border: 1px solid var(--light-gray);
        padding: 18px 25px 13px !important;

        li {
            border-color: var(--second-color);
            font-size: 12px;

            @include small {
                border: 0;
                display: block;
                float: none;
                margin-bottom: 15px;
                width: 100%;
            }

            &:last-child {
                @include small {
                    margin-bottom: 0;
                }
            }

            strong {
                font-size: 14px;
                padding-top: 5px;
            }
        }
    }

    .woocommerce-order {
        .woocommerce-bacs-bank-details {
            padding-top: 40px;
    
            h2 {
                color: var(--second-color);
                margin-bottom: 20px;
            }

            ul {
                margin-bottom: 15px;
                padding: 25px 25px 20px 25px !important;

                &:first-of-type {
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    padding: 0 !important;
    
                    li {
                        color: rgba(255, 255, 255, 0);
                        margin-bottom: 15px;

                        strong {
                            color: var(--second-color);
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .description-after-payment {
            font-size: 16px;
            margin-bottom: 40px;
            margin-top: 25px;

            &.payment-method-wc_piggly_pix_gateway {
                text-align: center;
            }
        }

        section.woocommerce-order-details {
            box-shadow: none;
            padding: 25px 0 !important;

            @include small {
                padding: 25px 0 0 !important;
            }

            h2 {
                color: var(--second-color);
                margin-bottom: 0;
                padding-left: 25px;
                padding-right: 25px;

                @include small {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            table.woocommerce-table {
                tr {
                    th {
                        color: var(--second-color);
                        font-size: 16px;
                        padding: 0 25px 0 45px;

                        @include small {
                            font-size: 14px;
                            padding: 0 15px;
                        }
                    }

                    td {
                        padding-left: 45px;

                        @include small {
                            padding-left: 15px;
                            padding-right: 0;
                        }

                        &.product-name {
                            display: flex;

                            @include small {
                                flex-direction: column;
                            }
    
                            .product-thumb {
                                flex-basis: 70px;
                                overflow: hidden;
                                height: 70px;
                                width: 70px;

                                @include small {
                                    flex-basis: 40px;
                                    height: 40px;
                                    width: 40px;
                                }

                                img {
                                    height: 100%;
                                    object-fit: cover;
                                    width: 100%;
                                }
                            }

                            .product-info {
                                display: flex;
                                flex-basis: calc(100% - 90px);
                                flex-direction: column;
                                justify-content: center;
                                padding-left: 20px;

                                @include small {
                                    flex-basis: calc(100% - 60px);
                                    padding-left: 0;
                                }
    
                                .list-terms {
                                    margin-bottom: 10px;

                                    li {
                                        color: var(--second-color);
                                        font-family: var(--global-font-family);
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 1;

                                        @include small {
                                            font-size: 12px;
                                            font-weight: 500;
                                        }
                                    }
                                }

                                .course_name {
                                    a {
                                        color: var(--primary-highlight-color);
                                        font-weight: 400;
                                        line-height: 0.5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .woocommerce-customer-details {
            padding: 25px !important;
            box-shadow: none;

            h2 {
                color: var(--second-color);
                margin-bottom: 20px;
            }

            address {
                color: var(--second-color);
                font-size: 16px;
                padding: 25px;

                p {
                    font-size: 16px;
                }
            }
        }

        // Pix
        .pix-block {
            svg.pix-logo {
                fill: #4AB8AA;
            }

            .pix-title {
                color: var(--second-color);
                font-size: 36px;
                font-weight: 400;
            }

            .pix-subtitle {
                font-style: normal;
            }

            .pix-method {
                h4 {
                    color: var(--second-color);
                    font-size: 24px;
                    font-weight: 400;
                }

                p {
                    text-align: center;
                }

                .pix-data {
                    margin-bottom: 20px;

                    strong {
                        font-size: 18px;
                        margin-bottom: 5px;
                        text-transform: initial;
                    }
                }

                .pix-wrapper {
                    max-width: 560px;
                    text-align: center;

                    input {
                        &.pix-code {
                            background-color: var(--light-gray);
                            font-size: 14px;
                            margin-bottom: 20px;
                            padding: 12px;
                        }
                    }

                    button {
                        &.pix-copy {
                            background-color: var(--primary-highlight-color);
                            color: white;
                            border-radius: 50px;
                            width: auto;
                            margin: 0 auto;
                            padding: 18px 100px;
                        }
                    }
                }
            }

            .pix-or {
                &::before {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}