.page.page-template-page-simplified {
    #primary {
        .entry-content {
            margin: 0 auto;
            max-width: 800px;
        }
    }
}

.page-template-page-course-going,
.page-template-page-course-open {
    .lp_archive_courses {
        .card-course.col-md-12 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
            margin-top: 20px;

            .card-course.col-sm-6 {
                width: 100%;
            }

            @media (max-width:768px) {
                display: block;
            }
        }

        .learn-press-courses-header {
            margin-left: 15px;
            h1 {
                margin-top: 80px;
                margin-bottom:32px;
                margin-left: 5px;
                // color: var(--primary-highlight-color);
                color: var(--color-cardCourse);
                margin-bottom: 0;
            }

            p {
                margin-top: 32px;
                margin-bottom: 40px;
                font-size: var(--global-font-size);
                color: var(--second-color);
                font-family: var(--global-font-family);
                font-weight: 700;
                padding-left: 10px;
            }
        }
    }
}