body:not(.logged-in).woocommerce-account {

    .entry-content {
        h1 {
            display: none;
        }
    }
    
    div.woocommerce {
        padding-top: 40px;
             
        #customer_login {
            margin: 0 auto;
            padding-bottom: 40px;
            padding-top: 40px;

            @include tablet-up {
                max-width: 85%;
                padding-bottom: 80px;
                padding-top: 40px;
            }

            .u-column1,
            .u-column2 {
                position: relative;
                float: left;

                h2 {
                    color: var(--primary-highlight-color);
                    margin: 0 0 40px;
                }

                form.woocommerce-form {
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    padding: 0 !important;

                    & > p {
                        margin: 0 0 24px;
                        padding: 0;
    
                        &.lost_password {
                            a {
                                color: var(--primary-highlight-color);
                                text-decoration: underline;
                            }
                        }

                        &.wc-terms-and-conditions {
                            margin-bottom: 0;
                            margin-top: 15px;
                            padding: 0;

                            span {
                                font-size: 14px;

                                a {
                                    color: var(--primary-highlight-color);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    label {
                        font-size: 18px;
                        line-height: 21px;
                        margin: 0 0 16px;
    
                        &.woocommerce-form-login__rememberme {
                            margin-top: 28px;

                            @include tablet-up {
                                margin-top: 34px;
                                margin-left: 32px;
                            }
    
                            #rememberme {
                                display: none;
                            }
    
                            span {
                                font-size: 14px;
                                line-height: 2;
                                position: relative;

                                @include mobile {
                                    margin-left: 15px;
                                }
                            }
    
                            #rememberme:checked + span:after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                width: 6px;
                                height: 8px;
                                border: solid var(--primary-color);
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                            }
    
                            span::before {
                                content:'';
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: 1px solid var(--primary-color);
                                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                                padding: 6px;
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                cursor: pointer;
                                margin-right: 5px;
                            }
                        }
                    }
    
                    input[type="text"],
                    input[type="email"],
                    input[type="password"] {
                        border-color: var(--light-gray);
                        padding: 16px 15px;
                    }
    
                    .show-password-input {
                        top: 17px;
                    }

                    .woocommerce-privacy-policy-text {
                        p {
                            a {
                                color: var(--primary-highlight-color);
                            }
                        }
                    }

                    button[type="submit"] {
                        font-family: var(--global-heading-font-family);
                        font-size: 18px;
                        margin: 20px 0 0;
                        min-width: 210px;
                        padding: 13px 15px;
                        text-align: center;
                        width: auto;
                        transition: all 0.2s ease;
                        &:hover {
                            background-color: var(--primary-highlight-color) !important;
                            color: white;
                        }
        
                        @include tablet-up {
                            margin: 24px 0 0;
                        }
                    }
                }
            }
    
            .u-column1 {
                width: 39%;
                margin-right: 11%;

                @include mobile {
                    border-bottom: 1px solid var(--light-gray);
                    margin-bottom: 40px;
                    margin-right: 0;
                    padding-bottom: 20px;
                    float: none;
                    width: 100%;
                }
            }
    
            .u-column2 {
                width: 39%;
                margin-left: 11%;

                @include mobile {
                    float: none;
                    margin-left: 0;
                    width: 100%;
                }

                &::before {
                    @include tablet-up {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background-color: var(--light-gray);
                        position: absolute;
                        left: -126px;
                        top: 0;
                    }
                }
    
                form.woocommerce-form {
                    @include tablet-up {
                        margin-bottom: 0;
                    }
                }
    
                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    div.learnpress {
        display: none;
    }

}