
.single-lp_course {
    .site-sub-header {
        margin-bottom: 0px;
        padding-bottom: 15px;
    }

    #learn-press-course-curriculum.course-curriculum {
        .learn-press-progress {
            display: none;
        }

        ul.curriculum-sections .section-content .course-item .section-item-link::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' viewBox='0 0 16 20' fill='none'%3E%3Cpath d='M8.77536 5.3125V0H0.940217C0.41918 0 0 0.417969 0 0.9375V19.0625C0 19.582 0.41918 20 0.940217 20H14.1033C14.6243 20 15.0435 19.582 15.0435 19.0625V6.25H9.71558C9.19846 6.25 8.77536 5.82812 8.77536 5.3125ZM15.0435 4.76172V5H10.029V0H10.268C10.5187 0 10.7577 0.0976562 10.9339 0.273438L14.7692 4.10156C14.9455 4.27734 15.0435 4.51562 15.0435 4.76172Z' fill='%23FC4513'/%3E%3C/svg%3E%0A");
        }

        ul.curriculum-sections .section-content .course-item .section-item-link {
            height: 70px;

            @include mobile {
                height: auto;
            }

            padding-top:6px;
        }

        ul.curriculum-sections .section-content .course-item .section-item-link span.item-name {
            font-family: $f_body;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $c_gray__medium;
            //display:inline-block !important;
            margin-top: -7px;
        }

    }

    #popup-course #popup-sidebar #learn-press-course-curriculum.course-curriculum .section .section-content .course-item {
        background: $c_light_grey_lesson;

        &.current {
            background: $c_medium_grey_lesson_active;
        }
    }

    #popup-sidebar #learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-header {
        border-bottom: 0 !important;
        height: 69px !important;
        padding-top: 25px !important;
        padding-bottom: 15px !important;

        .section-title {
            font-family: $f_title;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 100%;
            color: $c_light_grey_course_section_title;
        }
    }

    #popup-course #popup-sidebar .search-course {
        background: $c_medium_grey_search_form;
    }

    #popup-course #popup-sidebar {
        box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.15) !important;

        &::before {
            background: $c_red;
        }
    }

    &.course-item-lp_lesson #popup-course #popup-header {
        background: $c_light_grey_lesson;
        padding-top: 25px;
        padding-bottom: 21px;
        z-index: 0;
        border: 0 !important;

        .popup-header__inner .course-title a {
            color: $c_gray__medium;
            font-family: $f_title;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 100%;

            @include mobile {
                margin-bottom: 20px;
            }
        }

        .close-lesson:after,
        .close-lesson:before {
            background-color: $c_gray__medium !important;
        }
    }

    .items-progress {
        display: none !important;
    }

    #popup-course #popup-content #learn-press-content-item .content-item-wrap .content-item-summary .course-item-title {
        font-family: $f_title;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 100%;
        /* identical to box height, or 48px */
        color: $c_light_grey_course_section_title;
    }

    #popup-course #popup-content #learn-press-content-item .content-item-wrap .content-item-summary .form-button {
        display: none;
    }

    .header-single-course {
        @include tablet-up {
            display: flex;
            height: 540px;
            justify-content: space-between;
        }

        .featured-image {
            max-height: 540px;
            width: 100%;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .information-card {
            background-color: white;
            border: 1px solid var(--color-cardCourse);
            margin-top: 12px;
            padding: 25px;
            width: 100%;

            @include tablet-up {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 12px;
                margin-top: 0;
                padding: 40px 25px;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 42%;
            }

            @include medium-up {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 32%;
            }

            .list-terms {
                @include tablet {
                    margin-bottom: 0;
                }

                li {
                    a {
                        color: $c_gray__medium;
                        font-size: 14px;
                        font-weight: bold;

                        @include tablet-up {
                            font-size: 18px;
                        }
                    }
                }
            }

            .course-title {
                color: var(--primary-highlight-color);
                font-size: 36px;
                margin-bottom: 10px;
                margin-top: 10px;

                @include tablet-up {
                    font-size: 46px;
                    line-height: 1;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }

            .metabox-container {
                @include tablet {
                    margin-top: 10px;
                }

                .formated-date-course {
                    align-items: center;
                    color: $c_primary_highlight;
                    display: flex;
                    font-size: 16px;
                    font-weight: bold;

                    @include tablet-up {
                        font-size: 20px;
                    }

                    .with-init {
                        font-weight: initial;
                        padding-right: 5px;
                    }

                    .fa-calendar-day {
                        fill: $c_primary_highlight;
                        margin-right: 15px;
                    }
                }
            }

        }
    }

    #popup-course #sidebar-toggle::before {
        color: $c_red_course;
    }

    #popup-course #popup-content #learn-press-content-item .content-item-wrap {
        @include mobile {
            width: 85%;
        }
    }

    #popup-course #popup-content {
        @include mobile {
            z-index: -1;
        }
    }

    .entry-content.course-content {
        .featured-area {
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center;
            padding-bottom: 2rem;
            padding-top: 2rem;
            position: relative;

            @media (min-width: 576px) {
                padding-bottom: 3rem;
                padding-top: 3rem;
            }

            @media (min-width: 768px) {
                padding-bottom: 4rem;
                padding-top: 4rem;
            }

            @media (min-width: 992px) {
                padding-bottom: 6rem;
                padding-top: 6rem;
            }

            .overlay {
                background: rgb(3, 3, 3);
                background: linear-gradient(50deg, rgba(3, 3, 3, 0.5) 0%, rgba(3, 3, 3, 0.1) 50%);
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;

                @media (min-width: 768px) {
                    background: linear-gradient(50deg, rgba(3, 3, 3, 0.5) 0%, rgba(3, 3, 3, 0.1) 70%);
                }
            }

            .course-basic {
                border: 1px solid var(--primary-highlight-color);
                padding: 50px 25px;
                margin-left: 45px;
                position: relative;
                width: 100%;

                @media (min-width: 768px) {
                    width: 40%;
                }

                @media (min-width: 992px) {
                    width: 33.3333333333%;
                }

                @include mobile {
                    margin-left: 0;
                    border: 0px;
                }

                .terms a {
                    color: white;
                    font-weight: bold;
                }

                h2.course-title {
                    color: white;
                    line-height: 42px;
                    margin: 15px 0;
                }

                h6 {
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;

                    span {
                        font-weight: normal;
                    }
                }

                .metabox-container {
                    margin-top: 30px;

                    .formated-date-course {
                        color: white;
                    }
                }
            }

            .featured-media {
                position: absolute;
                left: 0;
                top: 0;
                min-width: 100%;
                z-index: -1;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16/9;
                    position: absolute;
                    background: linear-gradient(90deg, rgb(0 0 0 / 51%) 0%, rgba(0, 212, 255, 0) 100%);
                    position: absolute;
                    top: 0;
                    z-index: 0;

                    @include mobile {
                        aspect-ratio: 3/4;
                    }
                }

                img {
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;

                    @include mobile {
                        aspect-ratio: 3/4;
                    }
                }
            }
        }
    }

    // Férias
    &.course-tag-cursos-de-ferias {

        .header-single-course {
            .information-card {
                border-color: var(--color-cardFerias);

                .course-title {
                    color: var(--color-cardFerias);
                }

                .metabox-container {
                    .formated-date-course {
                        color: var(--color-cardFerias);

                        .fa-calendar-day {
                            fill: var(--color-cardFerias);
                        }
                    }
                }
            }
        }

        #learn-press-course.course-summary {
            .course-summary-content {
                .lp-entry-content.lp-content-area {
                    .course-summary-sidebar {
                        .course-summary-sidebar__inner {
                            .course-sidebar-top {
                                border-color: var(--color-cardFerias);
                            }
                        }
                    }
                }
            }
        }

        #learn-press-course-tabs.course-tabs {
            ul.learn-press-nav-tabs {
                .course-nav.active {
                    &::before {
                        background-color: var(--color-cardFerias);
                    }
                }
            }

            div.course-tab-panels {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: var(--color-cardFerias);
                }

                .course-tab-panel {
                    &>div {

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            color: var(--color-cardFerias);
                        }
                    }

                    &.course-tab-panel-instructor {
                        .instructor--about {
                            &>h3 {
                                color: var(--second-color);
                            }
                        }
                    }
                }
            }
        }
    }

    // Atividades
    &.course-tag-atividades {

        .header-single-course {
            .information-card {
                border-color: var(--color-cardActivity);

                .course-title {
                    color: var(--color-cardActivity);
                }

                .metabox-container {
                    .formated-date-course {
                        color: var(--color-cardActivity);

                        .fa-calendar-day {
                            fill: var(--color-cardActivity);
                        }
                    }
                }
            }
        }

        #learn-press-course.course-summary {
            .course-summary-content {
                .lp-entry-content.lp-content-area {
                    .course-summary-sidebar {
                        .course-summary-sidebar__inner {
                            .course-sidebar-top {
                                border-color: var(--color-cardActivity);
                            }
                        }
                    }
                }
            }
        }

        #learn-press-course-tabs.course-tabs {
            ul.learn-press-nav-tabs {
                .course-nav.active {
                    &::before {
                        background-color: var(--color-cardActivity);
                    }
                }
            }

            div.course-tab-panels {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: var(--color-cardActivity);
                }

                .course-tab-panel {
                    &>div {

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            color: var(--color-cardActivity);
                        }
                    }

                    &.course-tab-panel-instructor {
                        .instructor--about {
                            &>h3 {
                                color: var(--second-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
    
.hidden-continue-button{
    .course-sidebar-preview{
    .continue-course,
    .course-price,
    .information-box-wrapper{
        display: none !important;
        }
    }
    
}

.course-tag-cursos-gravados,
.term-cursos-gravados {
    .faceted-posts-search__generic-sort {
        padding-left: 10px;
    }

    #learn-press-course {
        .information-card>.content>h3.course-title {
            color: #9b59b6;
        }

        .information-card {
            border: 1px solid #9b59b6 !important;
        }
        .metabox-container{
            .formated-date-course{
                color:#9b59b6 !important;
            }
            .fa-calendar-day{
                fill: #9b59b6 !important;
            }
        }
    }

    #learn-press-course-tabs {
        .course-nav-tabs {
            .course-nav.active::before {
                background-color: #9b59b6 !important;
            }
        }
    }

    #learn-press-course-curriculum {
        .section-header {
            .section-left>h5.section-title {
                color: #9b59b6 !important;
            }
        }
    }

    #tab-additional_information>h6 {
        color: #9b59b6 !important;
    }


    #tab-instructor {
        .course-author {
            .section-title {
                color: #9b59b6 !important;
            }

            .instructor {
                .instructor--about {
                    p {
                        //color: #9b59b6 !important;
                    }
                }
            }
        }
    }


    .lp-content-area {
        header.learn-press-courses-header>h1 {
            color: #9b59b6;
        }

        .course-summary-sidebar {
            .course-summary-sidebar__inner>.course-sidebar-top {
                border-bottom: 1px solid #9b59b6 !important;
                border-top: 1px solid #9b59b6 !important;

                .course-sidebar-preview>.lp-course-buttons {
                    position: relative !important;

                    .button-enroll-course {
                        background-color: #9b59b6 !important;
                    }
                }
            }
        }
    }

    .cursos-gravados-card {
        .card-course--text {
            border: 1px solid #9b59b6 !important;

            .side {
                a.btn-bg-white {
                    border: 1px solid #9b59b6 !important;
                }

                a.btn-bg-white:hover {
                    background-color: #9b59b6;
                }

                .formated-date-course>.with-init {
                    color: #9b59b6 !important;
                }

                .formated-date-course {
                    color: #9b59b6 !important;
                }

                .formated-date-course>.fa-calendar-day {
                    fill: #9b59b6 !important;
                }

                .btn-bg-white {
                    color: #9b59b6 !important;
                }

                .btn-bg-white:hover {
                    color: white !important;
                }
            }

            .option-row {
                .format a {
                    color: #9b59b6 !important;
                }
            }
        }

        .card-course--text>.header {
            h3.course-title>a {
                color: #9b59b6 !important;
            }
        }
    }
}

.term-cursos-gravados {

    #courses-slider-on-going {
        .cursos-gravados-card {
            .card-course--text {
                border: 1px solid var(--color-cardCourse) !important;

                >.header {
                    h3.course-title>a {
                        color: var(--color-cardCourse) !important;
                    }
                }

                .option-row {
                    .format a {
                        color: var(--color-cardCourse) !important;
                    }
                }

                .side {
                    a.btn-bg-white {
                        border: 1px solid var(--color-cardCourse) !important;
                    }

                    a.btn-bg-white:hover {
                        background-color: var(--color-cardCourse) !important;
                    }

                    .formated-date-course>.with-init {
                        color: var(--color-cardCourse) !important;
                    }

                    .formated-date-course {
                        color: var(--color-cardCourse) !important;
                    }

                    .formated-date-course>.fa-calendar-day {
                        fill: var(--color-cardCourse) !important;
                    }

                    .btn-bg-white {
                        color: var(--color-cardCourse) !important;
                    }

                    .btn-bg-white:hover {
                        color: var(--color-cardCourse) !important;
                    }
                }
            }
        }
    }
}

.lp-archive-courses .course-detail-info::before, .lp-archive-courses .course-detail-info::after {
    background: transparent !important;
}