body.single-blog {

    .site {

        &-main {
            @include mobile {
                order: inherit !important;
            }

            @include small {
                order: inherit !important;
            }
        }

        .aula-aberta {
            display: none;
        }

        >.container {
            max-width: 1440px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;


            @include tablet-up {
                padding-bottom: 80px;
                padding-top: 80px;
            }

            h1 {
                @include small {
                    font-size: 40px;
                    max-width: 700px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;

                }
            }

            #breadcrumbs {
                font-family: 'Frank Ruhl Libre';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 150%;
                color: #FC4513;
                position: relative;
                top: -57px;
                margin-bottom: 0;
                margin-left: 355px;

                @include small {
                    margin-left: 0;
                    font-size: 18px;
                    margin-top: 30px;
                    width: 480px;
                }

                li {
                    position: relative;
                    top: 47px;
                    font-size: 21px;
                }
            }

            .buddyx-trail-items {
                font-size: 32px;

                .trail-item {
                    &::after {
                        content: "/";
                    }

                    &:last-of-type {
                        &::after {
                            content: "";
                        }
                    }
                }
            }



            .site-wrapper {
                @include mobile {
                    display: block;
                }

                .blog-title {
                    max-width: 700px;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: 64px;

                    @include mobile {
                        font-size: 37px;
                    }
                }

                .entry-header {
                    max-width: 700px;
                    margin-right: auto;
                    margin-left: auto;
                }

                .entry-content {
                    margin-top: 60px !important;
                    margin-bottom: 60px !important;
                    max-width: 700px !important;
                    width: 100%;
                    margin-left: auto !important;
                    margin-right: auto !important;

                    p {
                        font-weight: normal;
                        font-size: 18px !important;
                        @include small {
                            font-size: 16px;
                        }
                    }
                }

                .entry-meta {
                    border-bottom: 1px solid var(--color-cardActivity);
                    line-height: 1;
                    margin-bottom: 60px;
                    padding-bottom: 60px;

                    .posted-on {
                        display: flex !important;

                        img {
                            margin-right: 7px;
                            align-items: center;
                        }
                    }

                    .entry-cat-links {

                        a {
                            color: var(--color--second-color);
                            display: none;

                            @include small {
                                font-size: 15px;
                            }
                        }

                        &::before {
                            color: var(--primary-highlight-color);
                            display: none;

                            @include small {
                                font-size: 15px;
                            }
                        }

                    }

                    .entry-edit-link {
                        display: none;
                    }

                    .posted-by,
                    .entry-date,
                    .entry-cat-links {
                        font-size: 18px;
                        font-weight: bold;
                        color: var(--color--second-color);
                    }

                    .entry-date {
                        color: #666;
                        padding-right: 10px;
                        margin-right: 10px;
                        font-weight: normal;

                        @include small {
                            font-size: 15px;
                        }

                    }

                    .posted-by {
                        font-weight: normal;

                        @include small {
                            font-size: 15px;
                        }

                        img {
                            display: none;
                        }
                    }

                    .author,
                    .vcard {
                        text-transform: capitalize;
                        border-right: 1px solid black;
                        padding-right: 10px;
                        margin-right: 10px;
                        color: var(--color--second-color);

                        @include small {
                            font-size: 15px;
                        }

                        a {
                            color: var(--color--second-color);
                            font-weight: bold;
                        }
                    }


                }
            }

            .post-thumbnail {

                img {
                    width: 685px;
                    height: 385px;
                    object-fit: cover;
                    display: block;

                    @include small {
                        margin-left: inherit;
                    }
                }

            }

        }
    }

    .post-navigation {
        display: none;
    }

    .related-blog-title {
        color: var(--primary-highlight-color);
        padding-bottom: 8px;
        border-bottom: 1px solid #000000;
        max-width: 1440px;
        width: 100%;
        margin-top: 84px;
    }

    .related-blog {
        display: flex;
        gap: 30px;

        @include mobile {
            flex-direction: column;
        }

        @include small {
            flex-direction: column;

        }


        .related-post {
            border: 1px solid #DDDDDD;
            border-radius: 8px;
            height: 551px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            width: 441px;
            overflow: hidden;

            @include mobile {
                max-width: 409px;
                width: 100%;
            }

            @include small {
                max-width: 309px;
                width: 100%;
            }
        }

        .related-post-image {

            img {
                width: 441px;
                height: 248px;
                border-radius: 8px;

                @include mobile {
                    max-width: 407px;
                    width: 100%;
                    height: auto;
                }

                @include small {
                    max-width: 441px;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .related-post-content {

            padding: 24px;

            .title {

                h6 {
                    font-size: 32px;
                    margin-bottom: 15px;
                }
            }

            .entry-dados {
                margin-bottom: 15px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 180%;
                color: #000000;
                display: flex;
                gap: 10px;

                .date {
                    font-weight: 700;

                    &::before {
                        content: '';
                        background-image: url($dir_assets + 'images/calendario.png');
                        width: 16px;
                        height: 17px;
                        background-repeat: no-repeat;
                        padding-right: 25px;
                        margin-top: 3px;
                    }
                }

            }

            .resumo {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 180%;
                color: #000000;

                @include small {
                    max-width: 309px;
                    width: 100%;
                }
            }


            .category {

                .list-terms {

                    li {
                        list-style: none;
                        border-radius: 3px;
                        background-color: var(--color-link-active);
                        color: #fff;
                        padding: 2px 6px;
                    }
                }

            }
        }
    }

}