.single-open_lesson {
    .site {
        >.container {
            max-width: 800px;
            padding-bottom: 40px;
            padding-top: 40px;

            @include tablet-up {
                padding-bottom: 80px;
                padding-top: 80px;
            }

            .entry-content {
                header {
                    .course-terms {

                        .list-terms {
                            margin-bottom: 30px;

                            a {
                                color: var(--color-cardDetails);
                                font-size: var(--global-font-size);
                                font-weight: bold;
                            }
                        }
                    }

                    .entry-title {
                        margin-bottom: 30px;
                    }

                    .entry-meta {
                        border-bottom: 1px solid var(--color-cardActivity);
                        line-height: 1;
                        margin-bottom: 60px;
                        padding-bottom: 60px;

                        .metabox-container {
                            border-left: 1px solid var(--color-cardDetails);
                            color: var(--color-cardDetails);
                            margin-left: 15px;
                            padding-left: 15px;

                            .formated-date-course {
                                font-size: 14px;

                                @include tablet-up {
                                    font-size: 18px;
                                }

                                .with-init {
                                    font-size: 14px;
                                    padding-right: 5px;

                                    @include tablet-up {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #secondary {
        display: none;
    }
}