$tablet-width: 830px;
$desktop-width: 1025px;
$large-width: 1600px;
$medium-width: 1200px;
$tablet-up-width: 782px;


@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

.taxonomy-terms {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 43px;
    grid-row-gap: 43px;
    align-items: start;
    font-family: "Museo Sans Rounded", "sans-serif";
    margin-bottom: 30px;

    @include mobile {
        grid-template-columns: auto;
        grid-row-gap: 33px;
    }

    &-card {
        &:not(.with-description) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 256px;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: var(--block-color);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 14px rgba(0,0,0,0.2);
            text-decoration: none;

            transition: all .3s ease-in-out;


            &:hover {
                transform: scale(1.08);
                transition: all .15s ease-in-out;
                border-radius: 8px;
                box-shadow: 0 2px 14px rgba(0,0,0,0.01);
                // backdrop-filter: blur(15px)
            }

            .title {
                // font-size: 2.5rem;
                // line-height: 3rem;
                font-size: 1.8rem;
                line-height: normal;

                text-shadow: 0 2px 4px rgba(0,0,0,0.5);
                color: white;
                
                // margin-top: 0;
                margin-bottom: 8px;

                @include tablet {
                    font-size: size(18);
                    line-height: size(22);

                }
            }

            .quantity {
                font-size: 0.6875rem;
                line-height: 0.8125rem;
                color: white;
                font-weight: bold;

                text-shadow: 0 2px 4px rgba(0,0,0,0.5);

                i {
                    margin-right: 4px;
                }
            }
        }

        &:not(.with-description):not(.with-expanded-description) {
            padding: 15px 21px;
        }

        &.with-expanded-description:not(.with-description) {
            @include tablet {
                display: grid;
                grid-template-columns: 5fr 6fr;
                min-height: auto;
            }

            .featured-image-bg {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: var(--block-color);
                background-image: var(--background-image);
                min-height: 256px;
                padding: 15px 21px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                @include tablet {
                    min-height: auto;
                }
            }

            .description {
                background-color: white;
                padding: 20px;

                @include mobile {
                    font-size: size(12);
                    line-height: 15px;
                    min-height: 130px;
                }

                a {
                    display: block;
                    margin-top: 15px;
                    font-weight: bold;
                    
                }
            }
        }
    }

    &-card {
        &.with-description {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 14px rgba(0,0,0,0.15);

            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.08);
                transition: all .15s ease-in-out;
                border-radius: 8px;
                box-shadow: 0 2px 14px rgba(0,0,0,0.08);
    
            }

            &.hide-description {
                .card-content {
                    transform: scale(0);
                    overflow: hidden;
                    padding: 0;
                    height: 0;
                    transition: all .2s ease-in-out;
                }
            }

            .card {
                &-header {
                    display: flex;
                    align-items: center;

                    > i {
                        background-color: var(--block-color);
                        color: white;
                        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
                        padding: 16px;

                        @include mobile {
                            padding: 24px;
                        }
                    }

                    .sideway {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 23px;
                        flex: 1;
                        color: var(--block-color);

                        @include mobile {
                            padding: 20px 23px;
                        }

                        h5 {
                            margin: 0;
                        }

                        i {
                            opacity: 0.4;
                            cursor: pointer;

                            @include mobile {
                                opacity: 1;
                                font-size: size(22);
                                color: var(--secondary);
                            }
                        }
                    }
                }

                &-content {
                    background-color: #F5F5F5;
                    padding: 10px;
                    // transition: all .2s ease-in-out;

                    p {
                        font-size: 0.875rem;
                        margin-top: 0;
                        padding-top: 0;
                    }

                    a {
                        font-size: 0.875rem;
                        text-decoration: underline!important; // force to ignore theme ;(
                        font-weight: 600;
                        color: #0A0A0A;
                    }
                }
            }
        }
    }
}