/* moved all wordpress customizer css to this file, be careful with the changes */

.page-template-template-history .history-card .thumbnail img {
	max-width: 416px;
}

#comments,
.page-id-2094 .site-sub-header{
	display: none;
}

.card-activity {
    padding-left: 0;
		padding-right: 0;
}


.page-id-1541 .site-sub-header,
.page-id-1569 .site-sub-header,
.page-id-1610 .site-sub-header{
	display:none;
}

.page-id-1541 .col-md-4 .card-course--content,
.page-id-1569 .col-md-4 .card-course--content,
.page-id-1610 .col-md-4 .card-course--content{
	 height: 170px;   
   width: 100%;
}

.page-id-1541 .col-md-4 .card-course--content .card-course--text,
.page-id-1569 .col-md-4 .card-course--content .card-course--text,
.page-id-1610 .col-md-4 .card-course--content .card-course--text{
	aspect-ratio: auto;
}

.page-id-1541 .col-md-4 .card-course--content .card-course--text:hover,
.page-id-1569 .col-md-4 .card-course--content .card-course--text:hover,
.page-id-1610 .col-md-4 .card-course--content .card-course--text:hover{
	opacity:0.2;
}

.page-id-1541 .col-md-4 .card-course--content:hover,
.page-id-1569 .col-md-4 .card-course--content:hover,
.page-id-1610 .col-md-4 .card-course--content:hover{
	background-color:transparent;
}

.page-id-1541 .col-md-4 .card-course--content h2,
.page-id-1569 .col-md-4 .card-course--content h2,
.page-id-1610 .col-md-4 .card-course--content h2{
  font-size: 1.3rem;
  line-height: 1.5rem;
	}

/* Exemplo de Home - V2, V3 e V4*/
.ocultar-div {
	display: none;
}


/* Exemplo Home V3 */
.page-id-1569 .card-course.full-width {
	display: none;
}
/* End - Home V3 */

/* Exemplo de Home V4 */
@media (min-width: 992px){
.page-id-1610 .col-md-4 {
    width: 50%;
}

.page-id-1610	.card-course--content .content .course-title {
	margin-top: 25px!important;
		}
}
/* End - Home V3 */


/* Exemplo de Home V5 */
.page-id-1624 .site-sub-header{
	display:none;
}

.page-id-1624 .col-md-4 .card-course--content{
	 height: 170px;   
   width: 100%;
}

/* End - Home V5 */

/* Home */

/* Painel do aluno */
.learnpress .primary-sidebar
{
	display:none;
}
#learn-press-profile-nav, #learn-press-profile-nav:before {
    background: #fc4513;

}

#learn-press-profile-nav a{
color: #ffffff;
}

#learn-press-profile-nav .tabs>li.active>a {
    background: orange!important;
}

#learn-press-user-profile #learn-press-profile-nav .tabs>li a {
	border-top: 1px solid #ff815f;
}


@media only screen and (max-width: 480px){
#learn-press-profile-nav #profile-mobile-menu {
	background: #fc4513;
}
}

#learn-press-user-profile #learn-press-profile-header, #learn-press-user-profile  {
	border-radius: 0;
}

/* Carrinho */
form.woocommerce-cart-form thead {
	color: #fff;
    font-weight: 700;
    background-color: #ff815f!important;
	
}

form.woocommerce-cart-form table th, form.woocommerce-cart-form table td {
	border: none;
}

.woocommerce table.shop_table th {
    padding: 18px 12px;
    line-height: 3.8em;   
}

.woocommerce table.shop_table td {
    padding: 18px 12px;
      }

.woocommerce table.shop_table td a {
  color:#fc4513;
	font-size:24px;
  font-weight:700;
	font-family:'Frank Ruhl Libre';
}

.woocommerce-cart table.cart img{
		width:64px;
	}

.woocommerce button.button, .woocommerce a.button, .woocommerce a.button.alt,
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled],.woocommerce button.button, .woocommerce button.button.alt{
	color: #fc4513;
	background-color: #ffffff!important;
	border: 1px solid #fc4513;
	border-radius: 0;
}

.woocommerce button.button :hover, 
.woocommerce a.button :hover, 
.woocommerce a.button.alt :hover,
.woocommerce button.button:disabled :hover,
.woocommerce button.button:disabled[disabled] :hover,
.woocommerce button.button :hover, 
.woocommerce button.button.alt :hover{
	color: #ffffff;
	background-color: #fc4513!important;
	border: 1px solid #fc4513;
	border-radius: 0;
}

.page-id-716 button:not(.menu-toggle){
	color: #fc4513;
	background-color: #ffffff!important;
	border: 1px solid #fc4513;
	border-radius: 0;
}

.page-id-716 button:not(.menu-toggle) :hover{
	color: #ffffff;
	background-color: #fc4513!important;
	border: 1px solid #fc4513;
	border-radius: 0;
}

.page-id-716 body:not(.logged-in).profile div#learn-press-user-profile .learn-press-form button{
	color: #fc4513;
	background-color: #ffffff!important;
	border: 1px solid #fc4513;
	border-radius: 0;
}

.page-id-716 body:not(.logged-in).profile div#learn-press-user-profile .learn-press-form button :hover{
	color: #ffffff;
	background-color: #fc4513!important;
	border: 1px solid #fc4513;
	border-radius: 0;
}

#learn-press-user-profile #learn-press-profile-nav .tabs>li:hover a {
    background-color: var(--secondary-highlight-color);
	color:#fff;
}	

#learn-press-profile-nav .tabs>li.active ul {
	background:  var(--secondary-highlight-color);
	color:#fff;
}

.lp-tab-sections .section-tab.active span {
    border-bottom: 1px solid var(--primary-highlight-color);
}

.lp-list-table thead tr th {
    background: var(--primary-highlight-color)!important;
}

@media (min-width: 992px){
.page-id-716 .col-md-4 {
    width: 50%;
}
}

/*Login */
body:not(.logged-in).profile div#learn-press-user-profile .learn-press-form button {
color: var(--primary-highlight-color)!important;
}

@media only screen and (max-width: 480px){
	body:not(.logged-in).profile div#learn-press-user-profile {
    display: block;
	}
}
/* Checkout */
.woocommerce-info {
    border-top-color: var(--secondary-highlight-color);
}

.woocommerce-info::before {
	color: var(--secondary-highlight-color);		
}
.woocommerce form.checkout.woocommerce-checkout {
	border-radius: 0;
}
.woocommerce form.checkout.woocommerce-checkout h3{
	color:#fc4513; 
	font-size: 24px;
  font-weight: 700;	
}
.woocommerce-input-wrapper input[type="text"],
.woocommerce-input-wrapper .select2-container--default .select2-selection--single,
.woocommerce form .form-row input.input-text {
	border: 1px solid var(--primary-highlight-color);
	border-radius: 0;
}

.woocommerce-input-wrapper .select2-container--default .select2-selection--single {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #666;
    line-height: 36px;
}
.woocommerce-checkout .woocommerce table.shop_table,
.woocommerce-checkout table td,
 .woocommerce-checkout table th {
   border: 0;
}
.woocommerce-checkout .cart_item .product-name {	
  font-size: 24px;
  font-weight: 700;
  font-family: 'Frank Ruhl Libre';
}

.woocommerce-checkout .woocommerce table.shop_table tfoot td,
.woocommerce-checkout .woocommerce table.shop_table th {
    font-weight: 500;
}

.woocommerce-checkout #payment ul.payment_methods li {
	margin: 35px;
}
.woocommerce-checkout #payment {
    background: #fafafa;
    border-radius: 0;	
}
.row-courses{
	padding: 0 20px !important;
}

.row-courses .title::after{
	content: '';
	width: 30px;
	display: block;
	border-bottom: solid 3px #282828;
}
.see-all span{
    border-bottom: solid 3px;
    padding-bottom: 5px;
    font-weight: bold;
}
.m-0{
	margin: 0;
}
.row-ferias .title::after {
   border-color: #71b37d;
}
.newletter-form .card-course--content{
	width: 100%;
}
.newletter-form h2{
	color: var(--primary-highlight-color);
	font-weight: bold;
}
.newletter-form p{
	color: var(--primary-highlight-color);
	font-weight: bold;
}
.newletter-form .btn{
	    border: solid 1px var(--primary-highlight-color);
    background-color: #fff !important;
    color: var(--primary-highlight-color) !important;
    width: 155px;
}

/*contato */
.page .wp-block-cover {
	min-height: 300px;
}
.wpcf7-form input {
	width: 100%;
	border-radius: 0;
}
.wpcf7-form textarea {
		border-radius: 0;
}
input[type="submit"] {
	color: #fc4513;
	background-color: #ffffff!important;
	border: 1px solid #fc4513;
	border-radius: 0;
	width: auto;
}
@media (min-width: 992px){
.contact-map {
	text-align:center;
	margin: 50px auto;
}
}
input[type="text"],
input[type="email"],
textarea {
	border: 1px solid var(--primary-highlight-color);
	
}
body.postid-2048.single-lp_course .entry-content.course-content .information-box-wrapper .buttons-wrapper button{
    background-color: var(--secondary-highlight-color);
    border: 1px solid var(--secondary-highlight-color);
    color: #1c2833;
}
body.postid-2048.single-lp_course .entry-content.course-content .information-box-wrapper {
    border-top: 1px solid var(--secondary-highlight-color);
}
.postid-2048 .information-box,
.postid-1523 .information-box{
	background-color: #1c2833;
    color: #ffffff;
}
.lp-archive-courses #learn-press-course.course-summary .course-summary-content .lp-entry-content.lp-content-area .entry-content-left {
    min-height: 450px!important;
}
#learn-press-course-tabs.course-tabs ul.learn-press-nav-tabs .course-nav label {
	text-transform: initial;
} 
.lp-archive-courses #learn-press-course.course-summary .course-summary-content .lp-entry-content.lp-content-area .course-summary-sidebar .course-summary-sidebar__inner .course-sidebar-top .information-box-wrapper .title {
	font-weight: 400;
}
.page .bg-light {
	background-image: url('http://localhost/wp-content/uploads/2021/05/marca.png');
	background-size: auto 240px;
background-repeat: no-repeat;
background-position: 50px center;
}
.page .bg-dark {
	background-image: url('http://localhost/wp-content/uploads/2021/05/marca-dark.png');
	background-size: auto 240px;
background-repeat: no-repeat;
background-position: 50px center;
}
#masthead .main-navigation ul li::after {
	height: 1px;
}
.faceted-posts-search__quick-select-field button {
	margin-right: 5px !important;
}
.site-header {
	padding-top: 45px!important;
  padding-bottom: 40px!important;
}
.card-course .card-course--content {
	padding: 0 10px 20px;
}
.card-course .card-course--content .side .metabox-container {
	max-width: 220px;
}