:root body{
    --highlight-font-family: 'Montserrat', sans-serif;

    --global-heading-font-family: 'Frank Ruhl Libre', serif;
    --global-font-family: 'Roboto', sans-serif;
    --global-font-size: 17.6px;

    --primary-highlight-color: #fc4513;
    --secondary-highlight-color: #ffa500;
    --primary-color: #282828;
    --second-color: #666666;
    --dark-gray: #bbbbbb;
    --light-gray: #dddddd;

    --small-spacing: 22px;

    
    // novas variáveis globais
    --color-cardDetails: #666666;  
    --color-cardCourse:  #FC4513;
    --color-cardFerias:  #9B59B6;
    --color-cardActivity:#1C2833;

   --container-width: 1366px;

   --title-h3: 48px;

   --btn-padding: 10px 20px;

}

.no-side-paddings {
    padding-left: 0;
    padding-right: 0;
}

.wp-block-cover.alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 100vw;
    width: 100vw;
    padding-top: 30px;

    .wp-block-cover__inner-container {
        padding: 0 30px;

        @media screen and ( max-width: 767px ) {
            padding: 0 15px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 1360px;
            padding: 0 15px;
            width: 100%;
        }
    }
}

.wp-block-button {
    a {
        @extend .btn-bg-white;

        &:visited {
            color: $c_course__default;
        }
    }
}

.fa-calendar-day {
    fill: var(--color-cardCourse);
    margin-right: 10px;
}

.border-top-bottom {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding-bottom: 70px;
    padding-top: 70px;
}

.base-button {
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: center;
    margin-top: 22px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.red-bordered-button {
    border: 2px solid var(--primary-highlight-color);
    color: var(--primary-highlight-color);
    @extend .base-button;
}

.red-button {
    background-color: var(--primary-highlight-color);
    color: white;
    @extend .base-button;
}

.green-button {
    background-color: #71b37d;
    border: 2px solid #71b37d;
    color: white;
    @extend .base-button;
}

.clearfix {
    clear: both;
}

#primary .entry-content {
    max-width: var(--container-width);
    margin: 0;
    margin-top: 0 ;
}

.home .wp-block-column h2,
.home .wp-block-cover__inner-container h2 {
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 0;
}

.mc4wp-form {
    input {
        border-radius: 0;
    }

    .btn {
        font-family: var(--global-heading-font-family);
        font-size: var(--global-font-size);
    }
}

.btn-finished{
    cursor: default !important;
    background-color: #efefef !important;
    color: #666 !important;
}