.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: 0.313rem !important;
}
.m-2 {
    margin: 0.625rem !important;
}
.m-3 {
    margin: 0.938rem !important;
}
.m-4 {
    margin: 1.25rem !important;
}
.m-5 {
    margin: 1.563rem !important;
}


.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: 0.313rem !important;
}
.mt-2 {
    margin-top: 0.625rem !important;
}
.mt-3 {
    margin-top: 0.938rem !important;
}
.mt-4 {
    margin-top: 1.25rem !important;
}
.mt-5 {
    margin-top: 1.563rem !important;
}
.mt-auto {
    margin-top: auto !important;
}

.mr-0 {
    margin-right: 0 !important;
}
.mr-1 {
    margin-right: 0.313rem !important;
}
.mr-2 {
    margin-right: 0.625rem !important;
}
.mr-3 {
    margin-right: 0.938rem !important;
}
.mr-4 {
    margin-right: 1.25rem !important;
}
.mr-5 {
    margin-right: 1.563rem !important;
}
.mr-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.313rem !important;
}
.mb-2 {
    margin-bottom: 0.625rem !important;
}
.mb-3 {
    margin-bottom: 0.938rem !important;
}
.mb-4 {
    margin-bottom: 1.25rem !important;
}
.mb-5 {
    margin-bottom: 1.563rem !important;
}
.mb-auto {
    margin-bottom: auto !important;
}

.ml-0 {
    margin-left: 0 !important;
}
.ml-1 {
    margin-left: 0.313rem !important;
}
.ml-2 {
    margin-left: 0.625rem !important;
}
.ml-3 {
    margin-left: 0.938rem !important;
}
.ml-4 {
    margin-left: 1.25rem !important;
}
.ml-5 {
    margin-left: 1.563rem !important;
}
.ml-auto {
    margin-left: auto !important;
}

.p-0 {
    padding: 0 !important;
}
.p-1 {
    padding: 0.313rem !important;
}
.p-2 {
    padding: 0.625rem !important;
}
.p-3 {
    padding: 0.938rem !important;
}
.p-4 {
    padding: 1.25rem !important;
}
.p-5 {
    padding: 1.563rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}
.pt-1 {
    padding-top: 0.313rem !important;
}
.pt-2 {
    padding-top: 0.625rem !important;
}
.pt-3 {
    padding-top: 0.938rem !important;
}
.pt-4 {
    padding-top: 1.25rem !important;
}
.pt-5 {
    padding-top: 1.563rem !important;
}

.pr-0 {
    padding-right: 0 !important;
}
.pr-1 {
    padding-right: 0.313rem !important;
}
.pr-2 {
    padding-right: 0.625rem !important;
}
.pr-3 {
    padding-right: 0.938rem !important;
}
.pr-4 {
    padding-right: 1.25rem !important;
}
.pr-5 {
    padding-right: 1.563rem !important;
}


.pb-0 {
    padding-bottom: 0 !important;
}
.pb-1 {
    padding-bottom: 0.313rem !important;
}
.pb-2 {
    padding-bottom: 0.625rem !important;
}
.pb-3 {
    padding-bottom: 0.938rem !important;
}
.pb-4 {
    padding-bottom: 1.25rem !important;
}
/* .pb-5 {
    padding-bottom: 1.563rem !important;
} */


.pl-0 {
    padding-left: 0 !important;
}
.pl-1 {
    padding-left: 0.313rem !important;
}
.pl-2 {
    padding-left: 0.625rem !important;
}
.pl-3 {
    padding-left: 0.938rem !important;
}
.pl-4 {
    padding-left: 1.25rem !important;
}
.pl-5 {
    padding-left: 1.563rem !important;
}



