h1,
.h1 {
    font-family: $f_title;
    font-size: 48px;
    font-weight: normal;
    line-height: 1.1;
}

h2,
.h2 {
    font-family: $f_title;
    font-size: 42px;
    font-weight: normal;
    line-height: 1.1;
}

h3,
.h3 {
    font-family: $f_title;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.1;
}

h4,
.h4 {
    font-family: $f_title;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.1;
}

h5,
.h5 {
    font-family: $f_title;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
}

h6,
.h6 {
    font-family: $f_title;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1;
}

p {
    color: $c_gray__medium;
    font-size: 14px;
    margin-top: 7px;
}

a:hover,
a:focus,
a:active {
    color: var(--primary-highlight-color);
}

.font-title {
    font-family: $f_title;
}

.font-body {
    font-family: $f_body;
}

.on-going-title{
    color: #666666;
}