$f_body: 'Roboto', sans-serif;
$f_title: 'Frank Ruhl Libre', serif;

$c_primary_highlight: var(--primary-highlight-color);

$c_gray: #f5f5f5;
$c_gray__medium: #666666;
$c_gray__darker: #222222;
$c_red: #E30D1A;
$c_green: #3C9945;
$c_medium_grey_lesson_active:#DDDDDD;
$c_light_grey_lesson:#F5F5F5;
$c_light_grey_course_section_title:#111111;
$c_medium_grey_search_form:#EEEEEE;
$c_red_course:#FC4513;

// Course colors
$c_course__default: var(--primary-highlight-color);
$c_course__activity: #1C2833;
$c_course__vacation: #9B59B6;


$c_primary: black;
$c_secondary: rgba(255,225,0,0.8);

$small_spacing: 22px;
$large_spacing: 45px;

$dir_assets : '/wp-content/themes/sala-jau/assets/';

@function url-friendly-color($color) {
    @return '%23' + str-slice('#{$color}', 2, -1)
}
