body.general {
    background-image: url(../images/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: white;
    --primary-highlight-color: #fc4513;
    --secondary-highlight-color: #ffa500;
    --primary-color: #282828;
    --second-color: #666666;
    --light-gray: #d6d6d6;
    color: var(--second-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* FONTS */
h1 {
    font-size: 3rem;
    line-height: 3.62rem;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 2.5rem;
    line-height: 2.916rem;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 2rem;
    line-height: 2.212rem;
    margin: 1.46rem 0 1.168rem 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 0.5rem 0 0.4rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

p,
.paragraph {
    font-family: Helvetica, sans-serif;
}

/* HEADER */
header.site-header .left-content{
    display: flex;
    align-items: center;
}

header.site-header .left-content .social-icons {
    display: flex;
}

header.site-header .left-content .social-icons a:not(:last-child){
    margin-right: 10px;
}

header.site-header .left-content .social-icons a img{
    height: 20px;
}

header.site-header{
    padding: 3rem 1rem;
}

.site-header-wrapper {
    position: absolute;
}

.site-header-wrapper.has-sticky-header {
    box-shadow: none;
}

@media (max-width: 767px) {
    .main-navigation #menu-toggle i{
        color: white;
    }
}

@media (min-width: 768px) {
    .main-navigation ul li a{
        text-transform: uppercase;
        color: white;
        font-weight: bold;
    }
    .main-navigation ul li.current-menu-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-navigation ul li.current-menu-item:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: 10px;
    }

    .main-navigation .user-link-wrap .user-link{
        color: white;
    }
}

/* SUB-HEADER */
.site-sub-header {
    background: rgba(255, 255, 255, 0.25);
}

.site-sub-header .entry-title {
    color: white;
}

.site-sub-header .buddyx-breadcrumbs {
    color: white;
    text-transform: uppercase;
}

.site-sub-header .buddyx-breadcrumbs a {
    color: white;
}

/* FOOTER */

footer#colophon {
    background-image: url(../images/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    padding: 3rem 1rem;
}

footer#colophon .site-footer-wrapper > .container{
    display: flex;
}

footer#colophon .site-footer-wrapper > .container .left-content {
    margin-right: auto;
    display: flex;
    align-items: center;
}


footer#colophon .site-footer-wrapper > .container .left-content .social-icons {
    display: flex;
}

footer#colophon .site-footer-wrapper > .container .left-content .social-icons a{
    margin-right: 10px;
}

footer#colophon .site-footer-wrapper > .container .primary-menu-container ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

footer#colophon .site-footer-wrapper > .container .primary-menu-container ul li a{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

footer#colophon .site-footer-wrapper > .container .primary-menu-container ul li:last-child a {
    padding-right: 0;
}

footer#colophon .site-footer-wrapper > .container .primary-menu-container ul li.current-menu-item a{
    border-bottom: 3px solid;
    padding: 10px;
}

@media (max-width: 767px) {
    footer#colophon .site-footer-wrapper > .container{
        flex-direction: column;
    }

    footer#colophon .site-footer-wrapper > .container .left-content {
        margin-bottom: 20px;

    }

    footer#colophon .site-footer-wrapper > .container .left-content {
        margin-right: initial;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    
    footer#colophon .site-footer-wrapper > .container .left-content .social-icons {
        flex: 0.6;
        display: flex;
        justify-content: space-between;
    }

    footer#colophon .site-footer-wrapper > .container .primary-menu-container ul{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    footer#colophon .site-footer-wrapper > .container .primary-menu-container ul li{
        margin-bottom: 15px;
    }

    footer#colophon .site-footer-wrapper > .container .primary-menu-container ul li.current-menu-item a{
        border-bottom: 0;
        padding: 0;
    }

    footer#colophon .site-footer-wrapper > .container .primary-menu-container ul li a{
        padding: 10px 0;
    }
}


/* COURSE LIST */
.courses-area {
    margin-bottom: 60px;
}

.courses-area .courses-cards .course-card.first {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 30px;
    margin-bottom: 40px;
}

.courses-area .courses-cards .course-card.first img{
    width: 100%;
    
}

.courses-area .courses-cards .course-card .title{
    font-size: 1rem;
    color: var(--primary-highlight-color);
    display: inline-block;
    margin-top: 5px;
}

.courses-area .courses-cards .course-card.first .title{
    font-size: 2.3rem;
    color: white;
    margin-top: 0;
}

.courses-area .courses-cards .course-card .taxonomy a{
    color: black; 
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}

.courses-area .courses-cards .course-card.first .taxonomy a{
    color: white; 
    margin-top: 0;
}

.courses-area .courses-cards .course-card:not(.first) {
    width: 33%;
}


.courses-area .entry-title {
    color: white;
}


.courses-area .course-thumbnail {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    height: 0;
}

.courses-area .course-thumbnail img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* COURSE SINGLE */
#learn-press-course-tabs .course-curriculum ul.curriculum-sections .section-content .course-item:last-child {
    border-bottom: 0;
}

/* Hides the second image generated by lazyload */
.author-wrapper .author-name p img + img {
    display: none !important;
}

.author-wrapper .author-bio {
    float: left;
}

.author-wrapper .author-bio h3 {
    font-style: normal;
}