.faceted-posts-search__quick-select-field {
    display: flex;

    @media (max-width: 780px) {
        flex-wrap: wrap;
    }

    button {
        color: var(--primary-darker);
        background-color: unset;
        font-weight: bold;
        font-size: 1.25rem;
        transition: all .2s ease-in-out;

        &.active {
            background-color: var(--accent-color);
            color: white;
            transition: all .2s ease-in-out;
        }

    }
}