@import '_resets';
@import '_fonts';
@import '_variaveis';

/****GERAIS*****/
body{background: white;max-width: 100%;overflow-x: hidden;}
  .container {
    max-width: 1170px;margin-left: auto;margin-right: auto;
    @media screen and (max-width: 1200px){
      width: calc(100% - 32px);
    }
  }
.gridFlex{display: flex;}
.btn{background: $verdeBotao 0% 0% no-repeat padding-box;box-shadow: 5px 5px 10px $verdeBotaoSombra;}
.btnSecundario{
  border: 1px solid $branco;color:$branco;transition: (border ease-in 300ms 200ms  , color ease-in 200ms 100ms );
  path{
    transition: (stroke ease-in 300ms 200ms)
  }
  &:hover{
    border: 1px solid $laranjaPadrao;color:$laranjaPadrao;
    path{
      stroke: $laranjaPadrao;
    }
  }
}

.btnPrimary{
  border: 1px solid $laranjaPadrao;color:$laranjaPadrao;transition: (background ease-in 300ms 200ms  , color ease-in 200ms 100ms );

  &:hover{
    background: $laranjaPadrao;color:$branco;

  }
}
nav ul {display: flex; }
h2{font: normal normal normal 36px/64px Frank Ruhl Libre; margin-bottom: 36px}
p{font-size: 16px; line-height: 32px; font-family: 'Roboto', sans-serif; color:$body; strong{font-weight: bold} }
h3{font: normal normal normal 24px/24px Frank Ruhl Libre;}
.separador{height: 1px; width: 100%; background: #E9E9E9;max-width: 1170px; margin-right: auto;margin-left: auto}
/***CARD***/
.contentCard{
  .imgCard{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .caixaCard{
    margin-top: 12px;
    border: 1px solid #CCCCCC;
    padding: 36px 24px;

    .tags{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      span{
        font: normal 300 16px/19px Roboto;
        letter-spacing: 0px;
        color: #666666;
        font-style: italic;
        strong{
          letter-spacing: 0px;
          color: #666666;
          font-style: normal !important;
          font-weight: 500;
        }
      }
    }

    .tituloCard{
        h4{
          font: normal normal normal 24px/24px Frank Ruhl Libre;
          color:$laranjaPadrao;
          margin-top: 24px;
        }
    }

    .com{
      margin-top: 16px;
      p{
        strong{
          font-weight: 500;
        }
      }
    }

    .moreInfo{
      display: flex;
      margin-top: 36px;
      flex-wrap: wrap;
      justify-content: space-between;

      .agenda{
        display: flex;
        align-items: center;

        @media screen and (max-width: 1130px){
          flex-basis: 100%;
          margin-bottom: 24px;
        }

        @media screen and (max-width: 900px) {
          flex-basis: auto;
        }

        img{
          width: 20px;
          height: 20px;
          flex-basis: 20px;
          margin-right: 12px;
        }
        p{
          line-height: 20px;
        }
      }

      .btnInfo{
        display: flex;
        height: 48px;
        max-width: 170px;
        flex-basis: 170px;
        justify-content: end;
        .btnPrimary {
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 48px;
          font-family: 'Frank Ruhl Libre', serif;
          font-size: 18px;
        }
      }

    }

  }
}



/****TOPO*****/
header{
  background: $azulFundo;
  padding: 48px 0px;
  position: sticky;
  z-index: 99;
  top: 0;
  transition: (ease-in 300ms 200ms padding , 100ms 100ms background);

  .menu{
    @media screen and (max-width: 900px){
      display: none;
    }
    &.menuAberto{
      @media screen and (max-width: 900px){
        display: block;
        position: fixed;
        z-index: 999;
        background: white;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
      }

      ul{
        margin-top: 117px;
        display: block;
        li{
          margin-right: 0;
          margin-left: 36px;
          margin-bottom: 16px;
          a {
            @media screen and (max-width: 900px){
              color: $body;
              font-size: 24px;
            }
          }
        }
      }


    }

  }

  .logo{
    @media screen and (max-width: 900px){
      width: 96px;
    }
  }

  &.headerAtivo{
    background: $branco;
    padding: 23px 0px;
    box-shadow: 5px 5px 25px #0618441A;
    nav a{
      color: #666666;
    }

    .menuMobile{

      .iconMenu {
        span {
          background: #666666;
        }
      }

    }


    .logo{
      img{
        filter: brightness(50%) sepia(100) saturate(100) hue-rotate(18deg);
      }
    }
  }

  .menuMobile{
    display: none;
  cursor: pointer;
    .iconMenu{
      width: 40px;
      span{
        display: block;
        background: $branco;
        width: 100%;
        height: 2px;
        margin-bottom: 10px;
        transition: (ease-in 300ms 200ms top , ease-in 300ms 200ms transform   ) ;
        &:last-of-type{
          margin-bottom: 0px;
        }
      }
    }

    @media screen and (max-width: 900px){
      display: block;
    }

    &.mobileMenuAtivo {
      z-index: 999;
      .iconMenu {
        span {
          background: #666666;
          &:nth-of-type(3){transform: rotate(-45deg);
          top: -16px;position: relative}
          &:nth-of-type(2){transform: translateX(100px)}
          &:nth-of-type(1){transform: rotate(45deg);
            top: 8px;position: relative}
        }
      }
    }

  }

  .gridFlex{
    justify-content: space-between;
    align-items: center;
  }
  nav{
    ul{
      li{
        margin-right: 36px;
        &:last-of-type{
          margin-right: 0px;
        }
        a{
          color:$branco;
          font: normal normal normal 16px/32px Roboto;
          transition: (color ease-in 300ms 200ms);
          &:hover{
            color: $laranjaPadrao;
          }
        }
      }
    }
  }
}
.bannerContent{
  background: $azulFundo;
  padding-top: 48px;
  padding-bottom: 174px;
  position: relative;

  @media screen and (max-width: 900px) {
    padding-top: 0px;
    padding-bottom: 48px;
  }

  .gridFlex {
    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
    }
  }


  .Images{
    flex-basis: 60%;
    @media screen and (max-width: 900px) {
      flex-basis: 100%;
    }
  }
  .Text{
    flex-basis:40%;
    padding-right: 45px;

    @media screen and (max-width: 900px){
      flex-basis:100%;
      padding-right:0px;
    }

    h1{
      font: normal normal 300 48px/64px Frank Ruhl Libre;
      color: $branco;
      margin-bottom: 24px;
      @media screen and (max-width: 900px) {
        font: normal normal 300 32px/48px Frank Ruhl Libre;
      }
      strong{
        font-weight: 500;
      }
    }

    p{
      font: normal normal 300 18px/28px Roboto;
      color: #FFFFFF;
      margin-bottom: 16px;
      &.destaque{
        color: #FC4613;
        font-size:16px;
        line-height: 24px;
        strong{
          font-weight: bold;
        }
      }
    }
  }

  #frmInscricao{
    margin-top: 30px;
    max-width: 370px;
    @media screen and (max-width: 900px) {
      max-width: 100%;
    }
    .itemForm {

      border: 1px solid $branco;
      height: 56px;
      margin-bottom: 16px;
      position: relative;

      &.itemFormAtivo{
        border: 1px solid $laranjaPadrao;
        label{
            top:0px;
            background: $azulFundo;
            font: normal normal normal 16px/20px Frank Ruhl Libre;
            letter-spacing: 0px;
            color: #FFFFFF;
            padding: 0px 16px;
        }
      }

      label{
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-top: -9.5px;
        left: 20px;
        font: normal normal normal 16px/19px Roboto;
        color: #ffffff;
        transition: (top ease-in 300ms 200ms, background ease-in 400ms 000ms, margin-top ease-in 200ms 000ms,border ease-in 300ms 200ms);
      }
      input{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        font: normal normal normal 16px/19px Roboto;
        letter-spacing: 0px;
        color: $branco;
        padding: 20px;
        -webkit-appearance: none;
        border-radius: 0;
        appearance: none;
      }
    }
    .Botao{
      input{
        background: $verdeBotao 0% 0% no-repeat padding-box;box-shadow: 5px 5px 10px $verdeBotaoSombra;
        width: 100%;
        text-align: center;
        height: 56px;
        cursor: pointer;
        font-weight:500;
        font-size:18px;
        line-height: 56px;
        font-family: 'Frank Ruhl Libre', serif;
        color:#ffffff;
        -webkit-appearance: none;
        border-radius: 0;
        appearance: none;
        transition: (opacity ease-in 300ms 200ms);

        &:hover{
          opacity: .8;
        }
      }
    }

    p{
      font: normal normal normal 12px/20px Roboto;
      letter-spacing: 0px;
      color: #9A9A9A;
      text-align: center;
      margin-top: 16px;
      a{
        text-decoration: underline;
        transition: (color ease-in 300ms 200ms);
        &:hover{
          color: $laranjaPadrao;
        }
      }
    }

  }

  .Images{
    @media screen and (max-width: 900px) {
      margin-top: 36px;
    }

    .contentImages{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media screen and (max-width: 900px) {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }

      img{
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }

      .spot1{
        flex-basis: 700px;
        @media screen and (max-width: 900px) {
          flex-basis: 100%;
        }
      }
      .spot2{
        margin-top: -62px;
        @media screen and (max-width: 960px) {
          width: 210px;
        }

        @media screen and (max-width: 900px) {
          width: auto;
          flex-basis:47.60%;
        }


      }
      .spot3{
        margin-top: -18px;
        @media screen and (max-width: 960px) {
          width: 222px;
        }

        @media screen and (max-width: 900px) {
          width: auto;
          flex-basis:57.17%;
          margin-left: -10.28%;
        }
      }
    }
  }

  .btnTopoScroll{
    width: 36px;
    height: 36px;
    position: absolute;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24px;
    left: 50%;
    margin-left: -18px;cursor: pointer;
    transition: border ease-in 300ms 200ms;

    @media screen and (max-width: 900px) {
      display: none;
    }

    #Path_2208{
      transition: stroke ease-in 300ms 200ms;
    }

    &:hover{
      border: 1px solid $laranjaPadrao;
      #Path_2208{
        stroke:$laranjaPadrao;
      }
    }
    }
}

/***SOBRE****/
#sobre-o-curso{
  margin-top: 128px;
  margin-bottom: 64px;

  @media screen and (max-width: 900px) {
    margin-top: 64px;
    margin-bottom: 48px;
  }

  .gridFlex{
    flex-wrap: wrap;
  }
  h2{
    color: $laranjaPadrao;
    margin-bottom:24px;
    @media screen and (max-width: 900px) {
      font: normal normal normal 28px/36px Frank Ruhl Libre;
    }
  }

  .TxtSobre{
    flex-basis: 68.38%;
    padding-right: 30px;
    @media screen and (max-width: 900px) {
      flex-basis: 100%;
      padding-right: 0;
    }
    .contItem>p{
      max-width: 658px;
    }
    h3{
      margin-top: 36px;
      color: $laranjaPadrao;
      font-size: 18px;
    }

    .acordeonPrograma{
      .itemAcordeon{
        margin-top: 16px;
        max-width: 570px;
        @media screen and (max-width: 900px) {
         max-width: 100%;
        }
        .titleAcordeon {
          display: flex;
          flex-wrap: wrap;
          height:48px;
          border: 1px solid #CCCCCC;
          padding: 0px 24px;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          h4{
            font: normal normal 500 16px/20px Frank Ruhl Libre;
            letter-spacing: 0px;
            color: #666666;
          }
        }
        .contentAcordeon{
          margin-top: 8px;
          margin-bottom: 8px;
          font-size: 15px;
          line-height: 24px;
          display: none;
        }
      }
    }

  }

  .cardCurso{
    flex-basis: 31.62%;

    @media screen and (max-width: 900px) {
      flex-basis: 370px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 36px;
    }


  }
}

/***VANTAGENS***/
 #vantagens{
   margin-top: 64px;
   .gridFlex{
     margin-left: -15px;
     margin-right: -15px;
     @media screen and (max-width: 650px) {
       flex-wrap: wrap;
     }
     .itemVantagem{
       padding: 0px 15px;
       flex-basis: 25%;
       @media screen and (max-width: 650px) {
         flex-basis: 100%;
         margin-bottom: 36px;
       }

       .contentItem{
         h3{
           color: $laranjaPadrao;
           margin-top: 36px;
           font-size: 20px;
           margin-bottom: 16px;
           @media screen and (max-width: 650px) {
             margin-top: 16px;
           }
         }
         .icon{
           display: flex;
           align-items: first baseline;
           height: 84px;
         }
       }
     }
   }
 }

 /***AULA ESPECIAL**/
#aula-especial{
  background: $laranjaPadrao;
  margin-top: 124px;
  margin-bottom: 64px;
  padding: 64px 0px;

  @media screen and (max-width: 650px) {
    margin-top: 32px;
  }

  @media screen and (max-width: 900px) {
    padding: 48px 0px 96px 0px;
    margin-bottom: 48px;
  }

  h2{
    color: $branco;
    @media screen and (max-width: 900px) {
      font: normal normal normal 28px/36px Frank Ruhl Libre;
    }
    strong{
      font-weight: 500;
    }
  }

  #MyPlayer {
    height: 658px;
    width: 100%;
    display: block;
  }

}

/****PROXIMOS CURSOS****/

#proximosCursos{
  h2{
    color: #666666;
    @media screen and (max-width: 900px) {
      font: normal normal normal 28px/36px Frank Ruhl Libre;
    }
  }
  .todoCarroselCursos{
    margin-left: -15px;
    margin-right: -15px;

    .slick-dots{
      display: flex;
      justify-content: center;
      margin-top: 24px;
      li{
        margin-right: 6px;
        button{
          color: transparent;
          width: 24px;
          height: 6px;
          background: #B9B9B9 0% 0% no-repeat padding-box;
          border-radius: 5px;
          display: block;
          cursor: pointer;
        }
        &.slick-active{
          button{
            background: #8D8D8D 0% 0% no-repeat padding-box;
            width: 48px;
          }
        }
        &:last-of-type{
          margin-right: 0px;
        }
      }
    }

    .itemCurso{
      padding: 0px 15px;
      height: auto;

      @media screen and (max-width: 900px) {
        width: 400px;
      }
    }
  }
}

footer{
  background: $azulFundo;
  margin-top: 196px;
  padding-top: 96px;
  padding-bottom: 124px;

  @media screen and (max-width: 900px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .separador{
    background: #49535d;
    margin-top: 96px;
    margin-bottom: 48px;

    @media screen and (max-width: 900px) {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  .gridFlex{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .logo{
      @media screen and (max-width: 900px) {
        flex-basis: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    .menu{
      @media screen and (max-width: 900px) {
        flex-basis: 100%;
        text-align: center;
      }
    }
    .social{
      @media screen and (max-width: 900px) {
        flex-basis: 100%;
        text-align: center;
      }
    }

  }

  .copyright{
    p{
      font: normal normal normal 14px/32px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
    }
  }

  .btnTopo{
    @media screen and (max-width: 900px) {
      flex-basis: 100%;
    }
  }


  .btnSecundario {
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 48px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 16px/20px Frank Ruhl Libre;

    @media screen and (max-width: 900px) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
    }

    i{
      margin-left: 12.75px;
      svg {
        transform: rotate(180deg);
      }
    }
  }

  nav{
    &.menu {
      a{
        font: normal normal normal 16px/32px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        transition: (color ease-in 300ms 200ms );
        &:hover{
          color: $laranjaPadrao;
        }
      }

      @media screen and (max-width: 900px) {
        margin-top: 48px;
      }

    }
    ul{
      @media screen and (max-width: 900px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
      }
      li{
        @media screen and (max-width: 900px) {
          flex-basis: 100%;
          margin-right: 0;
          margin-bottom: 36px;
        }
        margin-right: 36px;
        &:last-of-type{
          margin-right: 0px;
        }
      }
    }
  }

  .social{
    margin-top: 16px;
    li{
        @media screen and (max-width: 900px) {
          flex-basis: auto;
          text-align: center;
          margin-right: 36px;
        }
      &:last-of-type{
        @media screen and (max-width: 900px) {
          margin-right: 0px;
        }
      }
    }
    a{
      &:hover{
        path {
          fill:$laranjaPadrao
        }
      }
      path {
        transition: (fill ease-in 300ms 200ms );
      }
    }
  }

}

/****FAIXA RODAPE*****/
#FaixaFixa{
  position: fixed;
  width: 100%;
  bottom: 0;
  background: $branco;
  padding: 15px 0px;
  z-index: 999999;
  box-shadow: -5px -5px 25px #0618441A;
  display: none;

  &.faixaAtivo{
    display: block;
  }

  .gridFlex{
    justify-content: space-between;
    align-items: center;
    .inscreva-seBtn{
      margin-right: 28px;
      @media screen and (max-width: 350px) {
        margin-right: 10px;
      }


      .btn {
        width: 370px;
        height: 56px;
        color: $branco;
        text-align: center;
        font-weight:500;
        font-size:18px;
        line-height: 56px;
        font-family: 'Frank Ruhl Libre', serif;
        display: block;
        transition: (opacity ease-in 300ms 200ms);

        @media screen and (max-width: 900px) {
          width: 124px;
          height: 36px;
          font-size:16px;
          line-height: 36px;
        }

        &:hover{
          opacity: .8;
        }
      }
    }
  }
  .btns{
    display: flex;
    align-items: center;
    .closeFaixa{
      cursor: pointer;
    }
  }

  .inscreva-se{
    h4{
      font: normal normal 400 20px/26px Frank Ruhl Libre;
      letter-spacing: 0px;
      color: #666666;

      @media screen and (max-width: 900px) {
       font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #666666;
        font-weight: 500;
        max-width: 196px;
      }

      @media screen and (max-width: 410px) {
        max-width: 150px;
      }

      @media screen and (max-width: 320px) {
        max-width: 130px;
      }

    }
    p{
      margin-top: 8px;
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
      color: #FC4513;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

}