.about-us{
	.pr-55{
		padding-right: 55px;
	}
	.pl-55{
		padding-left: 55px;
	}
	.cover{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.title{
		margin-bottom: 15px;
		font-size: 35px !important;
		font-family: "Frank Ruhl Libre", serif;
		color: var(--primary-highlight-color) !important;
		text-align: center;
	}
	.title::after{
		content: "";
		border-bottom: solid 3px #000;
		display: block;
		margin: 0 auto;
		width: 95px;
		padding-top: 10px;
		margin-bottom: 25px;
	}
	.item{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		p{
			margin: 0;	
		}
		.fa{
			margin: 0 15px 0 0;	
			font-size: 35px;
		}
		.fa-clock-o{
			font-size: 42px;
		}
	}
	.border-t-dark::before{
		content: "";
	    width: 31px;
	    border-top: solid 4px #000;
	    height: 10px;
	    display: block;
	}

	.border-r{
		border-right: solid 2px #fff;
	}
	.border-r-dark{
		border-right: solid 2px #ddd;
	}
	.wp-block-cover{
		padding: 40px 0;
	}
	.wp-block-columns, .wp-block-column{
		align-self: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	@media (max-width: 500px){
		.intro{
			text-align: center;
		}
		.pl-55, .pr-55{
			padding: 0;
		}
		.border-r, .border-r-dark{
			border: none;
		}
		.cover{
			margin-bottom: 15px;
			display: block;
		}
	}
}