.contact-container{
	h1{
		color: #fff;
	}
	.icon img{
		max-width: 50px;
	}

	.info{
		margin-bottom: 30px;
	}
	.info p, .info a{
		margin-bottom: 0;
		color: #555;
		font-size: 19px;
	}
	.info a:hover{
		color: var(--primary-highlight-color);
	}
	.info-col{
		margin-top: 100px;
	}
	.fa-volume-control-phone{
		transform: rotate(-45deg);
	}
	.info-container{
		margin-top: 140px;
	}
	.newsletter-container{
		display: flex;
		justify-content: center;
		.newsletter input{
            border-radius: 0;
			width: 100%;
		}
		.newsletter{
			border: solid 1px var(--primary-highlight-color); 
			padding: 50px;
			margin: 50px auto;
		}
		.newsletter h2{
			color: var(--primary-highlight-color);
		}
	}
}

@media (max-width: 768px){
	.contact-container{
		.entry-title{
			color: var(--primary-highlight-color) !important;
		}
		.info-col{
			margin-top: 25px !important;
		}
		.info-container{
			margin-top: 15px !important;
		}
	}
}