footer.site-footer {
    background-color: var(--primary-highlight-color);
    background-image: url(/wp-content/themes/sala-jau/assets/images/sala-jau-bg-header.png);
    border: none;
    #footer-mobile{
        display: none;
        @include mobile{
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;
            gap: 24px;
            li > a {
                &:hover::after{
                    display:none;
                }
            }
            .sub-menu{
                li> a{
                    padding-top:0px;
                    font-weight:700;
                }
            }
            .coluna1 > a{
                display: none;
            }
            .coluna2 > a{
                display: none;
            }
            .coluna2{
                .sub-menu{
                    border: none;
                }
            }
            .col-submenu{
                .sub-menu{
                    margin-left: 15px;
                    border-left: 1px solid #FFF;
                    padding: 0px;
                    
                    li > a{
                        margin-left: 0px;
                        font-weight: 400 !important;
                        font-size: 14px;
                        padding-bottom:15px;
                        padding-left: 15px;
                    }
                }
            }
            .col-submenu  > a{
                padding:0px;
                padding-bottom: 10px;
            }
           
        }
    }
    &#colophon{
        padding-top:0px !important;
    }

    .site-footer-wrapper {
        padding-top: 0px !important;
        margin-top: 86px;
        &>.container {
            @include tablet-up {
                display: flex;
            }

            .row {
                width: 100%;
                 > div:first-child{
                    justify-content: center;
                }
                 > div:last-child{
                    display: flex;
                    margin-bottom: 40px;
                    align-items: flex-start;
                    @include tablet{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: center;
                        align-items: center;
                    }
                }
                @include tablet {
                    margin-left: 0;
                }

                >div {
                    @include tablet-up {
                        display: flex;
                    }


                    .left-content {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                        margin-right: auto;

                        @include tablet {
                            display: flex;
                            flex-direction: column;
                            align-content: center;
                            align-items: center;
                            margin-right: 0px;
                        }

                        .social-icons {
                            display: flex;

                            a {
                                margin-right: 10px;
                                @include tablet{
                                    margin-right: 15px;
                                }
                                &a:last-child{
                                    margin-right: 0px;
                                }
                                
                            }
                        }
                    }

                    .contact-info {
                        @include tablet-up {
                            display: flex;
                        }

                        ul {
                            display: flex !important;
                            list-style: none;
                            align-self: center;
                            @include tablet {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }

                            li {
                                @include tablet{
                                    margin-right: 0px !important;
                                    margin-bottom: 20px;
                                }
                            }

                            li,
                            a {
                                font-size: 15px;
                                display: flex;
                                align-items: center;
                                color: #fff;

                                &:not(:last-child) {
                                    margin-right: 30px;
                                }

                                img {
                                    max-width: 36px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .site-logo-wrapper {
        transition: all 0.35s ease;
        @include tablet{
            margin-right: 15px;
            margin-bottom: 25px;
        }

        &:hover {
            opacity: 0.8;
        }
       a{
        @include tablet{
            margin-right: 0px;
        }
       }
    }



    .social-icons {
        a {
            transition: all 0.35s ease;

            &:hover {
                opacity: 0.8;
            }
            @include tablet{
                margin-right: 0px;
            }
        }
    }
    #footer-menu{
        li > a {
            padding-top: 0px;
            &:hover::after{
                display:none;
            }
        }
        @include mobile{
            display: none !important;
        }
        .menu-item-2595{
            li > a {
                font-weight: 700;
            }
        }
    }
    #menu-item-3965{
        .sub-menu{
            li > a {
                padding: 0px;
                padding-bottom: 15px;

            }
        }
    }
    .footer-menu-container {
        margin:0px;

        ul.menu {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            justify-content: center;
            list-style: none;
            padding: 0;
            font-weight: bold;
            flex-direction: row;
            margin: 56px 0 0 0;
            gap: 10vw;
            
            @include mobile {
                display: grid !important;
                grid-template-columns: 1fr 1fr 1fr !important;
                justify-items: center;
            }

            @include small {
                display: grid!important;
                grid-template-columns: 1fr 1fr 1fr!important;
                justify-items: center;
            }
            .sub-menu {
                list-style: none;
                display: flex;
                padding-left: 0;
                flex-direction: column;
                margin-left: 0;
                align-items: flex-start;
                @include small{
                    &.sub-menu:nth-child(2){
                        padding-left: 0px;
                        border: none;
                    }
                    li >a{
                        margin-left: 0px;
                        
                    }
                }

                li {
                    margin: 0;
                    font-weight: normal;
                }

                a {
                    color: #fff;

                    @media (min-width: 1025px) and (max-width: 1500px) {
                        text-align: inherit;
                        margin-left: 0px;
                    }

                    @include mobile {
                        margin-left: 20px;
                        text-align: left;
                    }

                    @include small {

                        margin-left: 20px;
                        text-align: left;
                    }
                }

                &:after {
                    content: "";
                    display: block;
                }
            }

            li {
                margin: 0;
                position: relative;
                @include small {
                    margin: 0;
                }
                &:nth-child(2){
                    ul{
                        padding-left: 15px;
                        border-left: 1px solid #FFFFFF;
                    }
                }
                &:nth-child(3){
                    ul{
                        a{
                            font-weight: 700;                    
                        }
                    }
                }
                a {
                    color: white;
                    display: block;
                    font-family: var(--global-font-family);
                    font-size: 15px;
                    padding: 24px 0;
                    text-transform: uppercase;       
                    text-align: start;

                    @include mobile {
                        text-align: inherit;
                        padding: 24px 0;
                    }

                    @include small {
                        padding:0px;
                        padding: 24px 0;
                    }

                    @include tablet {
                        text-align: inherit;
                        padding: 24px 0;
                    }

                    &::after {
                        background: transparent;
                        bottom: 15px;
                        content: "";
                        height: 2px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                    }

                    &:hover {
                        &::after {
                            background-color: white;
                            top: 48px;
                        }
                    }
                }
            }
        }

        // @media screen and (min-width: 768px) {

        //     ul {
        //         li {
        //             margin: 0 0 0 0.5em;
        //             a {
        //                 border-bottom: 1px solid transparent;
        //                 padding: 10px;
        //                 transition: all 0.15s ease;
        //                 &:hover {
        //                     border-color: white;
        //                 }
        //             }
        //         }
        //     }
        // }

    }

}
