#masthead {
    display: block;
    //overflow: hidden;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-top: $large_spacing;

    @include medium-up {
        align-items: baseline;
        display: flex;
        padding-top: 30px;
        padding-bottom: 75px;
    }

    .left-content {
        margin-top: 35px;

        @include medium-up {
            align-self: center
        }

        .site-logo-wrapper {
            transition: all 0.35s ease;

            &:hover {
                opacity: 0.8;
            }
        }

        .social-icons {
            a {
                transition: all 0.35s ease;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }



    .main-navigation {
        @include tablet-up {
            align-items: flex-end;
            flex-direction: column;
        }

        @include mobile {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }

        .primary-menu-container {
            float: right;

            ul {


                .sub-menu {
                    position: absolute;
                    flex-direction: column;


                    @include small {
                        position: relative;
                    }

                    @include mobile {
                        position: relative;
                    }

                    @include tablet {
                        position: relative;
                    }

                    a {
                        color: #fc4513;
                    }
                }

                li {
                    margin-left: $large_spacing;
                    position: relative;

                    .dropdown-toggle {
                        background-color: transparent;
                        border: none;

                        &::after {
                            color: #fc4513 !important;
                            font-weight: bold;
                        }
                    }


                    &::after {
                        background: transparent;
                        bottom: 15px;
                        content: "";
                        height: 2px;
                        position: absolute;
                        transition: all 0.35s ease;
                        width: 100%;
                    }


                    a {
                        color: white;
                        font-family: var(--global-font-family);
                        font-size: 15px;
                        padding-left: 0;
                        padding-right: 0;
                        text-transform: uppercase;
                    }

                    &.current-menu-item {
                        a {
                            font-weight: bold;
                        }
                    }
                }
            }

            &.buddyx-mobile-menu {
                z-index: 9999;

                .mobile-menu-heading {
                    background-color: var(--primary-highlight-color);

                    h3 {
                        font-family: $f_title;
                        font-weight: bold;
                        text-transform: capitalize;
                    }

                    a.menu-close {
                        font-family: $f_body;
                        padding-right: 0;

                        &::after,
                        &::before {
                            display: none;
                        }
                    }
                }

                .moible-icons {
                    .menu-icons-wrapper {
                        margin-left: 0;

                        &.cart {
                            margin-left: 10px;
                        }
                    }
                }

                ul.menu {

                    li {
                        margin-left: 15px;

                        a {
                            color: $c_gray__medium;

                        }

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .buddypress-icons-wrapper {

            @media screen and (min-width: 768px) and (max-width: 991px) {
                margin-top: 3px;
            }

            @media screen and (max-width: 767px) {
                padding-top: 7px;
            }

            @media screen and (min-width: 992px) {
                justify-content: flex-end;
                width: 100%;
            }

            .user-link-wrap {
                .user-link {
                    @include mobile {
                        display: flex;
                        flex-direction: row-reverse;
                        pointer-events: auto;
                    }

                    .bp-user {
                        @include mobile {
                            display: block;
                            padding-left: 15px;
                        }
                    }
                }
            }

            .desktop-icons {
                .menu-icons-wrapper {
                    &.cart {
                        span {
                            &::before {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            a {
                color: white;
                transition: all 0.35s ease;

                &:hover {
                    opacity: 0.8;
                }

                &.cart {
                    font-size: var(--global-font-size);

                    sup {
                        background-color: var(--secondary-highlight-color);
                        top: -15px;
                    }
                }

                &.btn-login {
                    font-family: var(--global-font-family);
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-right: 0;

                    >span {
                        font-size: 17px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .menu-item{
        .sub-menu{
            margin-left: 32px;
            padding: 16px;
            @media(max-width: 782px){
                margin-left: 0;
                padding: 0;
            }
            .menu-item{
                margin-left: 0;
            }
            .menu-item:nth-of-type(2),
            .menu-item:nth-of-type(3){
                padding-left: 12px;
            
            }

        }
    }
}

body:not(.home) {
    #masthead {
        @include tablet-up {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &.simplified-header {
        background-image: none;

        .site-header-wrapper {
            background-color: var(--primary-highlight-color);
            background-image: url($dir_assets + 'images/sala-jaubg-header-simplified.png');
            background-repeat: no-repeat;

            #masthead {
                @include tablet-up {
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
            }
        }

        .site-sub-header {

            .page-header,
            .page-title {
                color: var(--primary-highlight-color);
            }
        }
    }
}

.site-sub-header {

    .page-header,
    .page-title {
        color: white;
    }
}