
/*owned courses*/

.lp-tab-sections{
	padding-left: 25px !important;
}

.lp-sub-menu, .profile-courses-list{
	margin-left: 0 !important;
}

.profile-courses-list{
	max-width: 885px;
	.card-course{
		padding-left: 0;
	}
}

/* menus, buttons, details */

.lp-tab-sections .section-tab.active span {
    border-bottom: 5px solid var(--primary-highlight-color);
}

#learn-press-profile-header{
	color: #fff;
	font-weight: bold;
	background-color: #ff815f !important;
}

.lp-tab-sections{
	padding: 15px 5px;
    font-size: 16px;
    margin: auto auto 30px auto !important;
}

/* settings avatar */

.lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom{
	background: #ff815f !important;
}

#learn-press-user-profile{
	margin-top: 35px !important;
	
	.container-form{
		margin-top: 30px;
		display: flex;
		justify-content: center;

		#learn-press-profile-header{
			background-color: #ff7e5a;
		}


		.lp-avatar-preview .profile-picture{
			margin-top: 0;
		}
		form{
			max-width: 200px;
		}
		.lp-avatar-preview{
			background: none !important;
		}
		.profile-picture, .croping {
	    	overflow: hidden;
	    	border-radius: 10px;
	    	border: solid 1px #ddd;
		}
	}
}

body.profile {
    #learn-press-user-profile {
        border: 0;
        box-shadow: none;
        margin-bottom: 35px;
    
        #learn-press-profile-header {
            background-color: white !important;
            color: #666;
            // display: none;

            .lp-profile-avatar {
                img {
                    margin: 0 30px 30px 0;
                    max-width: 70px;
                }

                .profile-name {
                    font-family: $f_title;
                    font-size: var(--font-size-large);
                    margin-bottom: 0;
                    margin-top: 9px;
                }
            }
        }
        #learn-press-profile-nav {
            background: white;
            padding-top: 0;

            &:before {
                background-color: white;
            }

            .tabs > li {
                a {
                    background: white;
                    border-top: 0;
                    color: #666;
                    font-family: $f_body;

                    &:hover {
                        background: #F5F5F5;
                        color: var(--primary-color);
                    }
                }

                &.active {
                    > a {
                        background: white !important;
                        border-left: 1px solid var(--primary-highlight-color);
                        color: var(--primary-color);
                    }
                }

                ul {
                    li {
                        a {
                            background-color: #F5F5F5;
                            &:hover {
                                background: #F0F0F0;
                            }
                        }
                    }
                }

            }

            .has-child.active {
                ul {
                    display: none;
                }
            }
        }

        #learn-press-profile-content {
            margin-top: 0;
            
            h3.profile-heading {
                color: #666;
                font-size: var(--font-size-large);
                font-weight: bolder;
            }

            ul.lp-sub-menu {
                margin-bottom: 20px;

                li {
                    font-family: $f_body;

                    &:hover a,
                    &.active a {
                        color: var(--primary-color);
                    }

                    a {
                        color: #666;
                    }

                    span {
                        color: var(--primary-color);
                    }
                }
            }

            ul.lp-tab-sections {
                background-color: #F5F5F5;

                li {
                    a {
                        color: #666;
                        font-family: $f_body;
                        font-size: 14px;
                    }

                    span {
                        color: var(--primary-color);
                        font-family: $f_body;
                        font-size: 14px;
                    }

                    &:hover a {
                        color: var(--primary-color); 
                    }
                }
            }

            table {
                color: #666;
                font-family: $f_body;
                font-size: 14px;

                .column-status {
                    min-width: 160px;
                }
            }

            input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
                border-radius: 0;

                &:focus {
                    border-left-color: var(--primary-highlight-color);
                    outline: none;
                }
            }

            input[type="checkbox"] {
                cursor: pointer;
                float: left;
                margin-right: 5px;
                margin-top: 3px;
            }

            label {
                color: var(--primary-color);
                font-family: $f_body;
                font-size: 14px;
            }

            p.description {
                color: #666;
            }

            select {
                cursor: pointer;
            }

            #profile-content-orders {
                h3 {
                    margin-top: 0;
                }
                
                .profile-recover-order {
                    border-radius: 0;
                }

                .order-recover {
                    input {
                        padding: 12px 10px;
                    }
                }
            }
        }
    }
}