.btn {
    background-color: white;
    border: solid 1px $c_gray__medium;
    color: $c_gray__medium;
    font-family: $f_title;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 22px;

    &:hover {
        background-color: $c_gray__medium;
        color: white;
        transition: all 0.2s ease;
    }

    @include medium-up {
        font-size: var(--global-font-size);
    }
}

.btn-bg-white {
    background-color: white;
    border: solid 1px var(--primary-highlight-color);
    color: var(--primary-highlight-color);
    font-family: $f_title;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 22px;

    &:hover {
        background-color: var(--primary-highlight-color);
        color: white;
        transition: all 0.2s ease;
    }

    @include medium-up {
        font-size: var(--global-font-size);
    }
}

.btn-white-bg-transparent {
    background-color: transparent;
    border: solid 1px white;
    color: white;
    font-family: $f_title;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 22px;

    @include medium-up {
        font-size: var(--global-font-size);
    }
}