.faceted-posts-search__posts-area-wrapper{
    margin: 0!important;
}

.term-atividades {
    #courses-slider-on-going {
        width: 100%!important;
        margin-top: 35px !important;
        .card-course--text {
            .header{
                .course-title {
                    max-height: fit-content;
                }
            }
        }
    }

    .card-course.atividades-card, .card-course.tns-item {
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 30px;

        &:last-child {
            border-bottom: 0;
        }

        .card-course--content {
            display: grid;
            grid-column-gap: 19px;
            grid-template-columns: 65% auto;
            align-items: center;

            @media screen and (max-width: 1200px) {
                grid-template-columns: 55% auto;
            }

            @media (max-width: 1024px) {
                grid-template-columns: 100%;
                flex-flow: column;
            }

            .course-img {
                height: auto;
                height: 405px;
                width: 100%;
                @include mobile {
                    width: 100%;
                }
                img{
                    object-fit: cover;
                }
            }

            .card-course--text {
                width: 100%;
                height: 100%;
                padding: 24px;
                border: 1px solid var(--color-cardActivity);
                margin: 0;
                line-height: 21px;

                @media screen and (max-width: 1024px) {
                    margin-top: 25px;
                    width: 100%;
                }

                @include mobile {
                    height: inherit;
                }

                .header {
                    .course-title {
                        align-items: center;
                        display: flex;
                        font-size: 26px;
                        margin: 15px 0;

                        a {
                            color: var(--color-cardActivity);
                        }

                        @include tablet-up {
                            font-size: 30px;
                        }

                        @include medium-up {
                            font-size: 36px;
                        }
                    }
                }

                .excerpt {
                    margin: 15px 0;

                    @include tablet-up {
                        margin-bottom: 25px;
                    }

                    p {
                        font-size: 14px;
                        margin: 0;

                        @include tablet-up {
                            font-size: 16px;
                        }

                        @include medium-up {
                            font-size: 18px;
                        }
                    }
                }

                .side {

                    @media screen and (max-width: 1200px) {
                        flex-flow: row;
                        align-items: center;
                        .metabox-container { margin-bottom: 0; }
                    }

                    @include small {
                        align-items: flex-start;
                        flex-flow: column;
                    }

                    .metabox-container {
                        text-align: left;

                        @include small {
                            margin-bottom: 15px;
                        }

                        .formated-date-course {
                            color: var(--color-cardActivity);
                        }
                    }
                    .btn-bg-white {
                        font-size: 16px;
                        padding: 14px 18px 14px 19px;
                        color: var(--color-cardActivity);
                        border: 1px solid var(--color-cardActivity);

                        @include medium-up {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

    }
}

.card-activity {
    height: 620px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    aspect-ratio: 16 / 9;
    margin-bottom: 60px;

    @include mobile {
        height: 420px;
    }

    &--thumbnail {
        position: absolute;
        left: 15px;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--content {
        background-color: var(--primary-highlight-color);
        color: white;
        max-width: 550px;
        padding: 30px 25px;
        position: absolute;
        bottom: -40px;
        right: 40px;
        box-shadow: -2px -1px 9px 0px rgb(0 0 0 / 20%);
        transition: all .2s ease;

        @media screen and ( max-width: 767px ) {
            left: 50px;
            max-width: calc(100% - 44px);
            right: 20px;
        }

        &:hover {
            background-color: var(--secondary-highlight-color);
            color: white !important;
            transform: scale(1.03);
            transition: all .2s ease;
        }

        .course-terms {
            color: white;
            font-size: var(--global-font-size);
            font-weight: bold;
        }

        .course-title {
            color: white !important;
            margin-bottom: $small_spacing;

            @include mobile { 
                font-size: 32px;
            }
        }

        // Replace color of the _c-instructors.scss
        .instructors-list {
            span.instructor-prefix,
            span.instructors-names {
                color: white;
            }
        }

        .course-excerpt {
            margin-top: 15px;

            p {
                font-size: 18px;
                line-height: 22px;

                &:last-child {
                    margin-bottom: 10px;
                }
            }

            @media screen and ( max-width: 767px ) {
                display: none;
            }
        }

        .metabox-container {
            @include tablet {
                margin-top: 15px;
            }

            .formated-date-course {
                align-items: center;
                color: white;
                display: flex;
                justify-content: flex-end;
                font-size: 16px;
                font-weight: bold;

                @include mobile {
                    justify-content: flex-start;
                }

                @include tablet-up {
                    font-size: 18px;
                }

                .with-init {
                    font-weight: initial;
                }

                .fa-calendar-day {
                    fill: white;
                    margin-right: 15px;
                }
            }
        }
    }
}

/* Slider */
#term-atividades-iw {
    /* Hack to hide 1 pixel of the next image on slider */
    @media screen and ( min-width: 992px ) {
        width: calc(100% + 1px);
    }
}

.row-term {
    > .wp-block-group {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.alignfull {
    .wp-block-cover__inner-container {
        @media (min-width: 1200px) {
            max-width: 1360px;
            padding: 0 15px;
            width: 100%;
        }
    }
}
/** Block Home of the activities **/
.block-home-activity {
    margin-bottom: 20px;
    margin-top: 20px;

    &.wp-block-cover.alignfull {
        .wp-block-cover__inner-container {
            @media ( min-width: 1380px ) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.container-slider.slider-activity {
    margin-bottom: -10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .controls {    
        .control-left {
            @media screen and (min-width: 1475px) {
                left: -70px;

                &:hover {
                    left: -65px;
                }
            }
        }

        .control-right {
            @media screen and (min-width: 1475px) {
                right: -70px;

                &:hover {
                    right: -65px;
                }
            }
        }
    }
}

.action-links {
    margin-bottom: 80px;
    margin-top: 10px;
    overflow: hidden;

    @include tablet-up {
        margin-top: -25px;
    }

    .see-all-activity {
        @extend .btn-white-bg-transparent;

        display: inline-block;
        text-transform: lowercase;
    }
}
