.courses-on-going {
    border-top: 1px solid #CCCCCC;
    margin-top: 80px;
    padding-top: 80px;
    position: relative;

    h2{
      @include mobile{
        margin-top: 34px;
      }
    }

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }

    & > .container {
      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .card-course .card-course--content {
      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }

    #courses-slider-on-going{
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        @include mobile{
          display: block;
        }
        .controls{
            button{
                background: none !important;
                border: none;
                i{
                    color: #666666;
                    font-size: 40px;
                }
            }

            .control-l{
                left: -75px;
                @include mobile{
                  left: -30px;
                }
                position: absolute;
                z-index: 9999;
                top: 50%;
            }

            .control-r{
                right: -75px;
                @include mobile{
                  right: -30px;
                }
                position: absolute;
                z-index: 9999;
                top: 50%;
            }
        }

        .controls:hover{
            background: none !important;
        }

        .item{
            display: none;
        }

        .active{
          display: flex;
          width: 100%;
          @include mobile{
            padding: 0 25px;
          }
        }

        .hidden{
            display: none;
        }
    }
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }