.card-course.cursos-de-ferias-card{

	.wrapping-container{
		border: solid 1px $c_course__vacation !important;
	}
	.card-course--content{
        .header{
            .option-row {
                .format a {
                    color: $c_course__vacation;
                }
            }
        }
		.course-title a {
			color: $c_course__vacation !important;
		}
		.card-course--text{
			border: solid 1px $c_course__vacation!important;

			.course-terms {
                a {
                    color: --color-cardDetails;
                    font-weight: bold;
                }
            }
		}
		.side{
            .calendar{
                width: 15.75px!important;
                height: 18px!important;
                margin-right: 13px;
                fill: $c_course__vacation;
            }

			.btn-bg-white{
				border: solid 1px $c_course__vacation;
				color: $c_course__vacation;
			}
			.btn-bg-white:hover{
				background-color: $c_course__vacation;
				color: #fff;
			}

            .metabox-container{
                .formated-date-course,  .formated-date-course {
                    color: $c_course__vacation;
					
					.fa-calendar-day{
						fill: $c_course__vacation !important;
					}
                }
            }
		}

		.action-links a.red-link{
			border: solid 1px $c_course__vacation !important;
			color: $c_course__vacation;
		}
		.action-links a.red-link:hover{
			background-color: $c_course__vacation;
			color: #fff;
		}
	}
}