.row-term {
    h2:first-of-type,
    h3:first-of-type,
    h4:first-of-type,
    h5:first-of-type,
    h6:first-of-type {
        font-family: $f_title;
    }

    // When model reduced is selected
    &.model-reduced {
        align-content: stretch;
        align-items: stretch;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 16px;
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
            display: block;
        }

        .card-course:nth-last-of-type(1){
            .card-course--content{
                padding-right: 0 !important;
            }
        }

        .card-course:nth-last-of-type(2){
            .card-course--content{
                padding-left: 5px!important;
                padding-right: 5px!important;
            }
        }

        .card-course:nth-last-of-type(3){
            .card-course--content{
                padding-left: 0 !important;
            }
        }

        .card-course {
            &.col-md-4 {
                @media screen and (max-width: 991px) {
                    width: 33.3333333333%;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                .card-course--content {
                    &.col-sm-4 {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.wrap-second-line {
    border-bottom: 1px solid #E0E0E0;
    /*margin-bottom: 60px;
    padding-bottom: 60px;*/
    margin-bottom: 40px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        align-content: stretch;
        align-items: stretch;
        box-sizing: border-box;
        display: flex;
        width: calc(100%);
        .card-course{
            width: 33.33%
        }
    }

    .card-course {
        &:nth-child(1) {
            @media screen and (min-width: 830px) {
                .card-course--content {
                    padding-left: 0!important;
                }
            }
        }

        &:nth-child(2) {
            @media screen and (min-width: 830px) {
                .card-course--content {
                    padding-left: 5px!important;
                    padding-right: 5px!important;
                }
            }
        }

        &:nth-child(3) {
            @media screen and (min-width: 830px) {
                .card-course--content{
                    padding-right: 0!important;
                }
            }
        }
    }
}

#term-cursos-de-ferias {
    margin-left: 0;
    margin-right: 0;
}

.card-course {
    margin-bottom: 15px;
    padding: 0!important;

    .wrapping-container {
        border: 1px solid var(--primary-highlight-color);
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: $large_spacing;
        margin: 0 15px;
    }

    .card-course--text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0.5px solid var(--primary-highlight-color);
        display: flex;
        height: 100%;
        justify-content: center;
        margin-top: 8px;

        &:first-child {
            margin-top: 0;
        }

        @include tablet-up {
            padding: 25px;
        }

        .header {
            .spacer{
                height: 1px!important;
            }
        }

        .content {
            @media screen and ( max-width: 767px ) {
                margin-top: 15px;
            }
        }
    }

    .card-course--thumbnail{
        width: 68%;
        max-height: 405px;
        padding: 0 !important;
        margin-right: 15px!important;
    }

    .wp-block-columns{
        padding: 0 40px!important;
        overflow: hidden;
    }

    .card-course--content {
        background-position: center center;
        background-size: cover;
        background-color: #0000004d;
        background-blend-mode: multiply;
        transition: all .2s ease-in-out;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        height: 100%;

        padding: 0 10px;

        @include small {
            padding-left: 0;
            padding-right: 0;
        }

        .course-img {
            background-color: #EEEEEE;
            background-blend-mode: multiply;
            background-size: cover;
            background-position: 100%;
            height: 0;
            overflow: hidden;
            padding-top: 591.44px / 1127.34px * 100%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .card-course--text {
            height: calc(100% - 145px);
            justify-content: space-between;
        }

        .header {
            margin: 0;
            .option-row {
                display: flex;

                &:first-child {
                    justify-content: space-between;
                }

                &:last-child:not(:first-child) {
                    color: white;
                    color: #555;
                }
                .format a {
                    color: var(--color-cardCourse);
                    font-size: 16px;
                    font-weight: normal;
                    text-transform: lowercase;
                    font-style: oblique;

                    @include medium-up {
                        font-size: var(--global-font-size);
                    }
                }
            }
        }

        .course-terms {
            a {
                color: var(--color-cardDetails);
                font-size: 16px;
                font-weight: bold;

                @include medium-up {
                    font-size: var(--global-font-size);
                }
            }
        }

        .course-title {
            font-size: 30px;
            margin: 22px 0 20px;

            @include tablet-up {
                font-size: 36px;
            }

            @include medium-up {
                font-size: 36px;
            }

            a {
                color: var(--color-cardCourse);
            }
        }

        .side {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @include small {
                align-items: flex-start;
                flex-flow: column;
            }

            .metabox-container {
                display: contents;
                width: 100%;
                max-width: 220px;
                
                @include small {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    text-align: center;
                }

                .formated-date-course {
                    color: var(--color-cardCourse);

                    .with-init{
                        margin-right: 0px;
                        padding-right: 5px;
                    }
                }
            }

            .btn-bg-white {
                padding-left: 12px;
                padding-right: 12px;

                @include medium-up {
                    padding-left: 22px;
                    padding-right: 22px;
                }

                @media ( min-width: 767px ) and ( max-width: 1200px ) {
                    margin-top: 15px;
                }
            }

            .course-title {
                margin: 10px 0;
                line-height: 1.2;
                min-height: 59px;
            }
        }
    }

    &--thumbnail {
        overflow: hidden;
        a {
            overflow: hidden;
            width: 100%;
            justify-content: center;
            align-items: center;

            &:hover {
                img {
                    transform: scale(1.05) rotate(2deg);
                    transition: all 0.1s ease-in;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease-out;
            }
        }
    }

    &--content {

        h2 {
            margin-top: 10px;
            margin-bottom: 15px;
            line-height: 1.2;
            a {
                color: var(--primary-highlight-color);
            }
            
        }

        .authorship {
            padding-bottom: 15px;

            h3 {
                span {
                    font-family: var(--global-font-family);
                    font-weight: normal;
                }

                color: var(--second-color);
                font-family: var(--global-font-family);
                font-size: 16px;
                margin: 0;
                font-weight: bold;

                @include medium-up {
                    font-size: var(--global-font-size);
                }
            }
        }

        .action-links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;

            a {
                display: flex;
                padding: 15px;
                text-align: center;
                justify-content: center;
                margin-top: 22px;
                font-weight: bold;
                transition: all .2s ease;

                &.red-link {
                    border: 1px solid var(--primary-highlight-color);
                    color: var(--primary-highlight-color);

                    &:hover {
                        color: white;
                        background-color: var(--primary-highlight-color);
                    }
                }

                &.green-link {
                    border: 1px solid #FFA500;
                    color: #FFA500;

                    &:hover {
                        color: white;
                        background-color: #FFA500;
                    }
                }

                &:hover {
                    transform: scale(1.05);
                    transition: all .2s ease;
                }
            }
        }

        .header {
            .card-course:not(.full-width) & {
                .course-title {
                    @media screen and ( min-width: 768px ) and ( max-width: 1199px ) {
                        font-size: 26px;
                    }
                }
            }
        }

        .side {
            .card-course:not(.full-width) & {
                @media screen and ( min-width: 768px ) and ( max-width: 1199px ) {
                    align-items: flex-start;
                    flex-flow: column;

                    .metabox-container {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    &.full-width {
        display: flex;
        align-items: stretch;

        @include mobile {
            flex-direction: column;
            padding: 0;

            .card-course--thumbnail {
                width: 100%;
                margin: 0 !important;
            }
        }

        .card-course--content {
            height: auto;
            padding: 0;

            @media screen and (max-width: 829px) {
                width: 100%;
            }

            .card-course--text {
                height: 100%;

                @media screen and (max-width: 829px) {
                    margin-top: 8px;
                }

                .header {
                    @include tablet-up {
                        height: 100%;
                        margin: auto auto;
                        display: grid;
                        align-content: space-between;
                    }
                }

                .course-title {
                    @media screen and (min-width: 830px) and (max-width: 1199px) {
                        font-size: 30px;
                    }
                }

                .side {
                    @media screen and (min-width: 830px) and (max-width: 1199px) {
                        align-items: flex-start;
                        flex-direction: column;
                    }

                    .metabox-container {
                        @media screen and (min-width: 830px) and (max-width: 1199px) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

body.term-cursos-de-ferias {
    .lp-archive-courses {
        .learn-press-courses-header {
            h1 {
                color: $c_course__vacation;
                
            }
        }

        .card-course {
            .card-course--text {
                border-color: $c_course__vacation;
            }

            .card-course--content {
                .card-course--text {
                    .header {
                        .option-row {
                            .course-terms {
                                a {
                                    color: var(--color-cardDetails)!important;
                                    font-size: 16px;

                                    @include medium-up {
                                        font-size: var(--global-font-size);
                                    }
                                }
                            }
                        }
                    }
                }

                .side {
                    .btn-bg-white {
                        border: solid 1px $c_course__vacation;
                        color: $c_course__vacation;
                    }

                    .metabox-container .formated-date-course {
                        color: $c_course__vacation;
                        .fa-calendar-day {
                            fill: $c_course__vacation
                        }
                    }

                    .calendar{
                        fill: $c_course__vacation;
                    }
                }

                .course-title {
                    a {
                        color: $c_course__vacation!important;
                    }
                }
            }
        }
    }

    .courses-on-going {
        h2 {
            color: var(--color-cardDetails);
        }
    }

    .container-slider .controls .control-left, .container-slider .controls .control-right,
    .container-slider .controls .control-left, .container-slider .controls .control-left {
        background-color: $c_course__vacation;
    }
}

body.post-type-archive-lp_course {
    .learn-press-courses {
        .card-course {
            .card-course--content {
                width: 100%;
                .card-course--text {
                    height: calc(100% - 250px);
                }
            }
        }
    }
}

.see-all {
    span {
        border-bottom: solid 1px;
        font-family: $f_title;
        font-weight: 700;
        font-size: 17.6px;
    }
}
#term-cursos-gravados{
    .card-course--text{
        height: 100%;
        .side{
            a.btn-bg-white{
                border: 1px solid #9b59b6 !important;
            }
            a.btn-bg-white:hover{
                background-color: #9b59b6;
            }
            .formated-date-course > .with-init{
                color: #9b59b6 !important;
                margin: 0px;
                padding: 0px;
                margin-right: 5px;
            }
            .formated-date-course >.fa-calendar-day{
                fill: #9b59b6 !important;
            }
            .formated-date-course{
                color: #9b59b6 !important;
            }
            .btn-bg-white{
                color: #9b59b6 !important;
            }
            .btn-bg-white:hover{
                color: white !important;
            }
        }
        .option-row{
            .format a{
                color:#9b59b6 !important;
            }
        }
        .option-row{
            display: flex;
            .format a{
                color:#9b59b6 !important;
            }
        }
        .option-row:first-child{
            justify-content: space-between;
        }
    }
    .card-course--text > .header{
        h3.course-title > a{
            color: #9b59b6 !important;
        }
    }
    .card-course{
        .card-course--text{
            border: 1px solid #9b59b6 !important;

            .side{
                color: white;
            }
            .course-title{
                a{
                    color: #9b59b6 !important;
                }
            }
        }
    }
    
}