.formated-date-course {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;

    @include medium-up {
        font-size: 18px;
    }

    .with-init {
        font-weight: 400;
        padding-right: 5px;

        @media screen and (max-width: 540px),
            screen and (min-width: 768px) and (max-width: 829px),
            screen and (min-width: 994px) and (max-width: 1199px) {
            display: block;
            padding-right: 0;
        }
    }
}