#cookie-law-info-bar {
    border-top: 1px solid var(--primary-highlight-color);

    #wt-cli-accept-all-btn {
        border: 1px solid var(--primary-highlight-color);
        font-family: var(--global-heading-font-family);
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        min-width: 180px;
        padding: 13px 30px;
        text-align: center;
        text-transform: lowercase;
        transition: all .2s linear;
        width: auto;

        &:hover{
            background-color: white !important;
            color: var(--primary-highlight-color) !important;
        }

        @media screen and ( max-width: 520px ) {
            margin-top: 5px !important;
        }
    }

    .cli_settings_button {
        border: 1px solid var(--second-color);
        color: var(--second-color);
        font-family: var(--global-heading-font-family);
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        min-width: 200px;
        padding: 13px 30px;
        text-align: center;
        text-transform: lowercase;
        text-decoration: none;
        transition: all .2s linear;
        width: auto;

        &:hover{
            background-color: var(--second-color);
            color: white !important;
        }

        @media screen and ( max-width: 520px ) {
            margin-top: 5px !important;
        }
    }
}

.cli-modal-content.cli-bar-popup {
    border-radius: 0;
    color: var(--second-color);

    p {
        color: var(--second-color);
    }

    .cli-privacy-overview {
        h4 {
            color: var(--primary-highlight-color);
            font-family: var(--global-heading-font-family);
            font-size: 24px;
            font-weight: 400;
        }
    }

    .wt-cli-cookie-description {
        color: var(--second-color);
    }

    .cli-privacy-content-text {
        color: var(--second-color);
    }

    .cli-align-items-stretch {
        .cli-tab-section {
            .cli-tab-header {
                border-radius: 0;
                background-color: $c_light_grey_lesson;
            }

            .cookielawinfo-row-cat-table {
                th {
                    background-color: var(--primary-highlight-color);
                }
            }
        }
    }

    .cli-switch input:checked + .cli-slider {
        background-color: var(--primary-highlight-color);
    }

    #wt-cli-privacy-save-btn {
        background-color: var(--primary-highlight-color);
        border: 1px solid var(--primary-highlight-color);
        font-family: var(--global-heading-font-family);
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        min-width: 180px;
        padding: 13px 30px;
        text-align: center;
        text-transform: lowercase;
        transition: all .2s linear;
        width: auto;

        &:hover{
            background-color: white !important;
            color: var(--primary-highlight-color) !important;
        }
    }
}

#cookie-law-info-again {
    border-left: 1px solid var(--second-color);
    border-right: 1px solid var(--second-color);
    border-top: 1px solid var(--second-color);
    box-shadow: none;
    font-size: 16px;
    padding: 5px 15px;
}