#home-slider {
    background-color: white;
    // border-bottom: 1px solid #E0E0E0;
    margin: 0 0 32px 0;
    padding-left: 0;
    // padding-bottom: 80px;

    > li {
        height: 540px;
        list-style: none;
        object-fit: cover;
        overflow: hidden;
        position: relative;

        a:hover p {
            color: initial;
            text-decoration: none;
        }

        a.link-full {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 99989;
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        // Course option
        .spotlight {
            background-color: rgba(255, 255, 255, 0.85);
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            height: auto;
            justify-content: center;
            padding: 40px 25px;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: 99;

            @include tablet-up {
                height: 100%;
                justify-content: space-between;
                position: absolute;
                right: 0;
                top: 0;
                width: 35%;
            }

            .list-terms {
                @include tablet {
                    margin-bottom: 0;
                }

                li {
                    a {
                        color: $c_gray__medium;
                        font-size: 14px;
                        font-weight: bold;

                        @include tablet-up {
                            font-size: 18px;
                        }
                    }
                }
            }

            > .content {
                .course-title {
                    color: var(--primary-highlight-color);
                    font-size: 30px;
                    margin-bottom: 10px;
                    margin-top: 10px;

                    @include desktop {
                        font-size: 48px;
                        margin-bottom: 15px;
                        margin-top: 15px;
                    }
                }

            }

            .metabox-container {
                @include tablet {
                    margin-top: 10px;
                }

                .formated-date-course {
                    align-items: center;
                    color: $c_primary_highlight;
                    display: flex;
                    font-size: 16px;
                    font-weight: bold;

                    @include tablet-up {
                        font-size: 20px;
                    }

                    .with-init {
                        font-weight: initial;
                    }

                    .fa-calendar-day {
                        fill: $c_primary_highlight;
                        margin-right: 15px;
                    }
                }
            }
            // End: Course option

            // Free content option
            .course-title {
                color: var(--primary-highlight-color);
                margin-bottom: 10px;
                margin-top: 10px;

                @include tablet-up {
                    font-size: 48px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }

            p {
                color: $c_gray__medium;
                font-family: "Frank Ruhl Libre", serif;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.2rem;
                display: none;

                @include tablet-up {
                    display: block;
                }
            }

            p.course-date{
                color: var(--primary-highlight-color);
                font-size: 18px;
                font-family: var(--global-font-family);

            }
            // End: Free content option
        }
    }

}

.container-slider {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .controls {
        .control-left,
        .control-right {
            background-image: url($dir_assets + '/images/arrow-slider.svg');
            background-position: 7px center;
            background-repeat: no-repeat;
            background-size: 65%;
            border-radius: 50px;
            cursor: pointer;
            height: 35px;
            padding: 0;
            position: absolute;
            top: calc(50% - 70px);
            width: 35px;
            z-index: 9;

            &:focus {
                outline: none;
            }
        }

        .control-left {
            left: -15px;
            transform: rotate(180deg);
            transform-origin: center center;

            &:hover {
                left: -10px;
            }

            @include desktop-only {
                left: -60px;

                &:hover {
                    left: -55px;
                }
            }

            @include large {
                left: -60px;

                &:hover {
                    left: -55px;
                }
            }
        }

        .control-right {
            right: -15px;

            &:hover {
                right: -10px;
            }

            @include desktop-only {
                right: -60px;

                &:hover {
                    right: -55px;
                }
            }

            @include large {
                right: -60px;

                &:hover {
                    right: -55px;
                }
            }
        }
    }
}