.instructors-list {
    &.format-complete {
        .instructor {
            background-color: #F0F0F0;
            margin-bottom: 20px;
            padding: 20px;

            @include tablet-up {
                align-items: center;
                display: flex;
            }

            &--avatar {
                align-self: flex-start;
                margin-bottom: 20px;

                @include tablet-up {
                    margin-bottom: 0;
                    margin-right: 20px;
                }

                img {
                    min-width: 96px;
                }
            }

            &--about {
                h3 {
                    color: var(--second-color);
                    font-family: var(--global-font-family);
                    font-size: 1.15rem;
                    font-weight: 500;
                    margin-bottom: 0;
                }

                p {
                    color: var(--second-color);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &.format-list {
        .instructor-prefix {
            color: var(--second-color);
            font-size: 14px;

            @include tablet-up {
                font-size: 18px;
            }
        }

        .instructors-names {
            color: var(--second-color);
            font-size: 14px;
            font-weight: bold;

            @include tablet-up {
                font-size: 18px;
            }
        }
    }
}