.lp-course-progress .lp-passing-conditional {
    background: var(--secondary-highlight-color);
}

.learn-press-message:before {
    width: 2px;
}

/* COURSE SINGLE */
.lp-archive-courses {
    min-height: 65vh;

    
    .lp-content-wrap {
        @media screen and (min-width: 768px) {
            width: 100%;
            max-width: 1360px;
        }
    }

    #learn-press-course.course-summary {
        .course-summary-content {
            .course-detail-info {
                background: transparent;
                margin-bottom: 0;
                padding-bottom: 0;

                .course-info-left {
                    
                    @media screen and (min-width: 768px) {
                        margin-left: 330px;
                    }
                    @media screen and (min-width: 1200px) {
                        margin-left: 30%;
                    }

                    .course-meta {
                        .course-meta__pull-left {
                            @media screen and (max-width: 767px) {
                                grid-gap: 0;
                            }

                            .meta-item {
                                @media screen and (max-width: 767px) {
                                    height: auto;
                                    padding-bottom: 15px;
                                }

                                .meta-item__value label {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .lp-entry-content.lp-content-area {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;

                @media screen and (max-width: 767px) {
                    flex-direction: column-reverse !important;
                }

                @media screen and (min-width: 768px) {
                    flex-direction: row-reverse;
                }

                .entry-content-left {
                    @media screen and (min-width: 768px) {
                        padding-left: 30px;
                        padding-right: 0;
                    }
                }

                .course-summary-sidebar {
                    margin-top: -20px;

                    @media screen and (max-width: 767px) {
                        margin-bottom: 45px;
                        margin-top: 0;
                    }

                    .course-summary-sidebar__inner {

                        @media screen and (max-width: 767px) {
                            margin-bottom: 15px;
                            position: relative;
                            top: 0 !important;
                        }

                        .course-sidebar-top {
                            border-bottom: 1px solid var(--primary-highlight-color);
                            border-top: 1px solid var(--primary-highlight-color);
                            box-shadow: none;
                            padding: 0;

                            .information-box {
                                &-wrapper {
                                    padding-top: 20px;
                                    margin-bottom: 20px;

                                    .title {
                                        font-weight: 500;
                                        font-size: 36px;
                                        margin-bottom: 13px;
                                        display: block;
                                        font-family: $f_title;
                                    }

                                    .metabox-container {
                                        .meta-item {
                                            margin-bottom: 10px;
                                            font-size: 18px;
                    
                                            .label {
                                                font-weight: bold;
                                            }
                                        }

                                        .list-terms {
                                            display: inline-block;
                                        }
                                    }

                                    .buttons-wrapper {
                                        > div, form {
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            .course-sidebar-preview {
                                .course-price {
                                    margin-bottom: 30px !important;
                                    margin-top: 40px !important;
                                    text-align: left !important;

                                    .price {
                                        color: var(--second-color);
                                        font-size: 18px;

                                        span {
                                            color: var(--second-color);
                                            font-size: 18px;

                                            &.label {
                                                font-weight: bold;
                                                margin-right: 5px;
                                            }

                                            &.value {
                                                font-weight: initial;
                                            }
                                        }
                                    }
                                }

                                .lp-course-buttons {
                                    button {
                                        border-radius: 0;
                                        border: 0;
                                        color: white;
                                        font-family: var(--global-heading-font-family);
                                        font-size: 18px;
                                        padding: 16px 42px;
                                        text-transform: lowercase;
                                        width: auto;

                                        &.btn-add-course-to-cart,
                                        &.button-enroll-course,
                                        &.lp-button {
                                            background-color: #71B37D;
    
                                            &:hover {
                                                background-color: #65a170;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .lp-content-area {
        @include small {
            padding-right: 0;
            padding-left: 0;
        }

        @media (min-width: 1200px) {
            max-width: 1360px;
            width: 100%;
        }
    }
}


/* COURSE SINGLE (without simplified header) */
body:not(.simplified-header) {
    .lp-archive-courses {

        .lp-content-wrap {
            h2:first-of-type {
                color: white;
                font-size: 3rem;
                margin-top: 30px;
            }
        }
    }
}


.course-item-lp_lesson {
    #popup-course #popup-header {
        background: var(--primary-highlight-color);
    }

    .close-lesson {
        height: 20px;
        position: relative;
        width: 20px;

        &:after,
        &:before {
            background-color: white;
            content: '';
            display: inline-block;
            height: 2px;
            overflow: hidden;
            top: 10px;
            position: absolute;
            width: 20px;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:hover {
            &:after,
            &:before {
                transform: rotate(0);
            }
        }
    }
}

/* COURSE SINGLE >> TABS */

#learn-press-course-tabs.course-tabs{
    margin-top: -20px;

    ul.learn-press-nav-tabs {
        background-color: transparent;
        border: 0;
        max-height: inherit;

        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .course-nav {
            border-left: 1px solid rgba(204, 204, 204, 0.3);
            border-right: 1px solid rgba(204, 204, 204, 0.3);
            margin-right: 3px !important;

            @media screen and (max-width: 767px) {
                margin-right: 0 !important;
                width: 100%;
            }
    
            &:not(.active) {
                border: 0;
            }

            label {
                font-weight: 400;
            }
    
            &.active {
                &::before {
                    background-color: var(--primary-highlight-color);
                }
    
                label {
                    color: var(--second-color) !important;
                    font-weight: 600;
                }
            }
    
            &:last-child {
                margin-right: 0 !important;
            }
    
            &:after {
                display: none;
            }
        }
    }

    div.course-tab-panels {
        .course-tab-panel {
            border-radius: 0;
            box-shadow: none;

            & > div {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: var(--primary-highlight-color);
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            &.course-tab-panel-curriculum {
                .section-title {
                    font-size: 42px;
                    

                    > p {
                        margin-top: 15px;
                        line-height: 1.6;
                    }
                }

                .section-meta {
                    display: none;
                }

                .section-header {
                    border-bottom: 0;
                    margin-bottom: 15px;
                }

                ul.section-content {
                    li {

                        &:hover {
                            a span.item-name {
                                color: var(--primary-highlight-color);
                            }
                        }

                        a {
                            &::before {
                                color: var(--primary-highlight-color);
                            }

                            &.section-item-link {
                                align-items: center;
                                display: flex;
                            }

                            .course-item-meta {
                                padding: 5px 0 10px 0;

                                span {
                                    &::before {
                                        color: var(--second-color);
                                    }

                                    &.duration {
                                        display: none;
                                    }

                                    &.course-item-preview {
                                        &::before {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                        span.item-name {
                            color: var(--second-color);
                        }
                    }
                }
            }

            &.course-tab-panel-instructor {
                .section-title {
                    font-size: 42px;
                }

                .instructor--about {
                    > h3 {
                        color: var(--second-color) !important;
                    }
                }
            }

            &.course-tab-panel-additional_information {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: var(--primary-highlight-color);
                    margin-bottom: 20px;
                    margin-top: 30px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            ul.curriculum-sections {
                
                .section.section-empty {
                    .learn-press-message {
                        border-radius: 0;
                        margin-left: 0;
                        margin-right: 0;
        
                        &:before {
                            background: var(--primary-highlight-color);
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

/* COURSE ARCHIVE */
.post-type-archive-lp_course,
.tax-course_tag,
.tax-course_category {

    form[name="search-course"] {
        padding: 0 15px;
        
        .search-course-input {
            background-color: transparent;
            border: 0;
            border-bottom: 3px solid transparent;
            border-radius: 0;
            font-size: 1.6rem;
            padding-left: 0;
            transition: all .2s ease;

            &::placeholder {
                color: white;
            }

            &:hover,
            &:active,
            &:focus,
            &:not(:placeholder-shown) {
                border: 0;
                border-bottom: 3px solid white;
                color: white;
                outline: none;
            }

        }

        .search-course-button {
            background-color: transparent;
            border: 0;
            box-shadow: none;
            font-size: 1.6rem;
        }
    }

    ul.learn-press-courses {

        @media only screen and (max-width: 959px) {
            padding: 0 !important;
        }

        li.course {
            border: 0;
            background-color: white;
            box-shadow: 0 0 5px rgb(0 0 0 / 20%);
            margin-right: 0;
            padding: 25px !important;
            width: 100%;
            
            &:hover {
                box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
            }

            @media (min-width: 768px) {
                margin-right: 2%;
                width: 49%;
                
                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            .course-thumbnail {
                padding-top: 56.25%;
                position: relative;
                width: 100%;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
            .course-info {
                border: 1px solid var(--primary-highlight-color);
                color: var(--primary-color);
                padding: 25px;
                position: relative;

                .course-area {
                    float: left;
                    width: 50%;
                }

                .course-format {
                    float: left;
                    text-align: right;
                    width: 50%;
                }

                .course-title {
                    color: var(--primary-highlight-color);
                    line-height: 2.212rem;
                    margin: 1.46rem 0 1.168rem 0;
                    padding: 0;
                    text-align: left;
                }

                .course-btn-info {
                    background-color: white;
                    border: 1px solid var(--primary-highlight-color);
                    border-radius: 0;
                    color: var(--primary-highlight-color);

                    &:hover {
                        background-color: var(--primary-highlight-color);
                        color: white;
                    }
                }

                .course-start {
                    float: right;
                    margin-top: 17px;
                    text-align: right;
                }
            }
        }
    }
}