ul.list-terms {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include desktop {
        margin-bottom: 10px;
    }

    li {
        display: inline-block;
        margin-right: 5px;

        &:after {
            content: "\2022";
            margin-left: 5px;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                content: "";
            }
        }
    }
}
ul.filtro-areas{
    
    @include mobile {display: none;}
    list-style: none;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 0!important;
    font-weight: bold;
    margin-left: 10px;
    
    li{
        cursor: pointer;
        border: 1px solid transparent;
        display: inline-block;
        text-align: center;
        background-color: white;
        color: var(--primary-highlight-color);
        font-size: 14px;
        padding: 8px 16px;
        margin-right: 5px;

        &:hover{color:var(--primary-highlight-color); border: 1px solid var(--primary-highlight-color);}

        &.active{
            background-color: var(--primary-highlight-color);
            border-color: var(--primary-highlight-color);
            color: white;
        }
    }
}
.cards-courses-list{
    @include mobile {margin-top: 2rem;}
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    .card-course{
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
        &.scale-anm {
            transform: scale(1);
          }
    }

}