// Learnpress
.learnpress {
    .learn-press-message {
        border: 0;
        border-radius: 0;
        font-family: $f_body;
        margin-bottom: $small_spacing !important;
        padding: $small_spacing;
        position: relative;

        &:last-child {
            margin-bottom: 0 !important;
        }

        &.error {
            .learnpress-checkout & {
                display: none;
            }

            &:before {
                background: var(--primary-highlight-color);
                height: calc(100% - 2px);
                left: 1px;
                overflow: hidden;
                top: 1px;
                width: 5px !important;
            }
        }
    }

    #learn-press-checkout-form {
        .learn-press-message {
            &.error {
                display: block;
                margin: 45px 45px 0 45px;

                a {
                    color: $c_red;

                    &:hover {
                        color: $c_red;
                    }
                }
            }
        }
    }
}

// WooCommerce
.woocommerce-page .entry-content {

    .woocommerce-notice {
        &.woocommerce-notice--success {
            background-color: #71B37D;
            border: 0;
            border-radius: 10px;
            box-shadow: 0;
            color: white;
            font-size: 16px;
            font-family: $f_body;
            margin-bottom: $small_spacing !important;
            padding: 15px $small_spacing !important;
            position: relative;

            &:before {
                display: none;
            }
        }
    }

    .woocommerce-notices-wrapper {
        margin-bottom: 0px;

        .woocommerce-message {
            border: 0;
            border-radius: 0;
            font-family: $f_body;
            margin-bottom: $small_spacing !important;
            padding: $small_spacing !important;
            position: relative;

            &:before {
                background: var(--secondary-highlight-color);
                content: '';
                height: calc(100% - 2px);
                left: 1px;
                overflow: hidden;
                top: 1px;
                width: 5px !important;
            }
        }
    }

    .woocommerce-info {
        background-color: #71B37D;
        border: 0;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        font-family: $f_body;
        margin-bottom: $small_spacing !important;
        padding: 15px $small_spacing !important;
        position: relative;
        &:before {
            display: none;
        }

        a {
            color: white;
            font-size: 16px;
            font-weight: 700;
            text-decoration: underline;
        }
        &-step1{
            margin-top:-90px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }
}