.navigation.pagination {
    margin-bottom: 0;

    .nav-links {
        span,
        a {
            border-bottom: 3px solid transparent;
            border-radius: 0;
            box-shadow: none;
            color: var(--second-color);
            transition: all 0.35s ease;

            &.current,
            &:hover {
                color: var(--primary-color);
                border-bottom: 3px solid var(--primary-highlight-color);
            }
        }
    }
}