/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* line 12, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
/* line 18, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
/* line 25, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
/* line 30, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
/* line 35, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
/* line 40, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
/* line 45, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
/* line 50, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
/* line 56, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
/* line 62, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
/* line 68, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
/* line 76, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* line 80, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
html, body, #__next {
  min-height: 100%;
}

/* line 83, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/_resets.scss */
html {
  margin: 0;
  padding: 0;
  border: 0px;
}

/*Colors*/
/* line 6, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/styles.scss */
body {
  background: forestgreen;
}

/* line 7, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/styles.scss */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* line 8, ../../../wamp64/www/sala-jau-estatico/assets-lp/scss/styles.scss */
.gridFlex {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */