html,
body {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width:991px){
    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      
    }
}
.form-signin {
  width: 100%;
  margin: 0 auto;
}
