/* configuraÃ§Ãµes e itens do core  */
@charset "UTF-8";

body {
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.mt-45, .my-45 {
    margin-top: 2rem !important;
}

.post-curso > h1, 
.post-curso > h2, 
.post-curso > h3,
.post-curso > h4, 
.post-curso > h5, 
.post-curso > h6 {
    color:#e03101 !important;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 52px;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}
h5 {
    font-size: 2.3rem;
}
h6 {
    font-size: 1.5rem;
}

p, .helvetica {
    font-family: Helvetica, sans-serif;
}

.musica, .titulo-cursos {
    font-size: 32px;
}


.btn-musica:hover {
    background-color: #fff !important;
    color:#555 !important;
}



.btn-assinar:after {
    transition: 0.2s all linear;
}

.btn-news {
    background-color: #fff !important;
    color:#e03101 !important;
    border:1px solid #e03101;
    background-image: url('../img/check-solid.svg');
    background-repeat: no-repeat;
    background-position: 83% 9px;
    background-size: 12%;
}


.btn-assinar:hover, .btn-assinar:focus {
    background-color: #fff !important;
    color:#e03101 !important;
    border:1px solid #e03101;
}



.btn-artigos {
    transition: 0.2s all linear;
}
.btn-artigos:hover {
    background-color: #fff !important;
    color:#e03101 !important;
}

.btn-atividades:hover {
    background-color: #fff !important;
    color:#555 !important;
}

a:hover {
    text-decoration: none;
}

a.cor-principal:hover {
    color: #fff;
}

.nav-item a {
    font-family: Helvetica,sans-serif;
    padding: 0 1rem;
    font-size: 0.9rem;
}

.nav-item a.active {
    font-weight: bold;
    border-bottom:3px solid #fff;
}

a.nav-link {
    color:#666;
}

.nav-tabs .nav-link .nav-tabs .nav-item.show .nav-link {
    border:1px solid #fff;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #fff;
}
.nav-tabs .nav-link:hover  {
    border:1px solid #fff;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-bottom:3px solid #e03101 !important;
} 


.bg-site {
    background-image: url('../img/bg.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.cor-principal {
    color:#fc4513;
}

.cor-principal-hover:hover {
    color:#ba2b03 !important;
}

.bg-cor-principal {
    background-color: #fc4513;
}

.bg-verde {
    background-color: #71b37d;
    transition: 0.2s all linear;
}

.bg-verde:hover {
    background-color: #467e50;
}


.btn-cor-principal {
    background-color: #fc4513;
    transition: 0.2s all linear;
}
.btn-cor-principal:hover {
    background-color: #e03101;
}

.border-cor-principal {
    border:1px solid #fc4513;
}

.border-white {
    border:1px solid #fff;
}

.bg-transparent {
    background-color: transparent;
}

.bg-linha-escura {
    background-color: #282828;
}

.bg-linha-vermelha {
    background: #fc4513 url('../img/bg-red.png') no-repeat center center;
}

.destaques {
    min-height: 444px;
}

.dest-1 {
    background-image: url('../img/sala-jau-musical-1.jpg');
}
.dest-2 {
    background-image: url('../img/sala-jau-musical-2.jpg');
}
.dest-3 {
    background-image: url('../img/sala-jau-musical-3.jpg');
}



.artigo-destaque  {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 443px;
}

.artigos {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 441px;
    background-clip: content-box
}

.fbc-page .fbc-wrap .fbc-items li:first-child {
    border-radius: 4px 0 0 4px;
    padding: 0 3px !important;
    font-size: 14px;
}

.fbc-page .fbc-wrap .fbc-items li:last-child {
    border-radius: 0 4px 4px 0;
    padding: 0 8px;
    font-size: 14px;
}

.fbc-page .fbc-wrap .fbc-items li.active span,
.fbc-page .fbc-wrap .fbc-items li .fbc-end-text {
    color: #ffffff;
    font-size: 14px !important;
}

.fbc-page .fbc-wrap .fbc-items li {
    font-size: 14px !important;
    color: #fff !important;
}

.fbc-page .fbc-wrap .fbc-items li.active a {
    color: #fff !important;
}

small, .small {
    font-size: 90%;
    font-weight: 400;
}

.atividades {
    position: absolute;
    bottom:-100px;
    right:50px;
}

.atividades-card {
    max-width: 290px;
    min-height: 233px;
}

.bg-artigo {
    background-repeat: no-repeat; 
    background-position: top center;
    background-size: 75% 400px;
}

.professor {
    position: absolute;
    bottom: 0;
}

.art {
    bottom:2rem; 
    left:3rem;
}

.btn-post-destaque {
    width:157px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    float: left;
}

.btn-vermelho {
    background-color: #fff;
    color: #e03101;
    transition: 0.1s all linear;
}

.btn-vermelho:hover {
    background-color: #e03101;
    color: #fff;
}

.seta {
    content: url('../img/icon-seta-saiba.png');
    position: relative;
    top: 2px;
    left: 4px;
    transition: 0.2s all linear;
}

.curriculo {
    content: url('../img/icon-curriculo.png');
    position: relative;
    top: 2px;
    right: 4px;
    transition: 0.2s all linear;
}

.data {
    content: url('../img/icon-data.png');
    position: relative;
    top: 0px;
    right: 4px;
    transition: 0.2s all linear;
}

.professores {
    content: url('../img/icon-professores.png');
    position: relative;
    top: 1px;
    right: 5px;
    transition: 0.2s all linear;
}

.cursos {
    content: url('../img/icon-cursos.png');
    position: relative;
    top: 3px;
    right: 4px;
    transition: 0.2s all linear;
}

.btn-vermelho:hover .seta{
    content: url('../img/icon-seta-branca.png');
    width: 25px;
    height: 16px;
}

.btn-vermelho:hover .data{
    content: url('../img/icon-data-branca.png');
    width: 13px;
    height: 12px;
}

.btn-vermelho:hover .curriculo{
    content: url('../img/icon-curriculo-branca.png');
}

.btn-vermelho:hover .professores{
    content: url('../img/icon-professores-branca.png');
}
.btn-vermelho:hover .cursos{
    content: url('../img/icon-cursos-branca.png');
}

.btn-art-destaques > .text-secondary {
    transition: 0.2s all linear;
}

.btn-art-destaques {
    transition: 0.2s all linear;
    background-color: #fff;
    color:#e03101;
}
.btn-art-destaques:hover > .text-secondary {
    color:#fff !important;
}
.btn-art-destaques:hover {
    background-color: rgb(224, 49, 1) !important;
    color:#fff !important;
}

.artigo-destaque, .artigos {
    transition: 0.2s all linear;
}
.artigo-destaque:hover, .artigos:hover {
    background-color: red;
    background-blend-mode: multiply;
}

.wpcf7-response-output, .wpcf7-mail-sent-ok {
    display: none !important;
}

.imagem-curso  {
    max-height: 234px;
    overflow: hidden;
}

.post-pagina-curso {
    min-height: 257px;
}

.tax-ativo {
    background: #fff;
    text-align: center;
    color: red !important;
    padding: 5px 10px !important;
    margin: 0 10px 0 -4px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #fc4512;
    background-color: #fc4512;
}

@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 6px;
        padding-left: 6px;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -6px;
        margin-left: -6px;
    }
}
@media (max-width:1100px){
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.3rem;
    }
    h6 {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .artigo-destaque, .artigos {
        min-height: 243px;
    }
    .atividades {
        width: 100%;
        position: inherit;
        bottom:inherit;
        right:inherit;
    }
    .nav-item {
        margin-top: 10px;
    }
    .atividades-card {
        width: 100%;
    }
    .bg-artigo {
        background-size: 100% 480px;
    }
    .professor {
        position: inherit;
        margin-bottom:50px;
    }
    .art {
        bottom:1rem; 
        left:1rem;
    }
}


.fundo-artigo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 378px;
    width: calc(1300px + 42px);
    left: calc(50% - 650px);
    z-index: -1;
    position: absolute;
    background-color: #e66f6f;
    background-blend-mode: multiply;
}

.btn-pagamento {
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: 0rem;
}

@media (max-width: 992px){
    .fundo-artigo {
        min-height: 320px;
    }
    .img-cursos {
        min-height: 220px;
    }
    .modal-dialog {
        width: 98%;
    }
    .btn-cat-curso {
        width: 100%;
    }
}

