/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

html, body, #__next {
  min-height: 100%;
}

html {
  margin: 0;
  padding: 0;
  border: 0px;
}

/*Colors*/
/****GERAIS*****/
body {
  background: white;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 32px);
  }
}

.gridFlex {
  display: flex;
}

.btn {
  background: #5BBC6C 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 10px #5BBC6C40;
}

.btnSecundario {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: border ease-in 300ms 200ms, color ease-in 200ms 100ms;
}

.btnSecundario path {
  transition: stroke ease-in 300ms 200ms;
}

.btnSecundario:hover {
  border: 1px solid #FC4513;
  color: #FC4513;
}

.btnSecundario:hover path {
  stroke: #FC4513;
}

.btnPrimary {
  border: 1px solid #FC4513;
  color: #FC4513;
  transition: background ease-in 300ms 200ms, color ease-in 200ms 100ms;
}

.btnPrimary:hover {
  background: #FC4513;
  color: #ffffff;
}

nav ul {
  display: flex;
}

h2 {
  font: normal normal normal 36px/64px Frank Ruhl Libre;
  margin-bottom: 36px;
  margin-top: 36px;
}

p {
  font-size: 16px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  color: #666666;
}

p strong {
  font-weight: bold;
}

h3 {
  font: normal normal normal 24px/24px Frank Ruhl Libre;
}

.separador {
  height: 1px;
  width: 100%;
  background: #E9E9E9;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/***CARD***/
.contentCard .imgCard {
  width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 208px;
}

.contentCard .imgCard img {
  width: 100%;
    opacity: 0;
    visibility: hidden;
}

.contentCardLateral .imgCardLateral img {
  width: 100%;
  opacity: 100;
    visibility: visible;
}

.contentCard .caixaCard {
  margin-top: 12px;
  border: 1px solid #CCCCCC;
  padding: 36px 24px;
}

.contentCard .caixaCard .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentCard .caixaCard .tags span {
  font: normal 300 16px/19px Roboto;
  letter-spacing: 0px;
  color: #666666;
  font-style: italic;
}

.contentCard .caixaCard .tags span strong {
  letter-spacing: 0px;
  color: #666666;
  font-style: normal !important;
  font-weight: 500;
}

.contentCard .caixaCard .tituloCard h4 {
  font: normal normal normal 24px/24px Frank Ruhl Libre;
  color: #FC4513;
  margin-top: 24px;
}

.contentCard .caixaCard .com {
  margin-top: 16px;
}

.contentCard .caixaCard .com p strong {
  font-weight: 500;
}

.contentCard .caixaCard .moreInfo {
  display: flex;
  margin-top: 36px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentCard .caixaCard .moreInfo .agenda {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1130px) {
  .contentCard .caixaCard .moreInfo .agenda {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 900px) {
  .contentCard .caixaCard .moreInfo .agenda {
    flex-basis: auto;
  }
}

.contentCard .caixaCard .moreInfo .agenda img {
  width: 20px;
  height: 20px;
  flex-basis: 20px;
  margin-right: 12px;
}

.contentCard .caixaCard .moreInfo .agenda p {
  line-height: 20px;
}

.contentCard .caixaCard .moreInfo .btnInfo {
  display: flex;
  height: 48px;
  max-width: 170px;
  flex-basis: 170px;
  justify-content: end;
}

.contentCard .caixaCard .moreInfo .btnInfo .btnPrimary {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 48px;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
}

/****TOPO*****/
header {
  background: #1C2834;
  padding: 48px 0px;
  position: sticky;
  z-index: 99;
  top: 0;
  transition: ease-in 300ms 200ms padding, 100ms 100ms background;
}

@media screen and (max-width: 900px) {
  header .menu {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header .menu.menuAberto {
    display: block;
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

header .menu.menuAberto ul {
  margin-top: 117px;
  display: block;
}

header .menu.menuAberto ul li {
  margin-right: 0;
  margin-left: 36px;
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  header .menu.menuAberto ul li a {
    color: #666666;
    font-size: 24px;
  }
}

@media screen and (max-width: 900px) {
  header .logo {
    width: 96px;
  }
}

header.headerAtivo {
  background: #ffffff;
  padding: 23px 0px;
  box-shadow: 5px 5px 25px #0618441A;
}

header.headerAtivo nav a {
  color: #666666;
}

header.headerAtivo .menuMobile .iconMenu span {
  background: #666666;
}

header.headerAtivo .logo img {
  filter: brightness(50%) sepia(100) saturate(100) hue-rotate(18deg);
}

header .menuMobile {
  display: none;
  cursor: pointer;
}

header .menuMobile .iconMenu {
  width: 40px;
}

header .menuMobile .iconMenu span {
  display: block;
  background: #ffffff;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  transition: ease-in 300ms 200ms top, ease-in 300ms 200ms transform;
}

header .menuMobile .iconMenu span:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
  header .menuMobile {
    display: block;
  }
}

header .menuMobile.mobileMenuAtivo {
  z-index: 999;
}

header .menuMobile.mobileMenuAtivo .iconMenu span {
  background: #666666;
}

header .menuMobile.mobileMenuAtivo .iconMenu span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: -16px;
  position: relative;
}

header .menuMobile.mobileMenuAtivo .iconMenu span:nth-of-type(2) {
  transform: translateX(100px);
}

header .menuMobile.mobileMenuAtivo .iconMenu span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 8px;
  position: relative;
}

header .gridFlex {
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  margin-right: 36px;
}

header nav ul li:last-of-type {
  margin-right: 0px;
}

header nav ul li a {
  color: #ffffff;
  font: normal normal normal 16px/32px Roboto;
  transition: color ease-in 300ms 200ms;
}

header nav ul li a:hover {
  color: #FC4513;
}

.bannerContent {
  background: #1C2834;
  padding-top: 48px;
  padding-bottom: 174px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .bannerContent {
    padding-top: 0px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 900px) {
  .bannerContent .gridFlex {
    flex-wrap: wrap;
  }
}

.bannerContent .Images {
  flex-basis: 60%;
}

@media screen and (max-width: 900px) {
  .bannerContent .Images {
    flex-basis: 100%;
  }
}

.bannerContent .Text {
  flex-basis: 40%;
  padding-right: 45px;
}

@media screen and (max-width: 900px) {
  .bannerContent .Text {
    flex-basis: 100%;
    padding-right: 0px;
  }
}

.bannerContent .Text h1 {
  font: normal normal 300 48px/64px Frank Ruhl Libre;
  color: #ffffff;
  margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
  .bannerContent .Text h1 {
    font: normal normal 300 32px/48px Frank Ruhl Libre;
  }
}

.bannerContent .Text h1 strong {
  font-weight: 500;
}

.bannerContent .Text p {
  font: normal normal 300 18px/28px Roboto;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.bannerContent .Text p.destaque {
  color: #FC4613;
  font-size: 16px;
  line-height: 24px;
}

.bannerContent .Text p.destaque strong {
  font-weight: bold;
}

.bannerContent #frmInscricao {
  margin-top: 30px;
  max-width: 370px;
}

@media screen and (max-width: 900px) {
  .bannerContent #frmInscricao {
    max-width: 100%;
  }
}

.bannerContent #frmInscricao .itemForm {
  border: 1px solid #ffffff;
  height: 56px;
  margin-bottom: 16px;
  position: relative;
}

.bannerContent #frmInscricao .itemForm.itemFormAtivo {
  border: 1px solid #FC4513;
}

.bannerContent #frmInscricao .itemForm.itemFormAtivo label {
  top: 0px;
  background: #1C2834;
  font: normal normal normal 16px/20px Frank Ruhl Libre;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 0px 16px;
}

.bannerContent #frmInscricao .itemForm label {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -9.5px;
  left: 20px;
  font: normal normal normal 16px/19px Roboto;
  color: #ffffff;
  transition: top ease-in 300ms 200ms, background ease-in 400ms 0ms, margin-top ease-in 200ms 0ms, border ease-in 300ms 200ms;
}

.bannerContent #frmInscricao .itemForm input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 20px;
  -webkit-appearance: none;
  border-radius: 0;
  appearance: none;
}

.bannerContent #frmInscricao .Botao input {
  background: #5BBC6C 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 10px #5BBC6C40;
  width: 100%;
  text-align: center;
  height: 56px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  font-family: 'Frank Ruhl Libre', serif;
  color: #ffffff;
  -webkit-appearance: none;
  border-radius: 0;
  appearance: none;
  transition: opacity ease-in 300ms 200ms;
}

.bannerContent #frmInscricao .Botao input:hover {
  opacity: .8;
}

.bannerContent #frmInscricao p {
  font: normal normal normal 12px/20px Roboto;
  letter-spacing: 0px;
  color: #9A9A9A;
  text-align: center;
  margin-top: 16px;
}

.bannerContent #frmInscricao p a {
  text-decoration: underline;
  transition: color ease-in 300ms 200ms;
}

.bannerContent #frmInscricao p a:hover {
  color: #FC4513;
}

@media screen and (max-width: 900px) {
  .bannerContent .Images {
    margin-top: 36px;
  }
}

.bannerContent .Images .contentImages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .bannerContent .Images .contentImages {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  .bannerContent .Images .contentImages img {
    width: 100%;
  }
}

.bannerContent .Images .contentImages .spot1 {
  flex-basis: 700px;
}

@media screen and (max-width: 900px) {
  .bannerContent .Images .contentImages .spot1 {
    flex-basis: 100%;
  }
}

.bannerContent .Images .contentImages .spot2 {
  margin-top: -62px;
}

@media screen and (max-width: 960px) {
  .bannerContent .Images .contentImages .spot2 {
    width: 210px;
  }
}

@media screen and (max-width: 900px) {
  .bannerContent .Images .contentImages .spot2 {
    width: auto;
    flex-basis: 47.60%;
  }
}

.bannerContent .Images .contentImages .spot3 {
  margin-top: -18px;
}

@media screen and (max-width: 960px) {
  .bannerContent .Images .contentImages .spot3 {
    width: 222px;
  }
}

@media screen and (max-width: 900px) {
  .bannerContent .Images .contentImages .spot3 {
    width: auto;
    flex-basis: 57.17%;
    margin-left: -10.28%;
  }
}

.bannerContent .btnTopoScroll {
  width: 36px;
  height: 36px;
  position: absolute;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 24px;
  left: 50%;
  margin-left: -18px;
  cursor: pointer;
  transition: border ease-in 300ms 200ms;
}

@media screen and (max-width: 900px) {
  .bannerContent .btnTopoScroll {
    display: none;
  }
}

.bannerContent .btnTopoScroll #Path_2208 {
  transition: stroke ease-in 300ms 200ms;
}

.bannerContent .btnTopoScroll:hover {
  border: 1px solid #FC4513;
}

.bannerContent .btnTopoScroll:hover #Path_2208 {
  stroke: #FC4513;
}

/***SOBRE****/
#sobre-o-curso {
  margin-top: 128px;
  margin-bottom: 64px;
}

@media screen and (max-width: 900px) {
  #sobre-o-curso {
    margin-top: 64px;
    margin-bottom: 48px;
  }
}

#sobre-o-curso .gridFlex {
  flex-wrap: wrap;
}

#sobre-o-curso h2 {
  color: #FC4513;
  margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
  #sobre-o-curso h2 {
    font: normal normal normal 28px/36px Frank Ruhl Libre;
  }
}

#sobre-o-curso .TxtSobre {
  flex-basis: 68.38%;
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  #sobre-o-curso .TxtSobre {
    flex-basis: 100%;
    padding-right: 0;
  }
}

#sobre-o-curso .TxtSobre .contItem > p {
  max-width: 658px;
}

#sobre-o-curso .TxtSobre h3 {
  margin-top: 36px;
  color: #FC4513;
  font-size: 18px;
}

#sobre-o-curso .TxtSobre .acordeonPrograma .itemAcordeon {
  margin-top: 16px;
  max-width: 570px;
}

@media screen and (max-width: 900px) {
  #sobre-o-curso .TxtSobre .acordeonPrograma .itemAcordeon {
    max-width: 100%;
  }
}

#sobre-o-curso .TxtSobre .acordeonPrograma .itemAcordeon .titleAcordeon {
  display: flex;
  flex-wrap: wrap;
  height: 48px;
  border: 1px solid #CCCCCC;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#sobre-o-curso .TxtSobre .acordeonPrograma .itemAcordeon .titleAcordeon h4 {
  font: normal normal 500 16px/20px Frank Ruhl Libre;
  letter-spacing: 0px;
  color: #666666;
}

#sobre-o-curso .TxtSobre .acordeonPrograma .itemAcordeon .contentAcordeon {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 24px;
  display: none;
}

#sobre-o-curso .cardCurso {
  flex-basis: 31.62%;
}

@media screen and (max-width: 900px) {
  #sobre-o-curso .cardCurso {
    flex-basis: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
  }
}

/***VANTAGENS***/
#vantagens {
  margin-top: 64px;
}

#vantagens .gridFlex {
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 650px) {
  #vantagens .gridFlex {
    flex-wrap: wrap;
  }
}

#vantagens .gridFlex .itemVantagem {
  padding: 0px 15px;
  flex-basis: 25%;
}

@media screen and (max-width: 650px) {
  #vantagens .gridFlex .itemVantagem {
    flex-basis: 100%;
    margin-bottom: 36px;
  }
}

#vantagens .gridFlex .itemVantagem .contentItem h3 {
  color: #FC4513;
  margin-top: 36px;
  font-size: 20px;
  margin-bottom: 16px;
}

@media screen and (max-width: 650px) {
  #vantagens .gridFlex .itemVantagem .contentItem h3 {
    margin-top: 16px;
  }
}

#vantagens .gridFlex .itemVantagem .contentItem .icon {
  display: flex;
  align-items: first baseline;
  height: 84px;
}

/***AULA ESPECIAL**/
#aula-especial {
  background: #FC4513;
  margin-top: 124px;
  margin-bottom: 64px;
  padding: 64px 0px;
}

@media screen and (max-width: 650px) {
  #aula-especial {
    margin-top: 32px;
  }
}

@media screen and (max-width: 900px) {
  #aula-especial {
    padding: 48px 0px 96px 0px;
    margin-bottom: 48px;
  }
}

#aula-especial h2 {
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  #aula-especial h2 {
    font: normal normal normal 28px/36px Frank Ruhl Libre;
  }
}

#aula-especial h2 strong {
  font-weight: 500;
}

#aula-especial #MyPlayer {
  height: 658px;
  width: 100%;
  display: block;
}

/****PROXIMOS CURSOS****/
#proximosCursos h2 {
  color: #666666;
}

@media screen and (max-width: 900px) {
  #proximosCursos h2 {
    font: normal normal normal 28px/36px Frank Ruhl Libre;
  }
}

#proximosCursos .todoCarroselCursos {
  margin-left: -15px;
  margin-right: -15px;
}

#proximosCursos .todoCarroselCursos .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

#proximosCursos .todoCarroselCursos .slick-dots li {
  margin-right: 6px;
}

#proximosCursos .todoCarroselCursos .slick-dots li button {
  color: transparent;
  width: 24px;
  height: 6px;
  background: #B9B9B9 0% 0% no-repeat padding-box;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

#proximosCursos .todoCarroselCursos .slick-dots li.slick-active button {
  background: #8D8D8D 0% 0% no-repeat padding-box;
  width: 48px;
}

#proximosCursos .todoCarroselCursos .slick-dots li:last-of-type {
  margin-right: 0px;
}

#proximosCursos .todoCarroselCursos .itemCurso {
  padding: 0px 15px;
  height: auto;
}

@media screen and (max-width: 900px) {
  #proximosCursos .todoCarroselCursos .itemCurso {
    width: 400px;
  }
}

footer {
  background: #1C2834;
  margin-top: 196px;
  padding-top: 96px;
  padding-bottom: 124px;
}

@media screen and (max-width: 900px) {
  footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

footer .separador {
  background: #49535d;
  margin-top: 96px;
  margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
  footer .separador {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

footer .gridFlex {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  footer .gridFlex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  footer .gridFlex .logo {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  footer .gridFlex .menu {
    flex-basis: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  footer .gridFlex .social {
    flex-basis: 100%;
    text-align: center;
  }
}

footer .copyright p {
  font: normal normal normal 14px/32px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  footer .btnTopo {
    flex-basis: 100%;
  }
}

footer .btnSecundario {
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 48px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 16px/20px Frank Ruhl Libre;
}

@media screen and (max-width: 900px) {
  footer .btnSecundario {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
  }
}

footer .btnSecundario i {
  margin-left: 12.75px;
}

footer .btnSecundario i svg {
  transform: rotate(180deg);
}

footer nav.menu a {
  font: normal normal normal 16px/32px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  transition: color ease-in 300ms 200ms;
}

footer nav.menu a:hover {
  color: #FC4513;
}

@media screen and (max-width: 900px) {
  footer nav.menu {
    margin-top: 48px;
  }
}

@media screen and (max-width: 900px) {
  footer nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }
}

footer nav ul li {
  margin-right: 36px;
}

@media screen and (max-width: 900px) {
  footer nav ul li {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 36px;
  }
}

footer nav ul li:last-of-type {
  margin-right: 0px;
}

footer .social {
  margin-top: 16px;
}

@media screen and (max-width: 900px) {
  footer .social li {
    flex-basis: auto;
    text-align: center;
    margin-right: 36px;
  }
}

@media screen and (max-width: 900px) {
  footer .social li:last-of-type {
    margin-right: 0px;
  }
}

footer .social a:hover path {
  fill: #FC4513;
}

footer .social a path {
  transition: fill ease-in 300ms 200ms;
}

/****FAIXA RODAPE*****/
#FaixaFixa {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #ffffff;
  padding: 15px 0px;
  z-index: 999999;
  box-shadow: -5px -5px 25px #0618441A;
  display: none;
}

#FaixaFixa.faixaAtivo {
  display: block;
}

#FaixaFixa .gridFlex {
  justify-content: space-between;
  align-items: center;
}

#FaixaFixa .gridFlex .inscreva-seBtn {
  margin-right: 28px;
}

@media screen and (max-width: 350px) {
  #FaixaFixa .gridFlex .inscreva-seBtn {
    margin-right: 10px;
  }
}

#FaixaFixa .gridFlex .inscreva-seBtn .btn {
  width: 370px;
  height: 56px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  font-family: 'Frank Ruhl Libre', serif;
  display: block;
  transition: opacity ease-in 300ms 200ms;
}

@media screen and (max-width: 900px) {
  #FaixaFixa .gridFlex .inscreva-seBtn .btn {
    width: 124px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
  }
}

#FaixaFixa .gridFlex .inscreva-seBtn .btn:hover {
  opacity: .8;
}

#FaixaFixa .btns {
  display: flex;
  align-items: center;
}

#FaixaFixa .btns .closeFaixa {
  cursor: pointer;
}

#FaixaFixa .inscreva-se h4 {
  font: normal normal 400 20px/26px Frank Ruhl Libre;
  letter-spacing: 0px;
  color: #666666;
}

@media screen and (max-width: 900px) {
  #FaixaFixa .inscreva-se h4 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #666666;
    font-weight: 500;
    max-width: 196px;
  }
}

@media screen and (max-width: 410px) {
  #FaixaFixa .inscreva-se h4 {
    max-width: 150px;
  }
}

@media screen and (max-width: 320px) {
  #FaixaFixa .inscreva-se h4 {
    max-width: 130px;
  }
}

#FaixaFixa .inscreva-se p {
  margin-top: 8px;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #FC4513;
}

@media screen and (max-width: 900px) {
  #FaixaFixa .inscreva-se p {
    display: none;
  }
}

.grecaptcha-badge{
    display:none;
}

.mensagemForm{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 52px 30px;
    margin-top: 48px;
}

.mensagemSuccess{
    box-shadow: 5px 5px 25px #EBEBEB33;
    border: 1px solid #515A63;
}

.mensagemErro{
    box-shadow: 5px 5px 25px #EBEBEB33;
    border: solid 1px #FC4613;
}

#loader{
    color:#ffffff;
}

.instructor-prefix{
    font-size: 16px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

.instructors-names{
    font-size: 16px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-weight: 500;
}