.faceted-posts-search {
    --primary-color: var(--primary);
    --primary-darker: #023E20;
    --primary-25: rgb(10 133 74 / 0.25);
    --accent-color:  var(--secondary);

    &__info-sort {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .quantity-info {
            margin: auto 0;

            @media (max-width: 780px) {
                font-size: 14px;
            }
        }

        .sorting-area {
            min-width: 265px;
            @media (max-width: 780px) {
                min-width: 150px;
                font-size: 14px;
            }
        }

        .filter__indicator {
            cursor: pointer;
        }
    }

    &__generic-sort {
        .faceted-posts-search__filters {
            .faceted-posts-search__filters-header {
                display: none;
            }

            .faceted-posts-search__filters-list {
                display: block;
            }
        }
    }

    &__filters {
        margin-bottom: 60px;

        .select__indicator {
            cursor: pointer;
        }
    }

    &__posts-area-wrapper {
        // Use attr to have more especificity 
        button[action="load-more-posts"] {
            width: 100%;
            background: var(--accent-color);
            color: white;
            height: 49px;
            font-size: 0.875rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        h2.no-posts-found {
            text-align: center;
        }
    }
}