body.tax-course_tag {
    .learn-press-courses {
        display: block;
        width: 100%;
    }
}

div.faceted-posts-search {
    width: 100%;

    &__info-sort {
        .generic-selector {
            .filter__control {
                border-width: 0;
                box-shadow: none;

                .filter__indicator-separator {
                    visibility: hidden;
                }
            }
        }
    }

    &__posts-area-wrapper{
        margin: 0 -10px;
    }

    &__quick-select-field {
        display: block;

        button {
            border-color: white;
            border-radius: 0;
            background-color: white;
            color: var(--primary-highlight-color);
            font-size: 14px;
            margin-bottom: 8px;
            margin-right: 8px;
            padding: 8px 16px;

            &:hover {
                border-color: var(--primary-highlight-color);
                background-color: transparent;
            }

            &.active {
                background-color: var(--primary-highlight-color);
                border-color: var(--primary-highlight-color);
                color: white;
            }
        }
    }

    &__info-sort {
        display: none;
    }

    &__filters {
        border: 0;
        margin-bottom: 18px;
        padding-bottom: 0;
    }

    &__posts-list {
        @media (min-width: 420px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
        }

        @media (max-width: 829px) {
            grid-template-columns: 1fr;
        }

        &.no-results {
            grid-template-columns: 1fr;

            h2 {
                color: var(--primary-highlight-color);
                font-weight: 400;
                text-align: left;
            }
        }

        .card-course.col-sm-6 {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }

    button[action=load-more-posts] {
        border-radius: 0;
        color: var(--primary-highlight-color);
        display: block;
        font-size: var(--global-font-size);
        font-weight: bold;
        font-family: "Frank Ruhl Libre", serif;
        margin: 0 auto;
        text-transform: lowercase;
        width: auto;
    }
}

body.term-cursos-de-ferias {
    --c-ferias: #9B59B6;

    div.faceted-posts-search {

        &__posts-area-wrapper{
            margin: 0 -10px;
        }

        &__quick-select-field {
            button {
                color: var(--c-ferias);
                padding: 8px 16px!important;
                margin: 0 8px 8px 0;

                &:hover {
                    border-color: var(--c-ferias);
                    background-color: transparent;
                }

                &.active {
                    background-color: var(--c-ferias);
                    border-color: var(--c-ferias);
                    color: white;
                }
            }
        }

        &__posts-list {
            grid-gap: 0;
            .card-course{
                padding: 0 -10px;
            }
            &.no-results {
                h2 {
                    color: var(--c-ferias);
                }
            }
        }
    }
}

body.term-atividades {

    div.faceted-posts-search {
        &__posts-list {
            grid-template-columns: 1fr;
            grid-gap: 0;
        }
    }

}